This notebook contains neural network model utilization to generate election outcome predictions for the 2023 county dataset.

Please note: The loading and fitting of this algorithm was conducted remotely via Google Colab. As such, the 2023 county data was uploaded in memory for the session as well as the model itself ("Optimized_Model.keras") and the model's scaler ("Optimized_Model_Scaler.pkl") The cleaned 2023 county data can be found within the repository's 'Resource' directory titled, "2023_County_Final_With_Segments.csv".

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
!pip install keras-tuner
import keras_tuner as kt
import joblib

Collecting keras-tuner
  Downloading keras_tuner-1.4.7-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (3.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (24.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.32.3)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl.metadata (221 bytes)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (1.26.4)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (13.8.1)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (3.11.0)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.12.1)
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2024.8.30)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from optree->keras->keras-tuner) (4.12.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras->keras-tuner) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras->keras-tuner) (2.16.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras->keras-tuner) (0.1.2)
Downloading keras_tuner-1.4.7-py3-none-any.whl (129 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.1/129.1 kB 1.4 MB/s eta 0:00:00
Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.4.7 kt-legacy-1.0.5

In [2]:
# Import the optimized neural network model and its scaler
loaded_model = tf.keras.models.load_model('Optimized_Model.keras')

# Load the saved scaler
scaler = joblib.load('Optimized_Model_Scaler.pkl')

/usr/local/lib/python3.10/dist-packages/keras/src/saving/saving_lib.py:576: UserWarning: Skipping variable loading for optimizer 'adam', because it has 26 variables whereas the saved optimizer has 2 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

In [3]:
# Import the 2023 county data
county_data_2023 = pd.read_csv("2023_County_Final_With_Segments.csv")
county_data_2023

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,...,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months),Segment
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,...,0.096,0.821,0.035,0.079,0.141,0.000000,94.000000,49.000000,97.555556,2
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,...,0.090,0.811,0.039,0.110,0.144,9.000000,79.000000,35.000000,189.000000,0
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,...,0.103,0.769,0.027,0.106,0.186,30.000000,123.000000,9.000000,68.000000,1
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,...,0.102,0.801,0.027,0.100,0.174,0.000000,67.000000,26.000000,222.000000,2
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,...,0.084,0.786,0.052,0.104,0.155,6.000000,102.000000,45.000000,57.000000,2
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,...,0.102,0.757,0.032,0.147,0.189,0.000000,64.000000,49.000000,0.000000,1
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,...,0.096,0.823,0.036,0.066,0.129,0.000000,84.000000,30.000000,199.000000,0
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,...,0.092,0.781,0.043,0.087,0.145,0.000000,82.000000,34.000000,0.000000,2
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,...,0.105,0.748,0.042,0.120,0.216,7.000000,107.000000,39.000000,27.000000,1
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,...,0.096,0.773,0.065,0.118,0.200,6.589744,89.384615,32.102564,97.555556,1
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,...,0.066,0.650,0.036,0.212,0.132,0.000000,74.000000,60.000000,59.000000,1
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,...,0.085,0.836,0.029,0.061,0.109,2.000000,69.000000,50.000000,157.000000,0
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,...,0.097,0.734,0.020,0.155,0.192,11.000000,80.000000,28.000000,0.000000,1
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,...,0.081,0.788,0.057,0.119,0.114,0.000000,48.000000,8.000000,97.555556,2
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,...,0.105,0.752,0.031,0.112,0.191,0.000000,69.000000,15.000000,0.000000,1
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,...,0.095,0.813,0.028,0.084,0.143,0.000000,84.000000,24.000000,0.000000,2
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,...,0.080,0.815,0.046,0.114,0.152,0.000000,100.000000,24.000000,27.000000,2
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,...,0.081,0.788,0.060,0.102,0.154,26.000000,81.000000,38.000000,31.000000,0
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,...,0.090,0.740,0.040,0.130,0.190,0.000000,91.000000,45.000000,27.000000,1
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,...,0.099,0.699,0.036,0.179,0.225,0.000000,121.000000,15.000000,94.000000,1
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,...,0.101,0.807,0.046,0.078,0.178,0.000000,123.000000,13.000000,186.000000,2
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,...,0.093,0.686,0.056,0.167,0.183,0.000000,114.000000,17.000000,0.000000,1
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,...,0.098,0.738,0.029,0.164,0.198,9.000000,109.000000,25.000000,193.000000,1
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,...,0.106,0.826,0.031,0.076,0.149,1.000000,117.000000,61.000000,110.000000,2
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,...,0.110,0.754,0.043,0.129,0.200,20.000000,67.000000,25.000000,0.000000,1
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,...,0.104,0.828,0.022,0.078,0.146,0.000000,80.000000,21.000000,74.000000,2
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,...,0.083,0.795,0.048,0.110,0.150,0.000000,71.000000,30.000000,39.000000,2
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,...,0.093,0.752,0.047,0.150,0.191,0.000000,83.000000,22.000000,134.000000,1
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,...,0.094,0.783,0.048,0.118,0.188,40.000000,105.000000,17.000000,22.000000,1
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,...,0.111,0.737,0.051,0.104,0.170,0.000000,67.000000,34.000000,61.000000,1
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,...,0.085,0.770,0.067,0.089,0.186,0.000000,92.000000,40.000000,211.000000,2
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,...,0.092,0.828,0.034,0.065,0.120,2.000000,82.000000,54.000000,131.000000,0
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,...,0.092,0.784,0.045,0.078,0.130,0.000000,63.000000,34.000000,59.000000,2
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,...,0.103,0.716,0.028,0.122,0.169,0.000000,136.000000,32.000000,499.000000,1
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,...,0.071,0.774,0.064,0.191,0.205,14.000000,69.000000,35.000000,93.000000,3
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,...,0.093,0.736,0.057,0.126,0.204,0.000000,110.000000,33.000000,358.000000,1
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,...,0.110,0.743,0.054,0.108,0.192,61.000000,106.000000,18.000000,97.555556,1
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,...,0.097,0.805,0.030,0.081,0.165,0.000000,74.000000,61.000000,96.000000,2
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,...,0.110,0.809,0.037,0.102,0.166,19.000000,108.000000,35.000000,89.000000,2
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,...,0.087,0.835,0.036,0.075,0.166,0.000000,91.000000,22.000000,0.000000,2

In [4]:
# Drop the categorical 'County' information column to adjust the array's shape to match proper input dimensions within the model
county_data_2023_no_county = county_data_2023.drop('County', axis=1)
county_data_2023_no_county

,Year,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,% High School Graduate (18-24),...,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months),Segment
0,2023,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,0.398,...,0.096,0.821,0.035,0.079,0.141,0.000000,94.000000,49.000000,97.555556,2
1,2023,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,0.374,...,0.090,0.811,0.039,0.110,0.144,9.000000,79.000000,35.000000,189.000000,0
2,2023,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,0.471,...,0.103,0.769,0.027,0.106,0.186,30.000000,123.000000,9.000000,68.000000,1
3,2023,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,0.431,...,0.102,0.801,0.027,0.100,0.174,0.000000,67.000000,26.000000,222.000000,2
4,2023,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,0.473,...,0.084,0.786,0.052,0.104,0.155,6.000000,102.000000,45.000000,57.000000,2
5,2023,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,0.387,...,0.102,0.757,0.032,0.147,0.189,0.000000,64.000000,49.000000,0.000000,1
6,2023,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,0.395,...,0.096,0.823,0.036,0.066,0.129,0.000000,84.000000,30.000000,199.000000,0
7,2023,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,0.487,...,0.092,0.781,0.043,0.087,0.145,0.000000,82.000000,34.000000,0.000000,2
8,2023,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,0.359,...,0.105,0.748,0.042,0.120,0.216,7.000000,107.000000,39.000000,27.000000,1
9,2023,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,0.541,...,0.096,0.773,0.065,0.118,0.200,6.589744,89.384615,32.102564,97.555556,1
10,2023,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,0.159,...,0.066,0.650,0.036,0.212,0.132,0.000000,74.000000,60.000000,59.000000,1
11,2023,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,0.310,...,0.085,0.836,0.029,0.061,0.109,2.000000,69.000000,50.000000,157.000000,0
12,2023,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,0.555,...,0.097,0.734,0.020,0.155,0.192,11.000000,80.000000,28.000000,0.000000,1
13,2023,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,0.430,...,0.081,0.788,0.057,0.119,0.114,0.000000,48.000000,8.000000,97.555556,2
14,2023,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,0.338,...,0.105,0.752,0.031,0.112,0.191,0.000000,69.000000,15.000000,0.000000,1
15,2023,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,0.358,...,0.095,0.813,0.028,0.084,0.143,0.000000,84.000000,24.000000,0.000000,2
16,2023,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,0.387,...,0.080,0.815,0.046,0.114,0.152,0.000000,100.000000,24.000000,27.000000,2
17,2023,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,0.395,...,0.081,0.788,0.060,0.102,0.154,26.000000,81.000000,38.000000,31.000000,0
18,2023,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,0.394,...,0.090,0.740,0.040,0.130,0.190,0.000000,91.000000,45.000000,27.000000,1
19,2023,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,0.486,...,0.099,0.699,0.036,0.179,0.225,0.000000,121.000000,15.000000,94.000000,1
20,2023,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,0.447,...,0.101,0.807,0.046,0.078,0.178,0.000000,123.000000,13.000000,186.000000,2
21,2023,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,0.474,...,0.093,0.686,0.056,0.167,0.183,0.000000,114.000000,17.000000,0.000000,1
22,2023,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,0.390,...,0.098,0.738,0.029,0.164,0.198,9.000000,109.000000,25.000000,193.000000,1
23,2023,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,0.431,...,0.106,0.826,0.031,0.076,0.149,1.000000,117.000000,61.000000,110.000000,2
24,2023,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,0.508,...,0.110,0.754,0.043,0.129,0.200,20.000000,67.000000,25.000000,0.000000,1
25,2023,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,0.439,...,0.104,0.828,0.022,0.078,0.146,0.000000,80.000000,21.000000,74.000000,2
26,2023,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,0.419,...,0.083,0.795,0.048,0.110,0.150,0.000000,71.000000,30.000000,39.000000,2
27,2023,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,0.364,...,0.093,0.752,0.047,0.150,0.191,0.000000,83.000000,22.000000,134.000000,1
28,2023,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,0.319,...,0.094,0.783,0.048,0.118,0.188,40.000000,105.000000,17.000000,22.000000,1
29,2023,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,0.341,...,0.111,0.737,0.051,0.104,0.170,0.000000,67.000000,34.000000,61.000000,1
30,2023,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,0.415,...,0.085,0.770,0.067,0.089,0.186,0.000000,92.000000,40.000000,211.000000,2
31,2023,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,0.328,...,0.092,0.828,0.034,0.065,0.120,2.000000,82.000000,54.000000,131.000000,0
32,2023,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,0.257,...,0.092,0.784,0.045,0.078,0.130,0.000000,63.000000,34.000000,59.000000,2
33,2023,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,0.498,...,0.103,0.716,0.028,0.122,0.169,0.000000,136.000000,32.000000,499.000000,1
34,2023,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,0.368,...,0.071,0.774,0.064,0.191,0.205,14.000000,69.000000,35.000000,93.000000,3
35,2023,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,0.488,...,0.093,0.736,0.057,0.126,0.204,0.000000,110.000000,33.000000,358.000000,1
36,2023,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,0.659,...,0.110,0.743,0.054,0.108,0.192,61.000000,106.000000,18.000000,97.555556,1
37,2023,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,0.462,...,0.097,0.805,0.030,0.081,0.165,0.000000,74.000000,61.000000,96.000000,2
38,2023,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,0.414,...,0.110,0.809,0.037,0.102,0.166,19.000000,108.000000,35.000000,89.000000,2
39,2023,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,0.512,...,0.087,0.835,0.036,0.075,0.166,0.000000,91.000000,22.000000,0.000000,2

In [5]:
# Scale the 2023 county data using the pre-trained scaler from pre-trained optimized model
county_data_2023_scaled = scaler.transform(county_data_2023_no_county)

In [6]:
# Use the model to generate binary classifier predictions for out 2023 county data
predictions = loaded_model.predict(county_data_2023_scaled)
predictions

2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 112ms/step

array([[9.70640123e-01],
       [8.05732654e-08],
       [1.00000000e+00],
       [8.22325647e-01],
       [3.40105407e-03],
       [9.99651253e-01],
       [1.99324433e-08],
       [3.98554020e-02],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00950908e-03],
       [6.63155575e-09],
       [1.00000000e+00],
       [9.98186052e-01],
       [1.00000000e+00],
       [1.12160703e-03],
       [3.31239062e-06],
       [9.52363095e-08],
       [1.97967365e-01],
       [1.00000000e+00],
       [9.99958634e-01],
       [9.99991298e-01],
       [2.90348586e-02],
       [5.67630351e-01],
       [1.00000000e+00],
       [2.66924709e-01],
       [1.09168195e-05],
       [6.22951925e-01],
       [9.99993742e-01],
       [9.99995828e-01],
       [6.89870678e-04],
       [7.52033824e-10],
       [1.68916131e-06],
       [1.00000000e+00],
       [7.96800195e-11],
       [9.99999940e-01],
       [1.00000000e+00],
       [2.97777355e-01],
       [9.99983966e-01],
       [6.54804647e-01]], dtype=float32)

In [7]:
# As this is a binary classification model and outputs are probabilites, a threshold is applied for conversion to binary class (Threshold at 0.5)
# Democrat = 0
# Republican = 1
class_labels = (predictions > 0.5).astype(int)
print("Class Labels:", class_labels)

Class Labels: [[1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [1]]

In [8]:
# Interpretation of binary classification results
# Count the number of 1s (Republican)
number_of_ones = np.sum(class_labels == 1)

# Count the number of 0s (Democrat)
number_of_zeros = np.sum(class_labels == 0)

# Total number of counties
total_counties = class_labels.size

print(f"Total # of Counties: {total_counties}")
print(f"Number of Democratic Counties: {number_of_zeros}")
print(f"Number of Republican Counties: {number_of_ones}")

Total # of Counties: 40
Number of Democratic Counties: 18
Number of Republican Counties: 22

In [9]:
# Enriching 2023 county data with model prediction results
county_data_2023['winning_party D:0 R:1'] = class_labels
county_data_2023

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,...,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months),Segment,winning_party D:0 R:1
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,...,0.821,0.035,0.079,0.141,0.000000,94.000000,49.000000,97.555556,2,1
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,...,0.811,0.039,0.110,0.144,9.000000,79.000000,35.000000,189.000000,0,0
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,...,0.769,0.027,0.106,0.186,30.000000,123.000000,9.000000,68.000000,1,1
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,...,0.801,0.027,0.100,0.174,0.000000,67.000000,26.000000,222.000000,2,1
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,...,0.786,0.052,0.104,0.155,6.000000,102.000000,45.000000,57.000000,2,0
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,...,0.757,0.032,0.147,0.189,0.000000,64.000000,49.000000,0.000000,1,1
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,...,0.823,0.036,0.066,0.129,0.000000,84.000000,30.000000,199.000000,0,0
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,...,0.781,0.043,0.087,0.145,0.000000,82.000000,34.000000,0.000000,2,0
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,...,0.748,0.042,0.120,0.216,7.000000,107.000000,39.000000,27.000000,1,1
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,...,0.773,0.065,0.118,0.200,6.589744,89.384615,32.102564,97.555556,1,1
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,...,0.650,0.036,0.212,0.132,0.000000,74.000000,60.000000,59.000000,1,0
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,...,0.836,0.029,0.061,0.109,2.000000,69.000000,50.000000,157.000000,0,0
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,...,0.734,0.020,0.155,0.192,11.000000,80.000000,28.000000,0.000000,1,1
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,...,0.788,0.057,0.119,0.114,0.000000,48.000000,8.000000,97.555556,2,1
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,...,0.752,0.031,0.112,0.191,0.000000,69.000000,15.000000,0.000000,1,1
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,...,0.813,0.028,0.084,0.143,0.000000,84.000000,24.000000,0.000000,2,0
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,...,0.815,0.046,0.114,0.152,0.000000,100.000000,24.000000,27.000000,2,0
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,...,0.788,0.060,0.102,0.154,26.000000,81.000000,38.000000,31.000000,0,0
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,...,0.740,0.040,0.130,0.190,0.000000,91.000000,45.000000,27.000000,1,0
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,...,0.699,0.036,0.179,0.225,0.000000,121.000000,15.000000,94.000000,1,1
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,...,0.807,0.046,0.078,0.178,0.000000,123.000000,13.000000,186.000000,2,1
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,...,0.686,0.056,0.167,0.183,0.000000,114.000000,17.000000,0.000000,1,1
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,...,0.738,0.029,0.164,0.198,9.000000,109.000000,25.000000,193.000000,1,0
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,...,0.826,0.031,0.076,0.149,1.000000,117.000000,61.000000,110.000000,2,1
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,...,0.754,0.043,0.129,0.200,20.000000,67.000000,25.000000,0.000000,1,1
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,...,0.828,0.022,0.078,0.146,0.000000,80.000000,21.000000,74.000000,2,0
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,...,0.795,0.048,0.110,0.150,0.000000,71.000000,30.000000,39.000000,2,0
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,...,0.752,0.047,0.150,0.191,0.000000,83.000000,22.000000,134.000000,1,1
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,...,0.783,0.048,0.118,0.188,40.000000,105.000000,17.000000,22.000000,1,1
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,...,0.737,0.051,0.104,0.170,0.000000,67.000000,34.000000,61.000000,1,1
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,...,0.770,0.067,0.089,0.186,0.000000,92.000000,40.000000,211.000000,2,0
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,...,0.828,0.034,0.065,0.120,2.000000,82.000000,54.000000,131.000000,0,0
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,...,0.784,0.045,0.078,0.130,0.000000,63.000000,34.000000,59.000000,2,0
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,...,0.716,0.028,0.122,0.169,0.000000,136.000000,32.000000,499.000000,1,1
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,...,0.774,0.064,0.191,0.205,14.000000,69.000000,35.000000,93.000000,3,0
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,...,0.736,0.057,0.126,0.204,0.000000,110.000000,33.000000,358.000000,1,1
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,...,0.743,0.054,0.108,0.192,61.000000,106.000000,18.000000,97.555556,1,1
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,...,0.805,0.030,0.081,0.165,0.000000,74.000000,61.000000,96.000000,2,0
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,...,0.809,0.037,0.102,0.166,19.000000,108.000000,35.000000,89.000000,2,1
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,...,0.835,0.036,0.075,0.166,0.000000,91.000000,22.000000,0.000000,2,1

In [10]:
# Exporting 2023 enriched dataset with county predictions
county_data_2023.to_csv('2023_County_Final_With_Segments_And_Predictions.csv', index=False)