In [20]:
#import dependencies
from pathlib import Path
import pandas as pd
import numpy as np

In [21]:
#read in CSV of Complete_County_Dataset
data = Path('/Users/kristin/Documents/Project_4/Resources/Complete_County_Dataset.csv')
df = pd.read_csv(data)
df.head()

,Unnamed: 0,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,...,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months),winning_party D:0 R:1,Segment
0,0,2012,ADAMS,0.492,0.508,0.486,0.514,0.964249,0.020429,0.005107,...,0.801,0.055,0.086,0.151,82.0,100.0,14.0,99.0,1,1
1,1,2012,ALLEGHENY,0.480,0.520,0.473,0.527,0.815505,0.142296,0.006869,...,0.783,0.074,0.118,0.141,11.0,83.0,19.0,184.0,0,1
2,2,2012,ARMSTRONG,0.496,0.504,0.493,0.507,0.977205,0.013875,0.005946,...,0.750,0.085,0.122,0.192,38.0,90.0,5.0,155.0,1,0
3,3,2012,BEAVER,0.483,0.517,0.477,0.523,0.913300,0.074877,0.004926,...,0.786,0.083,0.100,0.162,40.0,121.0,15.0,26.0,1,0
4,4,2012,BERKS,0.491,0.509,0.484,0.516,0.907676,0.063278,0.010373,...,0.796,0.095,0.127,0.142,13.0,109.0,20.0,174.0,1,0

In [22]:
#drop unnecessary columns
columns_to_keep = ['Year', 'County', 'winning_party D:0 R:1',]
county_df_filtered = df.drop(columns=[col for col in df.columns if col not in columns_to_keep])
county_df_filtered

     Year        County  winning_party D:0 R:1
0    2012         ADAMS                      1
1    2012     ALLEGHENY                      0
2    2012     ARMSTRONG                      1
3    2012        BEAVER                      1
4    2012         BERKS                      1
..    ...           ...                    ...
155  2023    SCHUYLKILL                      1
156  2023      SOMERSET                      1
157  2023    WASHINGTON                      0
158  2023  WESTMORELAND                      1
159  2023          YORK                      1

[160 rows x 3 columns]

In [23]:
#filter to just 2023 data
county_data_2023 = county_df_filtered[county_df_filtered['Year'] == 2023]
county_data_2023

     Year          County  winning_party D:0 R:1
120  2023           ADAMS                      1
121  2023       ALLEGHENY                      0
122  2023       ARMSTRONG                      1
123  2023          BEAVER                      1
124  2023           BERKS                      0
125  2023           BLAIR                      1
126  2023           BUCKS                      0
127  2023          BUTLER                      0
128  2023         CAMBRIA                      1
129  2023          CARBON                      1
130  2023          CENTRE                      0
131  2023         CHESTER                      0
132  2023      CLEARFIELD                      1
133  2023        COLUMBIA                      1
134  2023        CRAWFORD                      1
135  2023      CUMBERLAND                      0
136  2023         DAUPHIN                      0
137  2023        DELAWARE                      0
138  2023            ERIE                      0
139  2023         FAYETTE                      1
140  2023        FRANKLIN                      1
141  2023         INDIANA                      1
142  2023      LACKAWANNA                      0
143  2023       LANCASTER                      1
144  2023        LAWRENCE                      1
145  2023         LEBANON                      0
146  2023          LEHIGH                      0
147  2023         LUZERNE                      1
148  2023        LYCOMING                      1
149  2023          MERCER                      1
150  2023          MONROE                      0
151  2023      MONTGOMERY                      0
152  2023     NORTHAMPTON                      0
153  2023  NORTHUMBERLAND                      1
154  2023    PHILADELPHIA                      0
155  2023      SCHUYLKILL                      1
156  2023        SOMERSET                      1
157  2023      WASHINGTON                      0
158  2023    WESTMORELAND                      1
159  2023            YORK                      1

In [24]:
#create array of model predictions as raw probability figure
array = np.array([[0.970640123],
       [0.000000081],
       [1.000000000],
       [0.822325647],
       [0.003401054],
       [0.999651253],
       [0.000000020],
       [0.039855402],
       [1.000000000],
       [1.000000000],
       [0.001009509],
       [0.000000007],
       [1.000000000],
       [0.998186052],
       [1.000000000],
       [0.001121607],
       [0.000003312],
       [0.000000095],
       [0.197967365],
       [1.000000000],
       [0.999958634],
       [0.999991298],
       [0.029034858],
       [0.567630351],
       [1.000000000],
       [0.266924709],
       [0.000010917],
       [0.622951925],
       [0.999993742],
       [0.999995828],
       [0.000689871],
       [0.000000075],
       [0.000001689],
       [1.000000000],
       [0.000000008],
       [0.999999940],
       [1.000000000],
       [0.297777355],
       [0.999983966],
       [0.654804647]])


# Suppress scientific notation, set precision to 9 digits
np.set_printoptions(suppress=True, precision=15)  

# Convert each array element to string 
string_arr = np.array([["{:.9f}".format(x[0]) for x in array]])
string_arr

array([['0.970640123', '0.000000081', '1.000000000', '0.822325647',
        '0.003401054', '0.999651253', '0.000000020', '0.039855402',
        '1.000000000', '1.000000000', '0.001009509', '0.000000007',
        '1.000000000', '0.998186052', '1.000000000', '0.001121607',
        '0.000003312', '0.000000095', '0.197967365', '1.000000000',
        '0.999958634', '0.999991298', '0.029034858', '0.567630351',
        '1.000000000', '0.266924709', '0.000010917', '0.622951925',
        '0.999993742', '0.999995828', '0.000689871', '0.000000075',
        '0.000001689', '1.000000000', '0.000000008', '0.999999940',
        '1.000000000', '0.297777355', '0.999983966', '0.654804647']],
      dtype='<U11')

In [25]:
# Flatten the array to ensure it's 1D
flattened_arr = string_arr.flatten()

# Add the array as a new column to the DataFrame
county_data_2023['prediction_strength'] = flattened_arr
county_data_2023

/var/folders/51/t2n86j217p3_0stlzrb0wsw80000gn/T/ipykernel_1099/3095803033.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_data_2023['prediction_strength'] = flattened_arr

     Year          County  winning_party D:0 R:1 prediction_strength
120  2023           ADAMS                      1         0.970640123
121  2023       ALLEGHENY                      0         0.000000081
122  2023       ARMSTRONG                      1         1.000000000
123  2023          BEAVER                      1         0.822325647
124  2023           BERKS                      0         0.003401054
125  2023           BLAIR                      1         0.999651253
126  2023           BUCKS                      0         0.000000020
127  2023          BUTLER                      0         0.039855402
128  2023         CAMBRIA                      1         1.000000000
129  2023          CARBON                      1         1.000000000
130  2023          CENTRE                      0         0.001009509
131  2023         CHESTER                      0         0.000000007
132  2023      CLEARFIELD                      1         1.000000000
133  2023        COLUMBIA                      1         0.998186052
134  2023        CRAWFORD                      1         1.000000000
135  2023      CUMBERLAND                      0         0.001121607
136  2023         DAUPHIN                      0         0.000003312
137  2023        DELAWARE                      0         0.000000095
138  2023            ERIE                      0         0.197967365
139  2023         FAYETTE                      1         1.000000000
140  2023        FRANKLIN                      1         0.999958634
141  2023         INDIANA                      1         0.999991298
142  2023      LACKAWANNA                      0         0.029034858
143  2023       LANCASTER                      1         0.567630351
144  2023        LAWRENCE                      1         1.000000000
145  2023         LEBANON                      0         0.266924709
146  2023          LEHIGH                      0         0.000010917
147  2023         LUZERNE                      1         0.622951925
148  2023        LYCOMING                      1         0.999993742
149  2023          MERCER                      1         0.999995828
150  2023          MONROE                      0         0.000689871
151  2023      MONTGOMERY                      0         0.000000075
152  2023     NORTHAMPTON                      0         0.000001689
153  2023  NORTHUMBERLAND                      1         1.000000000
154  2023    PHILADELPHIA                      0         0.000000008
155  2023      SCHUYLKILL                      1         0.999999940
156  2023        SOMERSET                      1         1.000000000
157  2023      WASHINGTON                      0         0.297777355
158  2023    WESTMORELAND                      1         0.999983966
159  2023            YORK                      1         0.654804647

In [27]:
# Export the DataFrame as a CSV file. 
county_data_2023.to_csv("Resources/county_data_2023.csv", encoding='utf8', index=False)