This notebook contains the entire ETL pipeline executed to generate the 2023 county data required for model extrapolation. The process is identical to how the model training/test data (2012, 2016 & 2019 - "County_Final_With_Outcomes_And_Segments") was prepared.

In [1]:
import pandas as pd
import numpy as np
import hvplot.pandas
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer

**Demographic Data Extraction, Transformation & Loading (2023)**
-
-----------

In [2]:
# Reading in 2023 U.S. Census Bureau demographic dataset
initial_pa_demographic_2023 = pd.read_excel("Resources/PA_Demographics_2023.xlsx")
initial_pa_demographic_2023.head(100)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,Label,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,...,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total population,"106,748","1,224,825","64,074","165,631","432,821","120,273","645,984","198,413","130,668",...,"166,053","868,742","319,091","90,120","1,550,542","143,786","72,197","210,232","351,163","464,640"
3,Male,49.2%,48.8%,49.9%,49.5%,49.5%,49.7%,49.5%,49.8%,49.8%,...,51.0%,49.0%,49.6%,51.1%,47.3%,51.5%,51.8%,49.3%,49.4%,49.8%
4,Female,50.8%,51.2%,50.1%,50.5%,50.5%,50.3%,50.5%,50.2%,50.2%,...,49.0%,51.0%,50.4%,48.9%,52.7%,48.5%,48.2%,50.7%,50.6%,50.2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Total housing units,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
96,"CITIZEN, VOTING AGE POPULATION",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,"Citizen, 18 and over population","84,365","964,197","52,011","132,875","317,905","95,685","496,444","158,968","105,069",...,"129,834","648,145","248,741","71,155","1,128,301","112,585","58,668","167,243","286,130","354,959"
98,Male,49.1%,48.1%,49.7%,48.9%,48.7%,49.2%,49.2%,49.3%,49.2%,...,50.0%,48.3%,48.9%,51.1%,45.7%,51.8%,52.2%,49.0%,49.0%,49.3%
99,Female,50.9%,51.9%,50.3%,51.1%,51.3%,50.8%,50.8%,50.7%,50.8%,...,50.0%,51.7%,51.1%,48.9%,54.3%,48.2%,47.8%,51.0%,51.0%,50.7%

In [3]:
# Retrieving only rows that contain the desired county summary demographic statistics
# % Male, % Female, % Male > 18 Years Old, % Female > 18 Years Old, % White, % Black or African American, % American Indian and Alaska Native, % Asian
initial_pa_demographic_2023 = initial_pa_demographic_2023.iloc[[3, 4, 27, 28, 39, 40, 41, 49], :]
initial_pa_demographic_2023.head(8)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
3,Male,49.2%,48.8%,49.9%,49.5%,49.5%,49.7%,49.5%,49.8%,49.8%,...,51.0%,49.0%,49.6%,51.1%,47.3%,51.5%,51.8%,49.3%,49.4%,49.8%
4,Female,50.8%,51.2%,50.1%,50.5%,50.5%,50.3%,50.5%,50.2%,50.2%,...,49.0%,51.0%,50.4%,48.9%,52.7%,48.5%,48.2%,50.7%,50.6%,50.2%
27,Male,49.0%,48.2%,49.7%,48.7%,49.0%,49.2%,49.0%,49.4%,49.4%,...,49.9%,48.4%,49.1%,50.8%,46.3%,51.9%,51.9%,49.1%,49.0%,49.2%
28,Female,51.0%,51.8%,50.3%,51.3%,51.0%,50.8%,51.0%,50.6%,50.6%,...,50.1%,51.6%,50.9%,49.2%,53.7%,48.1%,48.1%,50.9%,51.0%,50.8%
39,White,88.2%,75.9%,95.1%,85.9%,69.2%,90.5%,80.9%,92.8%,90.6%,...,62.6%,72.3%,72.3%,89.1%,34.6%,86.2%,94.2%,90.3%,92.2%,80.2%
40,Black or African American,1.3%,12.5%,0.6%,5.4%,4.1%,2.4%,3.2%,0.9%,3.2%,...,14.4%,9.9%,5.4%,2.0%,39.5%,3.3%,2.2%,2.8%,2.7%,5.3%
41,American Indian and Alaska Native,0.4%,0.1%,0.0%,0.2%,0.7%,0.0%,0.2%,0.3%,0.0%,...,0.2%,0.2%,0.2%,0.0%,0.5%,0.2%,0.0%,0.4%,0.1%,0.1%
49,Asian,0.8%,4.2%,0.1%,0.3%,1.4%,0.8%,5.0%,1.4%,0.4%,...,2.7%,7.9%,3.3%,0.6%,8.0%,0.5%,0.7%,1.4%,0.9%,1.4%

In [4]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_demographic_2023 = initial_pa_demographic_2023.T
initial_pa_demographic_2023.head()

,3,4,27,28,39,40,41,49
Unnamed: 0,Male,Female,Male,Female,White,Black or African American,American Indian and Alaska Native,Asian
"Adams County, Pennsylvania",49.2%,50.8%,49.0%,51.0%,88.2%,1.3%,0.4%,0.8%
"Allegheny County, Pennsylvania",48.8%,51.2%,48.2%,51.8%,75.9%,12.5%,0.1%,4.2%
"Armstrong County, Pennsylvania",49.9%,50.1%,49.7%,50.3%,95.1%,0.6%,0.0%,0.1%
"Beaver County, Pennsylvania",49.5%,50.5%,48.7%,51.3%,85.9%,5.4%,0.2%,0.3%

In [5]:
# Resetting index and renaming to create a 'County' column
initial_pa_demographic_2023 = initial_pa_demographic_2023.reset_index()
initial_pa_demographic_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_demographic_2023.head()

,County,3,4,27,28,39,40,41,49
0,Unnamed: 0,Male,Female,Male,Female,White,Black or African American,American Indian and Alaska Native,Asian
1,"Adams County, Pennsylvania",49.2%,50.8%,49.0%,51.0%,88.2%,1.3%,0.4%,0.8%
2,"Allegheny County, Pennsylvania",48.8%,51.2%,48.2%,51.8%,75.9%,12.5%,0.1%,4.2%
3,"Armstrong County, Pennsylvania",49.9%,50.1%,49.7%,50.3%,95.1%,0.6%,0.0%,0.1%
4,"Beaver County, Pennsylvania",49.5%,50.5%,48.7%,51.3%,85.9%,5.4%,0.2%,0.3%

In [6]:
# Confirming column data types prior to renaming
print(initial_pa_demographic_2023.columns)

Index(['County', 3, 4, 27, 28, 39, 40, 41, 49], dtype='object')

In [7]:
# Converting column data types from integers to strings for renaming
initial_pa_demographic_2023.columns = initial_pa_demographic_2023.columns.astype(str)
print(initial_pa_demographic_2023.columns)

Index(['County', '3', '4', '27', '28', '39', '40', '41', '49'], dtype='object')

In [8]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_demographic_2023.replace('N', np.nan, inplace=True)

In [9]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_demographic_2023 = initial_pa_demographic_2023.rename(columns={'3': '% Male', '4': '% Female', '27': '% Male > 18 Years Old',
                                                                         '28': '% Female > 18 Years Old', '39': '% White', '40': '% Black or African American',
                                                                         '41': '% American Indian and Alaska Native', '49': '% Asian'})
initial_pa_demographic_2023 = initial_pa_demographic_2023.drop(0)
initial_pa_demographic_2023 = initial_pa_demographic_2023.reset_index(drop=True)
initial_pa_demographic_2023['County'] = initial_pa_demographic_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_demographic_2023['County'] = initial_pa_demographic_2023['County'].apply(lambda x: x.upper())
initial_pa_demographic_2023.insert(0, 'Year', 2023)
initial_pa_demographic_2023['% Male'] = initial_pa_demographic_2023['% Male'].str.rstrip('%').astype(float) / 100
initial_pa_demographic_2023['% Female'] = initial_pa_demographic_2023['% Female'].str.rstrip('%').astype(float) / 100
initial_pa_demographic_2023['% Male > 18 Years Old'] = initial_pa_demographic_2023['% Male > 18 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_demographic_2023['% Female > 18 Years Old'] = initial_pa_demographic_2023['% Female > 18 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_demographic_2023['% White'] = initial_pa_demographic_2023['% White'].str.rstrip('%').astype(float) / 100
initial_pa_demographic_2023['% Black or African American'] = initial_pa_demographic_2023['% Black or African American'].str.rstrip('%').astype(float) / 100
initial_pa_demographic_2023['% American Indian and Alaska Native'] = initial_pa_demographic_2023['% American Indian and Alaska Native'].str.rstrip('%').astype(float) / 100
initial_pa_demographic_2023['% Asian'] = initial_pa_demographic_2023['% Asian'].str.rstrip('%').astype(float) / 100
initial_pa_demographic_2023

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014

**Education Data Extraction, Transformation & Loading (2023)**
-
-----------

In [10]:
# Reading in 2023 U.S. Census Bureau education dataset
initial_pa_education_2023 = pd.read_excel("Resources/PA_Education_2023.xlsx")
initial_pa_education_2023.head(35)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,...,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,AGE BY EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Population 18 to 24 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,Less than high school graduate,12.5%,8.7%,17.1%,8.9%,10.9%,9.9%,10.8%,8.6%,8.1%,...,8.1%,10.1%,5.8%,14.8%,10.1%,13.6%,5.8%,8.4%,12.1%,9.4%
5,High school graduate (includes equivalency),39.8%,37.4%,47.1%,43.1%,47.3%,38.7%,39.5%,48.7%,35.9%,...,41.5%,32.8%,25.7%,49.8%,36.8%,48.8%,65.9%,46.2%,41.4%,51.2%
6,Some college or associate's degree,40.6%,35.7%,25.1%,35.1%,31.5%,41.8%,31.8%,31.5%,45.0%,...,38.0%,32.8%,53.2%,31.3%,37.7%,27.4%,24.1%,34.7%,38.0%,29.4%
7,Bachelor's degree or higher,7.1%,18.2%,10.7%,12.9%,10.2%,9.6%,17.9%,11.2%,11.0%,...,12.4%,24.3%,15.4%,4.1%,15.4%,10.2%,4.2%,10.7%,8.5%,10.0%
8,Population 25 years and over,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
9,Less than 9th grade,3.6%,1.3%,1.4%,0.9%,4.4%,2.6%,1.5%,2.0%,2.8%,...,3.1%,1.8%,1.9%,2.0%,4.6%,2.6%,2.5%,1.9%,1.1%,2.8%
10,"9th to 12th grade, no diploma",4.7%,2.2%,4.8%,2.6%,7.9%,5.2%,2.8%,3.9%,4.5%,...,6.7%,3.2%,3.8%,8.3%,7.3%,7.6%,7.1%,3.4%,3.1%,5.7%
11,High school graduate (includes equivalency),40.2%,24.9%,45.7%,36.9%,37.2%,46.7%,28.2%,31.9%,42.1%,...,36.2%,21.4%,33.4%,47.5%,30.3%,45.5%,51.1%,34.5%,36.1%,37.6%
12,"Some college, no degree",17.1%,15.0%,16.0%,17.2%,14.8%,13.5%,14.8%,14.9%,15.6%,...,18.7%,13.6%,17.1%,13.7%,14.6%,12.7%,13.4%,15.0%,14.8%,15.1%
13,Associate's degree,10.5%,9.6%,11.9%,12.2%,8.8%,9.7%,8.5%,9.6%,11.0%,...,8.5%,7.6%,9.4%,9.2%,7.3%,11.5%,9.8%,12.5%,12.1%,9.7%
14,Bachelor's degree,14.2%,27.1%,13.6%,21.0%,16.9%,14.4%,26.3%,23.8%,14.3%,...,17.8%,29.3%,20.4%,13.2%,20.2%,12.7%,10.2%,19.5%,20.3%,18.5%
15,Graduate or professional degree,9.6%,19.9%,6.8%,9.2%,10.0%,7.9%,17.9%,14.0%,9.6%,...,9.0%,23.2%,14.0%,6.1%,15.5%,7.4%,6.0%,13.1%,12.5%,10.6%
16,High school graduate or higher,91.6%,96.4%,93.8%,96.5%,87.8%,92.2%,95.7%,94.1%,92.7%,...,90.2%,95.0%,94.3%,89.6%,88.0%,89.9%,90.5%,94.7%,95.8%,91.6%
17,Bachelor's degree or higher,23.9%,46.9%,20.3%,30.2%,26.9%,22.3%,44.2%,37.7%,24.0%,...,26.8%,52.5%,34.3%,19.3%,35.7%,20.1%,16.2%,32.7%,32.8%,29.2%
18,Population 25 to 34 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
19,High school graduate or higher,95.3%,98.3%,94.8%,96.9%,90.3%,94.2%,97.7%,91.8%,96.1%,...,92.8%,96.6%,98.8%,90.0%,94.3%,92.4%,93.9%,97.1%,97.0%,93.5%
20,Bachelor's degree or higher,24.6%,57.9%,25.3%,36.4%,25.9%,27.7%,50.1%,44.2%,28.2%,...,34.3%,56.3%,37.7%,24.8%,52.5%,20.8%,13.9%,42.3%,35.1%,32.8%
21,Population 35 to 44 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
22,High school graduate or higher,93.5%,96.2%,94.5%,97.1%,88.9%,94.2%,97.0%,93.2%,97.3%,...,87.9%,94.9%,93.9%,91.4%,91.5%,90.9%,89.8%,96.5%,95.3%,93.3%
23,Bachelor's degree or higher,24.5%,57.8%,23.8%,40.0%,33.9%,23.9%,56.7%,47.2%,31.7%,...,29.2%,60.8%,42.1%,25.3%,42.2%,23.8%,23.0%,40.3%,43.3%,34.2%
24,Population 45 to 64 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
25,High school graduate or higher,91.8%,96.7%,93.8%,97.4%,87.4%,91.4%,95.5%,96.0%,92.5%,...,91.1%,95.1%,94.3%,88.5%,85.1%,89.1%,90.1%,94.2%,96.6%,91.6%
26,Bachelor's degree or higher,24.2%,45.0%,18.7%,30.1%,27.9%,22.3%,43.6%,41.0%,22.9%,...,23.0%,52.9%,33.0%,17.9%,26.0%,20.8%,15.6%,30.4%,33.2%,27.9%
27,Population 65 years and over,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
28,High school graduate or higher,88.7%,94.8%,93.2%,95.0%,85.7%,91.2%,94.1%,93.5%,89.4%,...,88.9%,94.1%,92.0%,89.9%,81.6%,88.8%,89.6%,93.1%,94.5%,89.0%
29,Bachelor's degree or higher,22.8%,34.5%,18.3%,22.1%,21.5%,18.7%,34.5%,24.5%,19.9%,...,26.8%,43.7%,29.5%,15.0%,23.9%,16.7%,14.8%,26.3%,26.5%,25.1%
30,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,White alone,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32,High school graduate or higher,93.3%,97.2%,94.2%,96.7%,92.4%,92.9%,96.6%,94.6%,92.7%,...,90.9%,97.3%,95.9%,91.9%,93.9%,91.6%,91.2%,95.3%,96.2%,93.0%
33,Bachelor's degree or higher,24.1%,49.4%,20.8%,30.7%,29.7%,23.0%,43.7%,37.9%,24.4%,...,28.7%,55.1%,35.9%,19.1%,52.6%,21.6%,16.7%,33.4%,32.6%,29.0%
34,"White alone, not Hispanic or Latino",(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [11]:
# Retrieving only rows that contain the desired county summary demographic statistics
# % High School Graduate & % Bachelor's degree or higher for 18 to 24 years old and % High School Graduate or Higher and % Bachelor's degree or higher for the remaining age groups:
# 25 to 34, 35 to 44, 45 to 64 and 65 & older
initial_pa_education_2023 = initial_pa_education_2023.iloc[[5, 7, 19, 20, 22, 23, 25, 26, 28, 29], :]
initial_pa_education_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
5,High school graduate (includes equivalency),39.8%,37.4%,47.1%,43.1%,47.3%,38.7%,39.5%,48.7%,35.9%,...,41.5%,32.8%,25.7%,49.8%,36.8%,48.8%,65.9%,46.2%,41.4%,51.2%
7,Bachelor's degree or higher,7.1%,18.2%,10.7%,12.9%,10.2%,9.6%,17.9%,11.2%,11.0%,...,12.4%,24.3%,15.4%,4.1%,15.4%,10.2%,4.2%,10.7%,8.5%,10.0%
19,High school graduate or higher,95.3%,98.3%,94.8%,96.9%,90.3%,94.2%,97.7%,91.8%,96.1%,...,92.8%,96.6%,98.8%,90.0%,94.3%,92.4%,93.9%,97.1%,97.0%,93.5%
20,Bachelor's degree or higher,24.6%,57.9%,25.3%,36.4%,25.9%,27.7%,50.1%,44.2%,28.2%,...,34.3%,56.3%,37.7%,24.8%,52.5%,20.8%,13.9%,42.3%,35.1%,32.8%
22,High school graduate or higher,93.5%,96.2%,94.5%,97.1%,88.9%,94.2%,97.0%,93.2%,97.3%,...,87.9%,94.9%,93.9%,91.4%,91.5%,90.9%,89.8%,96.5%,95.3%,93.3%
23,Bachelor's degree or higher,24.5%,57.8%,23.8%,40.0%,33.9%,23.9%,56.7%,47.2%,31.7%,...,29.2%,60.8%,42.1%,25.3%,42.2%,23.8%,23.0%,40.3%,43.3%,34.2%
25,High school graduate or higher,91.8%,96.7%,93.8%,97.4%,87.4%,91.4%,95.5%,96.0%,92.5%,...,91.1%,95.1%,94.3%,88.5%,85.1%,89.1%,90.1%,94.2%,96.6%,91.6%
26,Bachelor's degree or higher,24.2%,45.0%,18.7%,30.1%,27.9%,22.3%,43.6%,41.0%,22.9%,...,23.0%,52.9%,33.0%,17.9%,26.0%,20.8%,15.6%,30.4%,33.2%,27.9%
28,High school graduate or higher,88.7%,94.8%,93.2%,95.0%,85.7%,91.2%,94.1%,93.5%,89.4%,...,88.9%,94.1%,92.0%,89.9%,81.6%,88.8%,89.6%,93.1%,94.5%,89.0%
29,Bachelor's degree or higher,22.8%,34.5%,18.3%,22.1%,21.5%,18.7%,34.5%,24.5%,19.9%,...,26.8%,43.7%,29.5%,15.0%,23.9%,16.7%,14.8%,26.3%,26.5%,25.1%

In [12]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_education_2023 = initial_pa_education_2023.T
initial_pa_education_2023.head()

,5,7,19,20,22,23,25,26,28,29
Unnamed: 0,High school graduate (includes equivalency),Bachelor's degree or higher,High school graduate or higher,Bachelor's degree or higher,High school graduate or higher,Bachelor's degree or higher,High school graduate or higher,Bachelor's degree or higher,High school graduate or higher,Bachelor's degree or higher
"Adams County, Pennsylvania",39.8%,7.1%,95.3%,24.6%,93.5%,24.5%,91.8%,24.2%,88.7%,22.8%
"Allegheny County, Pennsylvania",37.4%,18.2%,98.3%,57.9%,96.2%,57.8%,96.7%,45.0%,94.8%,34.5%
"Armstrong County, Pennsylvania",47.1%,10.7%,94.8%,25.3%,94.5%,23.8%,93.8%,18.7%,93.2%,18.3%
"Beaver County, Pennsylvania",43.1%,12.9%,96.9%,36.4%,97.1%,40.0%,97.4%,30.1%,95.0%,22.1%

In [13]:
# Resetting index and renaming to create a 'County' column
initial_pa_education_2023 = initial_pa_education_2023.reset_index()
initial_pa_education_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_education_2023.head()

,County,5,7,19,20,22,23,25,26,28,29
0,Unnamed: 0,High school graduate (includes equivalency),Bachelor's degree or higher,High school graduate or higher,Bachelor's degree or higher,High school graduate or higher,Bachelor's degree or higher,High school graduate or higher,Bachelor's degree or higher,High school graduate or higher,Bachelor's degree or higher
1,"Adams County, Pennsylvania",39.8%,7.1%,95.3%,24.6%,93.5%,24.5%,91.8%,24.2%,88.7%,22.8%
2,"Allegheny County, Pennsylvania",37.4%,18.2%,98.3%,57.9%,96.2%,57.8%,96.7%,45.0%,94.8%,34.5%
3,"Armstrong County, Pennsylvania",47.1%,10.7%,94.8%,25.3%,94.5%,23.8%,93.8%,18.7%,93.2%,18.3%
4,"Beaver County, Pennsylvania",43.1%,12.9%,96.9%,36.4%,97.1%,40.0%,97.4%,30.1%,95.0%,22.1%

In [14]:
# Confirming column data types prior to renaming
print(initial_pa_education_2023.columns)

Index(['County', 5, 7, 19, 20, 22, 23, 25, 26, 28, 29], dtype='object')

In [15]:
# Converting column data types from integers to strings for renaming
initial_pa_education_2023.columns = initial_pa_education_2023.columns.astype(str)
print(initial_pa_education_2023.columns)

Index(['County', '5', '7', '19', '20', '22', '23', '25', '26', '28', '29'], dtype='object')

In [16]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_education_2023.replace('N', np.nan, inplace=True)

In [17]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_education_2023 = initial_pa_education_2023.rename(columns={'5': '% High School Graduate (18-24)', '7': '% Bachelors Degree or Higher (18-24)', '19': '% High School Graduate or Higher (25-34)',
                                                                         '20': '% Bachelors Degree or Higher (25-34)', '22': '% High School Graduate or Higher (35-44)', '23': '% Bachelors Degree or Higher (35-44)',
                                                                         '25': '% High School Graduate or Higher (45-64)', '26': '% Bachelors Degree or Higher (45-64)',
                                                                         '28': '% High School Graduate or Higher (65 & Older)', '29': '% Bachelors Degree or Higher (65 & Older)'})
initial_pa_education_2023 = initial_pa_education_2023.drop(0)
initial_pa_education_2023 = initial_pa_education_2023.reset_index(drop=True)
initial_pa_education_2023['County'] = initial_pa_education_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_education_2023['County'] = initial_pa_education_2023['County'].apply(lambda x: x.upper())
initial_pa_education_2023.insert(0, 'Year', 2023)
initial_pa_education_2023['% High School Graduate (18-24)'] = initial_pa_education_2023['% High School Graduate (18-24)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% Bachelors Degree or Higher (18-24)'] = initial_pa_education_2023['% Bachelors Degree or Higher (18-24)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% High School Graduate or Higher (25-34)'] = initial_pa_education_2023['% High School Graduate or Higher (25-34)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% Bachelors Degree or Higher (25-34)'] = initial_pa_education_2023['% Bachelors Degree or Higher (25-34)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% High School Graduate or Higher (35-44)'] = initial_pa_education_2023['% High School Graduate or Higher (35-44)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% Bachelors Degree or Higher (35-44)'] = initial_pa_education_2023['% Bachelors Degree or Higher (35-44)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% High School Graduate or Higher (45-64)'] = initial_pa_education_2023['% High School Graduate or Higher (45-64)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% Bachelors Degree or Higher (45-64)'] = initial_pa_education_2023['% Bachelors Degree or Higher (45-64)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% High School Graduate or Higher (65 & Older)'] = initial_pa_education_2023['% High School Graduate or Higher (65 & Older)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023['% Bachelors Degree or Higher (65 & Older)'] = initial_pa_education_2023['% Bachelors Degree or Higher (65 & Older)'].str.rstrip('%').astype(float) / 100
initial_pa_education_2023

,Year,County,% High School Graduate (18-24),% Bachelors Degree or Higher (18-24),% High School Graduate or Higher (25-34),% Bachelors Degree or Higher (25-34),% High School Graduate or Higher (35-44),% Bachelors Degree or Higher (35-44),% High School Graduate or Higher (45-64),% Bachelors Degree or Higher (45-64),% High School Graduate or Higher (65 & Older),% Bachelors Degree or Higher (65 & Older)
0,2023,ADAMS,0.398,0.071,0.953,0.246,0.935,0.245,0.918,0.242,0.887,0.228
1,2023,ALLEGHENY,0.374,0.182,0.983,0.579,0.962,0.578,0.967,0.450,0.948,0.345
2,2023,ARMSTRONG,0.471,0.107,0.948,0.253,0.945,0.238,0.938,0.187,0.932,0.183
3,2023,BEAVER,0.431,0.129,0.969,0.364,0.971,0.400,0.974,0.301,0.950,0.221
4,2023,BERKS,0.473,0.102,0.903,0.259,0.889,0.339,0.874,0.279,0.857,0.215
5,2023,BLAIR,0.387,0.096,0.942,0.277,0.942,0.239,0.914,0.223,0.912,0.187
6,2023,BUCKS,0.395,0.179,0.977,0.501,0.970,0.567,0.955,0.436,0.941,0.345
7,2023,BUTLER,0.487,0.112,0.918,0.442,0.932,0.472,0.960,0.410,0.935,0.245
8,2023,CAMBRIA,0.359,0.110,0.961,0.282,0.973,0.317,0.925,0.229,0.894,0.199
9,2023,CARBON,0.541,0.079,0.951,0.239,0.925,0.232,0.897,0.176,0.908,0.140
10,2023,CENTRE,0.159,0.074,0.945,0.583,0.918,0.487,0.951,0.439,0.955,0.441
11,2023,CHESTER,0.310,0.206,0.947,0.620,0.941,0.644,0.950,0.612,0.945,0.459
12,2023,CLEARFIELD,0.555,0.123,0.895,0.268,0.939,0.222,0.912,0.179,0.913,0.225
13,2023,COLUMBIA,0.430,0.086,0.966,0.335,0.947,0.410,0.942,0.283,0.901,0.160
14,2023,CRAWFORD,0.338,0.018,0.934,0.284,0.942,0.283,0.934,0.249,0.911,0.213
15,2023,CUMBERLAND,0.358,0.144,0.954,0.497,0.953,0.509,0.909,0.394,0.917,0.331
16,2023,DAUPHIN,0.387,0.197,0.930,0.452,0.849,0.338,0.943,0.361,0.924,0.304
17,2023,DELAWARE,0.395,0.125,0.944,0.465,0.948,0.505,0.939,0.434,0.908,0.339
18,2023,ERIE,0.394,0.113,0.954,0.306,0.934,0.336,0.926,0.289,0.912,0.262
19,2023,FAYETTE,0.486,0.094,0.930,0.172,0.908,0.264,0.897,0.182,0.884,0.176
20,2023,FRANKLIN,0.447,0.053,0.908,0.291,0.929,0.314,0.903,0.235,0.897,0.223
21,2023,INDIANA,0.474,0.101,0.888,0.299,0.931,0.336,0.906,0.221,0.936,0.234
22,2023,LACKAWANNA,0.390,0.105,0.924,0.339,0.899,0.349,0.913,0.296,0.912,0.235
23,2023,LANCASTER,0.431,0.123,0.854,0.364,0.892,0.368,0.884,0.299,0.850,0.274
24,2023,LAWRENCE,0.508,0.012,0.910,0.282,0.895,0.295,0.951,0.280,0.918,0.199
25,2023,LEBANON,0.439,0.145,0.889,0.176,0.902,0.340,0.902,0.267,0.878,0.231
26,2023,LEHIGH,0.419,0.123,0.926,0.317,0.911,0.431,0.890,0.331,0.885,0.304
27,2023,LUZERNE,0.364,0.070,0.892,0.314,0.903,0.246,0.898,0.237,0.902,0.217
28,2023,LYCOMING,0.319,0.137,0.918,0.310,0.963,0.434,0.930,0.252,0.919,0.151
29,2023,MERCER,0.341,0.104,0.923,0.295,0.963,0.311,0.932,0.232,0.920,0.198
30,2023,MONROE,0.415,0.124,0.928,0.343,0.879,0.292,0.911,0.230,0.889,0.268
31,2023,MONTGOMERY,0.328,0.243,0.966,0.563,0.949,0.608,0.951,0.529,0.941,0.437
32,2023,NORTHAMPTON,0.257,0.154,0.988,0.377,0.939,0.421,0.943,0.330,0.920,0.295
33,2023,NORTHUMBERLAND,0.498,0.041,0.900,0.248,0.914,0.253,0.885,0.179,0.899,0.150
34,2023,PHILADELPHIA,0.368,0.154,0.943,0.525,0.915,0.422,0.851,0.260,0.816,0.239
35,2023,SCHUYLKILL,0.488,0.102,0.924,0.208,0.909,0.238,0.891,0.208,0.888,0.167
36,2023,SOMERSET,0.659,0.042,0.939,0.139,0.898,0.230,0.901,0.156,0.896,0.148
37,2023,WASHINGTON,0.462,0.107,0.971,0.423,0.965,0.403,0.942,0.304,0.931,0.263
38,2023,WESTMORELAND,0.414,0.085,0.970,0.351,0.953,0.433,0.966,0.332,0.945,0.265
39,2023,YORK,0.512,0.100,0.935,0.328,0.933,0.342,0.916,0.279,0.890,0.251

**Income (Households) Data Extraction, Transformation & Loading (2023)**
-
-----------

In [18]:
# Reading in 2023 U.S. Census Bureau income (household) dataset
initial_pa_households_2023 = pd.read_excel("Resources/PA_Income_Households_2023.xlsx")
initial_pa_households_2023.head(19)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Households,Households,Households,Households,Households,Households,Households,Households,Households,...,Households,Households,Households,Households,Households,Households,Households,Households,Households,Households
1,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,Total,"41,810","547,396","28,117","73,220","163,307","50,651","249,189","81,535","57,282",...,"61,129","338,467","123,536","37,343","688,112","58,809","29,435","89,091","155,459","183,864"
3,"Less than $10,000",2.2%,6.2%,5.2%,3.8%,5.4%,6.1%,2.9%,4.7%,5.1%,...,3.4%,3.7%,4.2%,5.2%,9.3%,6.0%,4.3%,3.4%,4.9%,3.8%
4,"$10,000 to $14,999",2.7%,3.5%,4.1%,4.1%,2.4%,5.7%,2.0%,2.0%,4.6%,...,2.5%,2.1%,2.5%,5.2%,6.0%,5.9%,3.2%,3.7%,3.4%,2.6%
5,"$15,000 to $24,999",5.7%,6.3%,8.7%,7.3%,7.4%,11.1%,4.7%,7.3%,11.0%,...,6.6%,4.3%,4.2%,8.2%,8.6%,9.2%,12.7%,6.5%,7.4%,4.5%
6,"$25,000 to $34,999",7.7%,6.8%,8.4%,7.8%,6.5%,8.8%,3.9%,5.7%,11.2%,...,10.0%,5.3%,6.3%,8.2%,7.6%,8.1%,10.3%,7.1%,7.7%,6.5%
7,"$35,000 to $49,999",9.6%,10.4%,13.3%,12.7%,10.5%,13.7%,6.6%,10.5%,12.5%,...,13.2%,7.2%,9.5%,13.8%,11.1%,10.9%,12.7%,10.7%,11.5%,11.2%
8,"$50,000 to $74,999",20.7%,16.0%,19.9%,20.2%,17.4%,19.0%,14.7%,17.2%,19.1%,...,15.9%,12.4%,18.1%,21.8%,17.0%,17.2%,20.0%,17.3%,17.7%,17.4%
9,"$75,000 to $99,999",15.4%,12.5%,13.9%,12.4%,13.0%,11.9%,11.3%,11.7%,11.6%,...,11.4%,11.5%,13.4%,13.8%,12.1%,16.0%,15.3%,12.3%,13.1%,16.0%
10,"$100,000 to $149,999",18.0%,16.9%,16.4%,17.0%,19.5%,14.6%,19.5%,17.2%,13.8%,...,19.4%,19.4%,20.8%,14.2%,13.7%,17.2%,14.1%,20.2%,17.5%,19.8%
11,"$150,000 to $199,999",8.8%,9.1%,5.5%,7.6%,9.6%,5.2%,14.5%,10.4%,5.6%,...,8.9%,11.9%,9.2%,6.5%,6.8%,5.6%,5.4%,8.8%,8.8%,9.1%
12,"$200,000 or more",9.2%,12.3%,4.6%,7.1%,8.3%,3.8%,19.9%,13.3%,5.4%,...,8.7%,22.3%,11.8%,3.1%,7.8%,4.0%,2.0%,10.0%,7.9%,9.1%
13,Median income (dollars),"76,725","76,615","61,836","66,768","75,675","54,002","107,221","80,379","55,748",...,"71,087","106,748","84,229","59,046","60,302","64,276","60,515","77,450","71,081","81,362"
14,Mean income (dollars),"97,534","108,244","80,274","86,549","97,411","72,354","140,231","110,349","79,887",...,"94,249","150,664","110,322","71,879","86,504","78,354","69,951","102,894","92,805","101,703"
15,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Household income in the past 12 months,34.1%,32.8%,32.2%,36.3%,36.4%,37.9%,35.9%,35.8%,34.7%,...,41.0%,34.1%,39.8%,37.6%,45.8%,38.1%,36.9%,40.1%,32.7%,33.0%
17,Family income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
18,Nonfamily income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [19]:
# Retrieving only rows that contain the desired county summary demographic statistics
# Four groupings = Households, Families, Married-couple families & non family households
# % of groups above that fall into the income categories: Less Than $10,000, $10,000-$14,999, $15,000-$24,999, $25,000-$34,999,
# $35,000-$49,999, $50,000-$74,999, $75,000-$99,999, $100,000-$149,999, $150,000-$199,999, $200,000 or More
# Total count for each grouping
# Median income for each grouping
# Mean income for each grouping
initial_pa_households_2023 = initial_pa_households_2023.iloc[[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], :]
initial_pa_households_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
2,Total,"41,810","547,396","28,117","73,220","163,307","50,651","249,189","81,535","57,282",...,"61,129","338,467","123,536","37,343","688,112","58,809","29,435","89,091","155,459","183,864"
3,"Less than $10,000",2.2%,6.2%,5.2%,3.8%,5.4%,6.1%,2.9%,4.7%,5.1%,...,3.4%,3.7%,4.2%,5.2%,9.3%,6.0%,4.3%,3.4%,4.9%,3.8%
4,"$10,000 to $14,999",2.7%,3.5%,4.1%,4.1%,2.4%,5.7%,2.0%,2.0%,4.6%,...,2.5%,2.1%,2.5%,5.2%,6.0%,5.9%,3.2%,3.7%,3.4%,2.6%
5,"$15,000 to $24,999",5.7%,6.3%,8.7%,7.3%,7.4%,11.1%,4.7%,7.3%,11.0%,...,6.6%,4.3%,4.2%,8.2%,8.6%,9.2%,12.7%,6.5%,7.4%,4.5%
6,"$25,000 to $34,999",7.7%,6.8%,8.4%,7.8%,6.5%,8.8%,3.9%,5.7%,11.2%,...,10.0%,5.3%,6.3%,8.2%,7.6%,8.1%,10.3%,7.1%,7.7%,6.5%
7,"$35,000 to $49,999",9.6%,10.4%,13.3%,12.7%,10.5%,13.7%,6.6%,10.5%,12.5%,...,13.2%,7.2%,9.5%,13.8%,11.1%,10.9%,12.7%,10.7%,11.5%,11.2%
8,"$50,000 to $74,999",20.7%,16.0%,19.9%,20.2%,17.4%,19.0%,14.7%,17.2%,19.1%,...,15.9%,12.4%,18.1%,21.8%,17.0%,17.2%,20.0%,17.3%,17.7%,17.4%
9,"$75,000 to $99,999",15.4%,12.5%,13.9%,12.4%,13.0%,11.9%,11.3%,11.7%,11.6%,...,11.4%,11.5%,13.4%,13.8%,12.1%,16.0%,15.3%,12.3%,13.1%,16.0%
10,"$100,000 to $149,999",18.0%,16.9%,16.4%,17.0%,19.5%,14.6%,19.5%,17.2%,13.8%,...,19.4%,19.4%,20.8%,14.2%,13.7%,17.2%,14.1%,20.2%,17.5%,19.8%
11,"$150,000 to $199,999",8.8%,9.1%,5.5%,7.6%,9.6%,5.2%,14.5%,10.4%,5.6%,...,8.9%,11.9%,9.2%,6.5%,6.8%,5.6%,5.4%,8.8%,8.8%,9.1%
12,"$200,000 or more",9.2%,12.3%,4.6%,7.1%,8.3%,3.8%,19.9%,13.3%,5.4%,...,8.7%,22.3%,11.8%,3.1%,7.8%,4.0%,2.0%,10.0%,7.9%,9.1%
13,Median income (dollars),"76,725","76,615","61,836","66,768","75,675","54,002","107,221","80,379","55,748",...,"71,087","106,748","84,229","59,046","60,302","64,276","60,515","77,450","71,081","81,362"
14,Mean income (dollars),"97,534","108,244","80,274","86,549","97,411","72,354","140,231","110,349","79,887",...,"94,249","150,664","110,322","71,879","86,504","78,354","69,951","102,894","92,805","101,703"

In [20]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_households_2023 = initial_pa_households_2023.T
initial_pa_households_2023.head()

,2,3,4,5,6,7,8,9,10,11,12,13,14
Unnamed: 0,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
"Adams County, Pennsylvania","41,810",2.2%,2.7%,5.7%,7.7%,9.6%,20.7%,15.4%,18.0%,8.8%,9.2%,"76,725","97,534"
"Allegheny County, Pennsylvania","547,396",6.2%,3.5%,6.3%,6.8%,10.4%,16.0%,12.5%,16.9%,9.1%,12.3%,"76,615","108,244"
"Armstrong County, Pennsylvania","28,117",5.2%,4.1%,8.7%,8.4%,13.3%,19.9%,13.9%,16.4%,5.5%,4.6%,"61,836","80,274"
"Beaver County, Pennsylvania","73,220",3.8%,4.1%,7.3%,7.8%,12.7%,20.2%,12.4%,17.0%,7.6%,7.1%,"66,768","86,549"

In [21]:
# Resetting index and renaming to create a 'County' column
initial_pa_households_2023 = initial_pa_households_2023.reset_index()
initial_pa_households_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_households_2023.head()

,County,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Unnamed: 0,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
1,"Adams County, Pennsylvania","41,810",2.2%,2.7%,5.7%,7.7%,9.6%,20.7%,15.4%,18.0%,8.8%,9.2%,"76,725","97,534"
2,"Allegheny County, Pennsylvania","547,396",6.2%,3.5%,6.3%,6.8%,10.4%,16.0%,12.5%,16.9%,9.1%,12.3%,"76,615","108,244"
3,"Armstrong County, Pennsylvania","28,117",5.2%,4.1%,8.7%,8.4%,13.3%,19.9%,13.9%,16.4%,5.5%,4.6%,"61,836","80,274"
4,"Beaver County, Pennsylvania","73,220",3.8%,4.1%,7.3%,7.8%,12.7%,20.2%,12.4%,17.0%,7.6%,7.1%,"66,768","86,549"

In [22]:
# Confirming column data types prior to renaming
print(initial_pa_households_2023.columns)

Index(['County', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='object')

In [23]:
# Converting column data types from integers to strings for renaming
initial_pa_households_2023.columns = initial_pa_households_2023.columns.astype(str)
print(initial_pa_households_2023.columns)

Index(['County', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14'],
      dtype='object')

In [24]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_households_2023.replace('N', np.nan, inplace=True)

In [25]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_households_2023 = initial_pa_households_2023.rename(columns={'2': '# of Households', '3': '% Households <$10,000', '4': '% Households $10,000-$14,999',
                                                                         '5': '% Households $15,000-$24,999', '6': '% Households $25,000-$34,999', '7': '% Households $35,000-$49,999',
                                                                         '8': '% Households $50,000-$74,999', '9': '% Households $75,000-$99,999',
                                                                         '10': '% Households $100,000-$149,999', '11': '% Households $150,000-$199,999',
                                                                        '12': '% Households $200,000 or More', '13': 'Median Household Income ($)',
                                                                       '14': 'Mean Household Income ($)'})
initial_pa_households_2023 = initial_pa_households_2023.drop(0)
initial_pa_households_2023 = initial_pa_households_2023.reset_index(drop=True)
initial_pa_households_2023['County'] = initial_pa_households_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_households_2023['County'] = initial_pa_households_2023['County'].apply(lambda x: x.upper())
initial_pa_households_2023.insert(0, 'Year', 2023)
initial_pa_households_2023['% Households <$10,000'] = initial_pa_households_2023['% Households <$10,000'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $10,000-$14,999'] = initial_pa_households_2023['% Households $10,000-$14,999'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $15,000-$24,999'] = initial_pa_households_2023['% Households $15,000-$24,999'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $25,000-$34,999'] = initial_pa_households_2023['% Households $25,000-$34,999'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $35,000-$49,999'] = initial_pa_households_2023['% Households $35,000-$49,999'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $50,000-$74,999'] = initial_pa_households_2023['% Households $50,000-$74,999'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $75,000-$99,999'] = initial_pa_households_2023['% Households $75,000-$99,999'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $100,000-$149,999'] = initial_pa_households_2023['% Households $100,000-$149,999'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $150,000-$199,999'] = initial_pa_households_2023['% Households $150,000-$199,999'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['% Households $200,000 or More'] = initial_pa_households_2023['% Households $200,000 or More'].str.rstrip('%').astype(float) / 100
initial_pa_households_2023['# of Households'] = initial_pa_households_2023['# of Households'].str.replace(',', '').astype(float)
initial_pa_households_2023['Median Household Income ($)'] = initial_pa_households_2023['Median Household Income ($)'].str.replace(',', '').astype(float)
initial_pa_households_2023['Mean Household Income ($)'] = initial_pa_households_2023['Mean Household Income ($)'].str.replace(',', '').astype(float)
initial_pa_households_2023

,Year,County,# of Households,"% Households <$10,000","% Households $10,000-$14,999","% Households $15,000-$24,999","% Households $25,000-$34,999","% Households $35,000-$49,999","% Households $50,000-$74,999","% Households $75,000-$99,999","% Households $100,000-$149,999","% Households $150,000-$199,999","% Households $200,000 or More",Median Household Income ($),Mean Household Income ($)
0,2023,ADAMS,41810.0,0.022,0.027,0.057,0.077,0.096,0.207,0.154,0.180,0.088,0.092,76725.0,97534.0
1,2023,ALLEGHENY,547396.0,0.062,0.035,0.063,0.068,0.104,0.160,0.125,0.169,0.091,0.123,76615.0,108244.0
2,2023,ARMSTRONG,28117.0,0.052,0.041,0.087,0.084,0.133,0.199,0.139,0.164,0.055,0.046,61836.0,80274.0
3,2023,BEAVER,73220.0,0.038,0.041,0.073,0.078,0.127,0.202,0.124,0.170,0.076,0.071,66768.0,86549.0
4,2023,BERKS,163307.0,0.054,0.024,0.074,0.065,0.105,0.174,0.130,0.195,0.096,0.083,75675.0,97411.0
5,2023,BLAIR,50651.0,0.061,0.057,0.111,0.088,0.137,0.190,0.119,0.146,0.052,0.038,54002.0,72354.0
6,2023,BUCKS,249189.0,0.029,0.020,0.047,0.039,0.066,0.147,0.113,0.195,0.145,0.199,107221.0,140231.0
7,2023,BUTLER,81535.0,0.047,0.020,0.073,0.057,0.105,0.172,0.117,0.172,0.104,0.133,80379.0,110349.0
8,2023,CAMBRIA,57282.0,0.051,0.046,0.110,0.112,0.125,0.191,0.116,0.138,0.056,0.054,55748.0,79887.0
9,2023,CARBON,28934.0,0.046,0.020,0.093,0.099,0.141,0.166,0.138,0.185,0.060,0.051,64229.0,82247.0
10,2023,CENTRE,62175.0,0.081,0.048,0.055,0.079,0.109,0.164,0.129,0.163,0.079,0.093,69101.0,94875.0
11,2023,CHESTER,205426.0,0.025,0.016,0.044,0.041,0.056,0.124,0.103,0.193,0.136,0.263,120903.0,161463.0
12,2023,CLEARFIELD,33554.0,0.043,0.057,0.104,0.077,0.130,0.174,0.163,0.158,0.051,0.044,60711.0,83849.0
13,2023,COLUMBIA,25929.0,0.040,0.034,0.109,0.129,0.108,0.163,0.126,0.164,0.073,0.054,63683.0,80453.0
14,2023,CRAWFORD,34813.0,0.056,0.046,0.091,0.087,0.121,0.215,0.152,0.157,0.037,0.039,60797.0,72926.0
15,2023,CUMBERLAND,107981.0,0.039,0.024,0.052,0.054,0.116,0.171,0.126,0.204,0.086,0.126,82174.0,114065.0
16,2023,DAUPHIN,121773.0,0.061,0.029,0.059,0.069,0.106,0.184,0.135,0.187,0.082,0.089,74170.0,97943.0
17,2023,DELAWARE,215645.0,0.046,0.031,0.054,0.075,0.097,0.147,0.118,0.178,0.091,0.163,84085.0,122792.0
18,2023,ERIE,111118.0,0.062,0.049,0.090,0.093,0.136,0.166,0.130,0.150,0.065,0.058,60663.0,80408.0
19,2023,FAYETTE,55724.0,0.072,0.066,0.112,0.097,0.116,0.187,0.127,0.139,0.059,0.027,54523.0,68808.0
20,2023,FRANKLIN,62966.0,0.040,0.031,0.074,0.057,0.099,0.192,0.162,0.186,0.092,0.068,75875.0,91737.0
21,2023,INDIANA,32454.0,0.060,0.064,0.095,0.087,0.129,0.217,0.097,0.147,0.058,0.046,57505.0,75282.0
22,2023,LACKAWANNA,88871.0,0.089,0.050,0.108,0.081,0.128,0.156,0.113,0.164,0.059,0.052,56002.0,77378.0
23,2023,LANCASTER,211669.0,0.038,0.029,0.044,0.070,0.110,0.180,0.142,0.200,0.088,0.100,80067.0,105513.0
24,2023,LAWRENCE,36638.0,0.055,0.062,0.091,0.088,0.117,0.178,0.128,0.178,0.054,0.049,62754.0,82101.0
25,2023,LEBANON,58012.0,0.035,0.023,0.059,0.081,0.115,0.155,0.179,0.189,0.083,0.082,78824.0,96861.0
26,2023,LEHIGH,147524.0,0.043,0.034,0.069,0.082,0.097,0.167,0.119,0.181,0.093,0.116,76508.0,107498.0
27,2023,LUZERNE,136046.0,0.083,0.043,0.082,0.087,0.123,0.179,0.126,0.149,0.067,0.063,60380.0,81240.0
28,2023,LYCOMING,46849.0,0.056,0.036,0.107,0.079,0.116,0.175,0.143,0.144,0.085,0.059,62135.0,84692.0
29,2023,MERCER,47517.0,0.048,0.043,0.077,0.079,0.133,0.219,0.149,0.153,0.070,0.028,61669.0,75872.0
30,2023,MONROE,61129.0,0.034,0.025,0.066,0.100,0.132,0.159,0.114,0.194,0.089,0.087,71087.0,94249.0
31,2023,MONTGOMERY,338467.0,0.037,0.021,0.043,0.053,0.072,0.124,0.115,0.194,0.119,0.223,106748.0,150664.0
32,2023,NORTHAMPTON,123536.0,0.042,0.025,0.042,0.063,0.095,0.181,0.134,0.208,0.092,0.118,84229.0,110322.0
33,2023,NORTHUMBERLAND,37343.0,0.052,0.052,0.082,0.082,0.138,0.218,0.138,0.142,0.065,0.031,59046.0,71879.0
34,2023,PHILADELPHIA,688112.0,0.093,0.060,0.086,0.076,0.111,0.170,0.121,0.137,0.068,0.078,60302.0,86504.0
35,2023,SCHUYLKILL,58809.0,0.060,0.059,0.092,0.081,0.109,0.172,0.160,0.172,0.056,0.040,64276.0,78354.0
36,2023,SOMERSET,29435.0,0.043,0.032,0.127,0.103,0.127,0.200,0.153,0.141,0.054,0.020,60515.0,69951.0
37,2023,WASHINGTON,89091.0,0.034,0.037,0.065,0.071,0.107,0.173,0.123,0.202,0.088,0.100,77450.0,102894.0
38,2023,WESTMORELAND,155459.0,0.049,0.034,0.074,0.077,0.115,0.177,0.131,0.175,0.088,0.079,71081.0,92805.0
39,2023,YORK,183864.0,0.038,0.026,0.045,0.065,0.112,0.174,0.160,0.198,0.091,0.091,81362.0,101703.0

**Income (Families) Data Extraction, Transformation & Loading (2023)**
-
-----------

In [26]:
# Reading in 2023 U.S. Census Bureau income (families) dataset
initial_pa_families_2023 = pd.read_excel("Resources/PA_Income_Families_2023.xlsx")
initial_pa_families_2023.head(19)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Families,Families,Families,Families,Families,Families,Families,Families,Families,...,Families,Families,Families,Families,Families,Families,Families,Families,Families,Families
1,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,Total,"28,604","306,132","18,962","44,632","111,457","29,519","178,826","51,625","34,225",...,"42,605","221,197","83,182","23,395","352,837","36,033","18,564","57,214","96,790","122,781"
3,"Less than $10,000",2.3%,3.6%,1.8%,2.4%,3.2%,2.8%,2.0%,2.1%,2.2%,...,1.9%,2.3%,2.2%,3.7%,5.9%,3.0%,1.7%,1.5%,2.6%,2.4%
4,"$10,000 to $14,999",2.5%,1.7%,1.6%,2.0%,1.6%,2.0%,1.0%,0.6%,1.3%,...,2.2%,0.7%,2.0%,2.9%,3.4%,3.4%,0.7%,1.8%,1.4%,1.5%
5,"$15,000 to $24,999",2.5%,2.9%,4.6%,4.5%,4.6%,5.2%,2.8%,4.1%,4.5%,...,4.0%,2.1%,2.1%,3.1%,7.5%,3.9%,5.8%,3.2%,3.9%,2.3%
6,"$25,000 to $34,999",4.5%,4.0%,6.1%,6.4%,4.6%,4.5%,2.0%,3.5%,7.8%,...,8.5%,3.3%,5.8%,5.8%,7.3%,5.2%,6.9%,4.4%,4.7%,3.9%
7,"$35,000 to $49,999",7.2%,7.8%,12.9%,9.4%,10.0%,13.8%,4.2%,7.3%,11.9%,...,11.4%,4.7%,5.4%,13.9%,10.1%,11.6%,12.3%,7.8%,8.5%,8.7%
8,"$50,000 to $74,999",18.4%,14.0%,21.9%,18.7%,15.6%,19.9%,12.3%,15.3%,19.5%,...,15.3%,9.6%,17.0%,20.5%,17.4%,19.9%,22.2%,16.5%,17.8%,15.1%
9,"$75,000 to $99,999",16.3%,13.5%,17.4%,12.8%,14.4%,17.7%,11.8%,12.4%,16.5%,...,11.7%,10.9%,14.5%,18.1%,13.8%,18.6%,19.5%,14.3%,15.4%,18.0%
10,"$100,000 to $149,999",21.8%,21.2%,19.9%,22.2%,22.5%,20.5%,21.1%,21.4%,18.7%,...,22.6%,21.5%,23.8%,17.9%,15.9%,20.4%,20.3%,26.2%,21.6%,24.1%
11,"$150,000 to $199,999",11.7%,12.8%,7.4%,11.1%,12.7%,8.0%,17.9%,14.0%,8.9%,...,10.6%,14.7%,11.5%,9.3%,8.0%,7.8%,7.9%,11.1%,12.5%,11.8%
12,"$200,000 or more",12.8%,18.5%,6.3%,10.6%,10.7%,5.6%,24.9%,19.3%,8.7%,...,11.7%,30.0%,15.9%,4.7%,10.6%,6.1%,2.5%,13.3%,11.6%,12.1%
13,Median income (dollars),"94,782","104,863","76,316","87,260","92,374","77,520","131,258","108,733","78,680",...,"88,083","134,126","101,922","75,097","72,056","79,462","75,317","100,695","93,797","97,902"
14,Mean income (dollars),"114,160","139,153","95,141","105,898","113,536","92,021","163,288","139,060","105,586",...,"108,084","184,852","129,780","85,844","101,954","95,061","84,527","123,387","114,948","118,673"
15,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Household income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
17,Family income in the past 12 months,33.0%,33.9%,32.9%,37.4%,39.0%,38.9%,38.1%,35.2%,37.1%,...,42.4%,35.3%,39.8%,36.1%,51.7%,41.2%,37.6%,38.2%,32.8%,33.4%
18,Nonfamily income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [27]:
# Retrieving only rows that contain the desired county summary demographic statistics
# Four groupings = Households, Families, Married-couple families & non family households
# % of groups above that fall into the income categories: Less Than $10,000, $10,000-$14,999, $15,000-$24,999, $25,000-$34,999,
# $35,000-$49,999, $50,000-$74,999, $75,000-$99,999, $100,000-$149,999, $150,000-$199,999, $200,000 or More
# Total count for each grouping
# Median income for each grouping
# Mean income for each grouping
initial_pa_families_2023 = initial_pa_families_2023.iloc[[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], :]
initial_pa_families_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
2,Total,"28,604","306,132","18,962","44,632","111,457","29,519","178,826","51,625","34,225",...,"42,605","221,197","83,182","23,395","352,837","36,033","18,564","57,214","96,790","122,781"
3,"Less than $10,000",2.3%,3.6%,1.8%,2.4%,3.2%,2.8%,2.0%,2.1%,2.2%,...,1.9%,2.3%,2.2%,3.7%,5.9%,3.0%,1.7%,1.5%,2.6%,2.4%
4,"$10,000 to $14,999",2.5%,1.7%,1.6%,2.0%,1.6%,2.0%,1.0%,0.6%,1.3%,...,2.2%,0.7%,2.0%,2.9%,3.4%,3.4%,0.7%,1.8%,1.4%,1.5%
5,"$15,000 to $24,999",2.5%,2.9%,4.6%,4.5%,4.6%,5.2%,2.8%,4.1%,4.5%,...,4.0%,2.1%,2.1%,3.1%,7.5%,3.9%,5.8%,3.2%,3.9%,2.3%
6,"$25,000 to $34,999",4.5%,4.0%,6.1%,6.4%,4.6%,4.5%,2.0%,3.5%,7.8%,...,8.5%,3.3%,5.8%,5.8%,7.3%,5.2%,6.9%,4.4%,4.7%,3.9%
7,"$35,000 to $49,999",7.2%,7.8%,12.9%,9.4%,10.0%,13.8%,4.2%,7.3%,11.9%,...,11.4%,4.7%,5.4%,13.9%,10.1%,11.6%,12.3%,7.8%,8.5%,8.7%
8,"$50,000 to $74,999",18.4%,14.0%,21.9%,18.7%,15.6%,19.9%,12.3%,15.3%,19.5%,...,15.3%,9.6%,17.0%,20.5%,17.4%,19.9%,22.2%,16.5%,17.8%,15.1%
9,"$75,000 to $99,999",16.3%,13.5%,17.4%,12.8%,14.4%,17.7%,11.8%,12.4%,16.5%,...,11.7%,10.9%,14.5%,18.1%,13.8%,18.6%,19.5%,14.3%,15.4%,18.0%
10,"$100,000 to $149,999",21.8%,21.2%,19.9%,22.2%,22.5%,20.5%,21.1%,21.4%,18.7%,...,22.6%,21.5%,23.8%,17.9%,15.9%,20.4%,20.3%,26.2%,21.6%,24.1%
11,"$150,000 to $199,999",11.7%,12.8%,7.4%,11.1%,12.7%,8.0%,17.9%,14.0%,8.9%,...,10.6%,14.7%,11.5%,9.3%,8.0%,7.8%,7.9%,11.1%,12.5%,11.8%
12,"$200,000 or more",12.8%,18.5%,6.3%,10.6%,10.7%,5.6%,24.9%,19.3%,8.7%,...,11.7%,30.0%,15.9%,4.7%,10.6%,6.1%,2.5%,13.3%,11.6%,12.1%
13,Median income (dollars),"94,782","104,863","76,316","87,260","92,374","77,520","131,258","108,733","78,680",...,"88,083","134,126","101,922","75,097","72,056","79,462","75,317","100,695","93,797","97,902"
14,Mean income (dollars),"114,160","139,153","95,141","105,898","113,536","92,021","163,288","139,060","105,586",...,"108,084","184,852","129,780","85,844","101,954","95,061","84,527","123,387","114,948","118,673"

In [28]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_families_2023 = initial_pa_families_2023.T
initial_pa_families_2023.head()

,2,3,4,5,6,7,8,9,10,11,12,13,14
Unnamed: 0,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
"Adams County, Pennsylvania","28,604",2.3%,2.5%,2.5%,4.5%,7.2%,18.4%,16.3%,21.8%,11.7%,12.8%,"94,782","114,160"
"Allegheny County, Pennsylvania","306,132",3.6%,1.7%,2.9%,4.0%,7.8%,14.0%,13.5%,21.2%,12.8%,18.5%,"104,863","139,153"
"Armstrong County, Pennsylvania","18,962",1.8%,1.6%,4.6%,6.1%,12.9%,21.9%,17.4%,19.9%,7.4%,6.3%,"76,316","95,141"
"Beaver County, Pennsylvania","44,632",2.4%,2.0%,4.5%,6.4%,9.4%,18.7%,12.8%,22.2%,11.1%,10.6%,"87,260","105,898"

In [29]:
# Resetting index and renaming to create a 'County' column
initial_pa_families_2023 = initial_pa_families_2023.reset_index()
initial_pa_families_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_families_2023.head()

,County,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Unnamed: 0,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
1,"Adams County, Pennsylvania","28,604",2.3%,2.5%,2.5%,4.5%,7.2%,18.4%,16.3%,21.8%,11.7%,12.8%,"94,782","114,160"
2,"Allegheny County, Pennsylvania","306,132",3.6%,1.7%,2.9%,4.0%,7.8%,14.0%,13.5%,21.2%,12.8%,18.5%,"104,863","139,153"
3,"Armstrong County, Pennsylvania","18,962",1.8%,1.6%,4.6%,6.1%,12.9%,21.9%,17.4%,19.9%,7.4%,6.3%,"76,316","95,141"
4,"Beaver County, Pennsylvania","44,632",2.4%,2.0%,4.5%,6.4%,9.4%,18.7%,12.8%,22.2%,11.1%,10.6%,"87,260","105,898"

In [30]:
# Confirming column data types prior to renaming
print(initial_pa_families_2023.columns)

Index(['County', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='object')

In [31]:
# Converting column data types from integers to strings for renaming
initial_pa_families_2023.columns = initial_pa_families_2023.columns.astype(str)
print(initial_pa_families_2023.columns)

Index(['County', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14'],
      dtype='object')

In [32]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_families_2023.replace('N', np.nan, inplace=True)

In [33]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_families_2023 = initial_pa_families_2023.rename(columns={'2': '# of Families', '3': '% Families <$10,000', '4': '% Families $10,000-$14,999',
                                                                         '5': '% Families $15,000-$24,999', '6': '% Families $25,000-$34,999', '7': '% Families $35,000-$49,999',
                                                                         '8': '% Families $50,000-$74,999', '9': '% Families $75,000-$99,999',
                                                                         '10': '% Families $100,000-$149,999', '11': '% Families $150,000-$199,999',
                                                                        '12': '% Families $200,000 or More', '13': 'Median Families Income ($)',
                                                                       '14': 'Mean Families Income ($)'})
initial_pa_families_2023 = initial_pa_families_2023.drop(0)
initial_pa_families_2023 = initial_pa_families_2023.reset_index(drop=True)
initial_pa_families_2023['County'] = initial_pa_families_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_families_2023['County'] = initial_pa_families_2023['County'].apply(lambda x: x.upper())
initial_pa_families_2023.insert(0, 'Year', 2023)
initial_pa_families_2023['% Families <$10,000'] = initial_pa_families_2023['% Families <$10,000'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $10,000-$14,999'] = initial_pa_families_2023['% Families $10,000-$14,999'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $15,000-$24,999'] = initial_pa_families_2023['% Families $15,000-$24,999'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $25,000-$34,999'] = initial_pa_families_2023['% Families $25,000-$34,999'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $35,000-$49,999'] = initial_pa_families_2023['% Families $35,000-$49,999'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $50,000-$74,999'] = initial_pa_families_2023['% Families $50,000-$74,999'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $75,000-$99,999'] = initial_pa_families_2023['% Families $75,000-$99,999'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $100,000-$149,999'] = initial_pa_families_2023['% Families $100,000-$149,999'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $150,000-$199,999'] = initial_pa_families_2023['% Families $150,000-$199,999'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['% Families $200,000 or More'] = initial_pa_families_2023['% Families $200,000 or More'].str.rstrip('%').astype(float) / 100
initial_pa_families_2023['# of Families'] = initial_pa_families_2023['# of Families'].str.replace(',', '').astype(float)
initial_pa_families_2023['Median Families Income ($)'] = initial_pa_families_2023['Median Families Income ($)'].str.replace(',', '').astype(float)
initial_pa_families_2023['Mean Families Income ($)'] = initial_pa_families_2023['Mean Families Income ($)'].str.replace(',', '').astype(float)
initial_pa_families_2023

,Year,County,# of Families,"% Families <$10,000","% Families $10,000-$14,999","% Families $15,000-$24,999","% Families $25,000-$34,999","% Families $35,000-$49,999","% Families $50,000-$74,999","% Families $75,000-$99,999","% Families $100,000-$149,999","% Families $150,000-$199,999","% Families $200,000 or More",Median Families Income ($),Mean Families Income ($)
0,2023,ADAMS,28604.0,0.023,0.025,0.025,0.045,0.072,0.184,0.163,0.218,0.117,0.128,94782.0,114160.0
1,2023,ALLEGHENY,306132.0,0.036,0.017,0.029,0.040,0.078,0.140,0.135,0.212,0.128,0.185,104863.0,139153.0
2,2023,ARMSTRONG,18962.0,0.018,0.016,0.046,0.061,0.129,0.219,0.174,0.199,0.074,0.063,76316.0,95141.0
3,2023,BEAVER,44632.0,0.024,0.020,0.045,0.064,0.094,0.187,0.128,0.222,0.111,0.106,87260.0,105898.0
4,2023,BERKS,111457.0,0.032,0.016,0.046,0.046,0.100,0.156,0.144,0.225,0.127,0.107,92374.0,113536.0
5,2023,BLAIR,29519.0,0.028,0.020,0.052,0.045,0.138,0.199,0.177,0.205,0.080,0.056,77520.0,92021.0
6,2023,BUCKS,178826.0,0.020,0.010,0.028,0.020,0.042,0.123,0.118,0.211,0.179,0.249,131258.0,163288.0
7,2023,BUTLER,51625.0,0.021,0.006,0.041,0.035,0.073,0.153,0.124,0.214,0.140,0.193,108733.0,139060.0
8,2023,CAMBRIA,34225.0,0.022,0.013,0.045,0.078,0.119,0.195,0.165,0.187,0.089,0.087,78680.0,105586.0
9,2023,CARBON,18255.0,0.022,0.005,0.076,0.052,0.153,0.173,0.180,0.203,0.056,0.079,77005.0,94383.0
10,2023,CENTRE,34623.0,0.032,0.017,0.021,0.037,0.082,0.154,0.156,0.228,0.123,0.149,100073.0,123975.0
11,2023,CHESTER,144940.0,0.016,0.005,0.017,0.025,0.040,0.095,0.097,0.200,0.165,0.341,151535.0,190495.0
12,2023,CLEARFIELD,20314.0,0.018,0.035,0.051,0.043,0.113,0.199,0.188,0.208,0.081,0.065,79535.0,106732.0
13,2023,COLUMBIA,15026.0,0.017,0.014,0.039,0.113,0.087,0.164,0.169,0.240,0.085,0.073,85541.0,98815.0
14,2023,CRAWFORD,21737.0,0.045,0.010,0.048,0.058,0.118,0.214,0.196,0.209,0.051,0.051,75762.0,85794.0
15,2023,CUMBERLAND,66765.0,0.024,0.013,0.024,0.040,0.092,0.159,0.128,0.241,0.105,0.176,102175.0,135687.0
16,2023,DAUPHIN,72174.0,0.039,0.014,0.039,0.038,0.095,0.155,0.147,0.228,0.114,0.132,95433.0,121021.0
17,2023,DELAWARE,140483.0,0.024,0.014,0.028,0.046,0.077,0.126,0.123,0.216,0.122,0.224,111383.0,152070.0
18,2023,ERIE,67831.0,0.036,0.025,0.056,0.067,0.116,0.170,0.154,0.205,0.087,0.084,78104.0,98119.0
19,2023,FAYETTE,33737.0,0.038,0.039,0.065,0.065,0.119,0.208,0.152,0.186,0.088,0.040,67843.0,85281.0
20,2023,FRANKLIN,43536.0,0.022,0.012,0.029,0.049,0.081,0.208,0.188,0.213,0.108,0.089,88377.0,104762.0
21,2023,INDIANA,20053.0,0.052,0.013,0.046,0.073,0.124,0.252,0.119,0.191,0.075,0.055,68931.0,86539.0
22,2023,LACKAWANNA,53317.0,0.063,0.014,0.070,0.059,0.112,0.179,0.140,0.210,0.088,0.066,76102.0,94012.0
23,2023,LANCASTER,141228.0,0.022,0.018,0.016,0.038,0.095,0.176,0.156,0.231,0.118,0.131,96201.0,123838.0
24,2023,LAWRENCE,22923.0,0.045,0.013,0.042,0.067,0.100,0.192,0.160,0.231,0.077,0.073,82313.0,102344.0
25,2023,LEBANON,40675.0,0.024,0.008,0.032,0.071,0.076,0.179,0.184,0.214,0.105,0.106,86363.0,110245.0
26,2023,LEHIGH,102642.0,0.025,0.024,0.052,0.073,0.077,0.158,0.136,0.195,0.115,0.145,90558.0,123393.0
27,2023,LUZERNE,83353.0,0.067,0.019,0.044,0.071,0.109,0.180,0.147,0.191,0.084,0.087,76885.0,97533.0
28,2023,LYCOMING,29661.0,0.035,0.022,0.058,0.050,0.098,0.201,0.157,0.199,0.106,0.075,81266.0,99549.0
29,2023,MERCER,28900.0,0.037,0.026,0.025,0.040,0.127,0.231,0.180,0.191,0.105,0.038,76401.0,90731.0
30,2023,MONROE,42605.0,0.019,0.022,0.040,0.085,0.114,0.153,0.117,0.226,0.106,0.117,88083.0,108084.0
31,2023,MONTGOMERY,221197.0,0.023,0.007,0.021,0.033,0.047,0.096,0.109,0.215,0.147,0.300,134126.0,184852.0
32,2023,NORTHAMPTON,83182.0,0.022,0.020,0.021,0.058,0.054,0.170,0.145,0.238,0.115,0.159,101922.0,129780.0
33,2023,NORTHUMBERLAND,23395.0,0.037,0.029,0.031,0.058,0.139,0.205,0.181,0.179,0.093,0.047,75097.0,85844.0
34,2023,PHILADELPHIA,352837.0,0.059,0.034,0.075,0.073,0.101,0.174,0.138,0.159,0.080,0.106,72056.0,101954.0
35,2023,SCHUYLKILL,36033.0,0.030,0.034,0.039,0.052,0.116,0.199,0.186,0.204,0.078,0.061,79462.0,95061.0
36,2023,SOMERSET,18564.0,0.017,0.007,0.058,0.069,0.123,0.222,0.195,0.203,0.079,0.025,75317.0,84527.0
37,2023,WASHINGTON,57214.0,0.015,0.018,0.032,0.044,0.078,0.165,0.143,0.262,0.111,0.133,100695.0,123387.0
38,2023,WESTMORELAND,96790.0,0.026,0.014,0.039,0.047,0.085,0.178,0.154,0.216,0.125,0.116,93797.0,114948.0
39,2023,YORK,122781.0,0.024,0.015,0.023,0.039,0.087,0.151,0.180,0.241,0.118,0.121,97902.0,118673.0

**Income (Married Couple Families) Data Extraction, Transformation & Loading (2023)**
-
-----------

In [34]:
# Reading in 2023 U.S. Census Bureau income (Married Couple Families) dataset
initial_pa_mc_families_2023 = pd.read_excel("Resources/PA_Income_Married_Couple_Families_2023.xlsx")
initial_pa_mc_families_2023.head(19)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,...,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families,Married-couple families
1,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,Total,N,"229,325",N,"34,102","80,739","21,790","145,371","42,556","25,295",...,"30,968","177,397","63,745",N,"195,989","24,704",N,"44,874","75,549","95,483"
3,"Less than $10,000",N,1.0%,N,1.1%,1.6%,0.7%,0.9%,0.7%,1.2%,...,2.0%,1.1%,0.3%,N,2.5%,0.6%,N,0.5%,1.2%,0.8%
4,"$10,000 to $14,999",N,0.8%,N,1.2%,0.9%,1.9%,0.5%,0.0%,0.4%,...,2.6%,0.6%,0.6%,N,1.6%,0.3%,N,0.5%,0.7%,0.6%
5,"$15,000 to $24,999",N,1.5%,N,2.7%,2.3%,4.0%,2.1%,3.2%,2.9%,...,3.0%,1.1%,1.7%,N,4.1%,1.9%,N,1.7%,2.8%,1.4%
6,"$25,000 to $34,999",N,2.8%,N,3.9%,2.4%,2.6%,1.3%,2.5%,5.2%,...,4.7%,2.3%,3.8%,N,4.5%,4.2%,N,3.4%,2.2%,1.7%
7,"$35,000 to $49,999",N,5.5%,N,7.0%,8.5%,10.4%,3.9%,5.7%,10.3%,...,6.1%,3.8%,3.6%,N,6.8%,8.3%,N,5.6%,7.5%,6.7%
8,"$50,000 to $74,999",N,11.9%,N,17.9%,13.3%,19.2%,10.6%,13.5%,18.0%,...,13.8%,8.2%,15.0%,N,15.8%,17.9%,N,14.0%,16.4%,13.7%
9,"$75,000 to $99,999",N,13.7%,N,13.5%,14.9%,18.4%,10.5%,11.6%,16.0%,...,11.3%,9.6%,15.7%,N,14.7%,21.8%,N,14.6%,15.5%,18.7%
10,"$100,000 to $149,999",N,23.8%,N,26.2%,26.0%,25.2%,21.6%,24.0%,23.2%,...,27.3%,21.0%,25.8%,N,21.2%,26.2%,N,29.2%,25.1%,27.5%
11,"$150,000 to $199,999",N,15.3%,N,13.0%,16.5%,10.5%,20.2%,16.3%,11.3%,...,13.4%,16.5%,14.0%,N,11.1%,10.3%,N,13.7%,14.3%,14.2%
12,"$200,000 or more",N,23.6%,N,13.5%,13.7%,7.1%,28.3%,22.5%,11.5%,...,15.8%,35.7%,19.5%,N,17.8%,8.5%,N,16.6%,14.3%,14.7%
13,Median income (dollars),"110,730","124,087","87,175","102,383","110,333","89,295","144,226","122,564","91,846",...,"109,595","156,212","118,536","84,021","100,123","94,873","81,378","111,662","104,953","109,284"
14,Mean income (dollars),N,"162,677",N,N,"132,220",N,N,N,N,...,N,"207,005","147,413",N,"136,967","113,717",N,N,"128,945","133,548"
15,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Household income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
17,Family income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
18,Nonfamily income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [35]:
# Retrieving only rows that contain the desired county summary demographic statistics
# Four groupings = Households, Families, Married-couple families & non family households
# % of groups above that fall into the income categories: Less Than $10,000, $10,000-$14,999, $15,000-$24,999, $25,000-$34,999,
# $35,000-$49,999, $50,000-$74,999, $75,000-$99,999, $100,000-$149,999, $150,000-$199,999, $200,000 or More
# Total count for each grouping
# Median income for each grouping
# Mean income for each grouping
initial_pa_mc_families_2023 = initial_pa_mc_families_2023.iloc[[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], :]
initial_pa_mc_families_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
2,Total,N,"229,325",N,"34,102","80,739","21,790","145,371","42,556","25,295",...,"30,968","177,397","63,745",N,"195,989","24,704",N,"44,874","75,549","95,483"
3,"Less than $10,000",N,1.0%,N,1.1%,1.6%,0.7%,0.9%,0.7%,1.2%,...,2.0%,1.1%,0.3%,N,2.5%,0.6%,N,0.5%,1.2%,0.8%
4,"$10,000 to $14,999",N,0.8%,N,1.2%,0.9%,1.9%,0.5%,0.0%,0.4%,...,2.6%,0.6%,0.6%,N,1.6%,0.3%,N,0.5%,0.7%,0.6%
5,"$15,000 to $24,999",N,1.5%,N,2.7%,2.3%,4.0%,2.1%,3.2%,2.9%,...,3.0%,1.1%,1.7%,N,4.1%,1.9%,N,1.7%,2.8%,1.4%
6,"$25,000 to $34,999",N,2.8%,N,3.9%,2.4%,2.6%,1.3%,2.5%,5.2%,...,4.7%,2.3%,3.8%,N,4.5%,4.2%,N,3.4%,2.2%,1.7%
7,"$35,000 to $49,999",N,5.5%,N,7.0%,8.5%,10.4%,3.9%,5.7%,10.3%,...,6.1%,3.8%,3.6%,N,6.8%,8.3%,N,5.6%,7.5%,6.7%
8,"$50,000 to $74,999",N,11.9%,N,17.9%,13.3%,19.2%,10.6%,13.5%,18.0%,...,13.8%,8.2%,15.0%,N,15.8%,17.9%,N,14.0%,16.4%,13.7%
9,"$75,000 to $99,999",N,13.7%,N,13.5%,14.9%,18.4%,10.5%,11.6%,16.0%,...,11.3%,9.6%,15.7%,N,14.7%,21.8%,N,14.6%,15.5%,18.7%
10,"$100,000 to $149,999",N,23.8%,N,26.2%,26.0%,25.2%,21.6%,24.0%,23.2%,...,27.3%,21.0%,25.8%,N,21.2%,26.2%,N,29.2%,25.1%,27.5%
11,"$150,000 to $199,999",N,15.3%,N,13.0%,16.5%,10.5%,20.2%,16.3%,11.3%,...,13.4%,16.5%,14.0%,N,11.1%,10.3%,N,13.7%,14.3%,14.2%
12,"$200,000 or more",N,23.6%,N,13.5%,13.7%,7.1%,28.3%,22.5%,11.5%,...,15.8%,35.7%,19.5%,N,17.8%,8.5%,N,16.6%,14.3%,14.7%
13,Median income (dollars),"110,730","124,087","87,175","102,383","110,333","89,295","144,226","122,564","91,846",...,"109,595","156,212","118,536","84,021","100,123","94,873","81,378","111,662","104,953","109,284"
14,Mean income (dollars),N,"162,677",N,N,"132,220",N,N,N,N,...,N,"207,005","147,413",N,"136,967","113,717",N,N,"128,945","133,548"

In [36]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_mc_families_2023 = initial_pa_mc_families_2023.T
initial_pa_mc_families_2023.head()

,2,3,4,5,6,7,8,9,10,11,12,13,14
Unnamed: 0,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
"Adams County, Pennsylvania",N,N,N,N,N,N,N,N,N,N,N,"110,730",N
"Allegheny County, Pennsylvania","229,325",1.0%,0.8%,1.5%,2.8%,5.5%,11.9%,13.7%,23.8%,15.3%,23.6%,"124,087","162,677"
"Armstrong County, Pennsylvania",N,N,N,N,N,N,N,N,N,N,N,"87,175",N
"Beaver County, Pennsylvania","34,102",1.1%,1.2%,2.7%,3.9%,7.0%,17.9%,13.5%,26.2%,13.0%,13.5%,"102,383",N

In [37]:
# Resetting index and renaming to create a 'County' column
initial_pa_mc_families_2023 = initial_pa_mc_families_2023.reset_index()
initial_pa_mc_families_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_mc_families_2023.head()

,County,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Unnamed: 0,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
1,"Adams County, Pennsylvania",N,N,N,N,N,N,N,N,N,N,N,"110,730",N
2,"Allegheny County, Pennsylvania","229,325",1.0%,0.8%,1.5%,2.8%,5.5%,11.9%,13.7%,23.8%,15.3%,23.6%,"124,087","162,677"
3,"Armstrong County, Pennsylvania",N,N,N,N,N,N,N,N,N,N,N,"87,175",N
4,"Beaver County, Pennsylvania","34,102",1.1%,1.2%,2.7%,3.9%,7.0%,17.9%,13.5%,26.2%,13.0%,13.5%,"102,383",N

In [38]:
# Confirming column data types prior to renaming
print(initial_pa_mc_families_2023.columns)

Index(['County', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='object')

In [39]:
# Converting column data types from integers to strings for renaming
initial_pa_mc_families_2023.columns = initial_pa_mc_families_2023.columns.astype(str)
print(initial_pa_mc_families_2023.columns)

Index(['County', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14'],
      dtype='object')

In [40]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_mc_families_2023.replace('N', np.nan, inplace=True)

In [41]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_mc_families_2023 = initial_pa_mc_families_2023.rename(columns={'2': '# of Married Couple Families', '3': '% Married Couple Families <$10,000', '4': '% Married Couple Families $10,000-$14,999',
                                                                         '5': '% Married Couple Families $15,000-$24,999', '6': '% Married Couple Families $25,000-$34,999', '7': '% Married Couple Families $35,000-$49,999',
                                                                         '8': '% Married Couple Families $50,000-$74,999', '9': '% Married Couple Families $75,000-$99,999',
                                                                         '10': '% Married Couple Families $100,000-$149,999', '11': '% Married Couple Families $150,000-$199,999',
                                                                        '12': '% Married Couple Families $200,000 or More', '13': 'Median Married Couple Families Income ($)',
                                                                       '14': 'Mean Married Couple Families Income ($)'})
initial_pa_mc_families_2023 = initial_pa_mc_families_2023.drop(0)
initial_pa_mc_families_2023 = initial_pa_mc_families_2023.reset_index(drop=True)
initial_pa_mc_families_2023['County'] = initial_pa_mc_families_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_mc_families_2023['County'] = initial_pa_mc_families_2023['County'].apply(lambda x: x.upper())
initial_pa_mc_families_2023.insert(0, 'Year', 2023)
initial_pa_mc_families_2023['% Married Couple Families <$10,000'] = initial_pa_mc_families_2023['% Married Couple Families <$10,000'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $10,000-$14,999'] = initial_pa_mc_families_2023['% Married Couple Families $10,000-$14,999'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $15,000-$24,999'] = initial_pa_mc_families_2023['% Married Couple Families $15,000-$24,999'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $25,000-$34,999'] = initial_pa_mc_families_2023['% Married Couple Families $25,000-$34,999'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $35,000-$49,999'] = initial_pa_mc_families_2023['% Married Couple Families $35,000-$49,999'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $50,000-$74,999'] = initial_pa_mc_families_2023['% Married Couple Families $50,000-$74,999'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $75,000-$99,999'] = initial_pa_mc_families_2023['% Married Couple Families $75,000-$99,999'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $100,000-$149,999'] = initial_pa_mc_families_2023['% Married Couple Families $100,000-$149,999'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $150,000-$199,999'] = initial_pa_mc_families_2023['% Married Couple Families $150,000-$199,999'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['% Married Couple Families $200,000 or More'] = initial_pa_mc_families_2023['% Married Couple Families $200,000 or More'].str.rstrip('%').astype(float) / 100
initial_pa_mc_families_2023['# of Married Couple Families'] = initial_pa_mc_families_2023['# of Married Couple Families'].str.replace(',', '').astype(float)
initial_pa_mc_families_2023['Median Married Couple Families Income ($)'] = initial_pa_mc_families_2023['Median Married Couple Families Income ($)'].str.replace(',', '').astype(float)
initial_pa_mc_families_2023['Mean Married Couple Families Income ($)'] = initial_pa_mc_families_2023['Mean Married Couple Families Income ($)'].str.replace(',', '').astype(float)
initial_pa_mc_families_2023

,Year,County,# of Married Couple Families,"% Married Couple Families <$10,000","% Married Couple Families $10,000-$14,999","% Married Couple Families $15,000-$24,999","% Married Couple Families $25,000-$34,999","% Married Couple Families $35,000-$49,999","% Married Couple Families $50,000-$74,999","% Married Couple Families $75,000-$99,999","% Married Couple Families $100,000-$149,999","% Married Couple Families $150,000-$199,999","% Married Couple Families $200,000 or More",Median Married Couple Families Income ($),Mean Married Couple Families Income ($)
0,2023,ADAMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110730.0,NaN
1,2023,ALLEGHENY,229325.0,0.010,0.008,0.015,0.028,0.055,0.119,0.137,0.238,0.153,0.236,124087.0,162677.0
2,2023,ARMSTRONG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87175.0,NaN
3,2023,BEAVER,34102.0,0.011,0.012,0.027,0.039,0.070,0.179,0.135,0.262,0.130,0.135,102383.0,NaN
4,2023,BERKS,80739.0,0.016,0.009,0.023,0.024,0.085,0.133,0.149,0.260,0.165,0.137,110333.0,132220.0
5,2023,BLAIR,21790.0,0.007,0.019,0.040,0.026,0.104,0.192,0.184,0.252,0.105,0.071,89295.0,NaN
6,2023,BUCKS,145371.0,0.009,0.005,0.021,0.013,0.039,0.106,0.105,0.216,0.202,0.283,144226.0,NaN
7,2023,BUTLER,42556.0,0.007,0.000,0.032,0.025,0.057,0.135,0.116,0.240,0.163,0.225,122564.0,NaN
8,2023,CAMBRIA,25295.0,0.012,0.004,0.029,0.052,0.103,0.180,0.160,0.232,0.113,0.115,91846.0,NaN
9,2023,CARBON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91552.0,NaN
10,2023,CENTRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107375.0,NaN
11,2023,CHESTER,119148.0,0.006,0.003,0.011,0.015,0.027,0.073,0.091,0.197,0.184,0.392,168369.0,209067.0
12,2023,CLEARFIELD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86787.0,NaN
13,2023,COLUMBIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91092.0,NaN
14,2023,CRAWFORD,16789.0,0.014,0.009,0.034,0.024,0.119,0.199,0.225,0.251,0.064,0.061,87316.0,NaN
15,2023,CUMBERLAND,54488.0,0.016,0.014,0.017,0.028,0.077,0.139,0.127,0.258,0.121,0.204,113617.0,NaN
16,2023,DAUPHIN,49769.0,0.019,0.006,0.020,0.010,0.061,0.150,0.140,0.268,0.146,0.181,117655.0,NaN
17,2023,DELAWARE,98184.0,0.012,0.008,0.016,0.027,0.043,0.099,0.114,0.237,0.150,0.295,136757.0,181334.0
18,2023,ERIE,47578.0,0.014,0.009,0.021,0.037,0.098,0.164,0.173,0.262,0.105,0.117,96787.0,NaN
19,2023,FAYETTE,24346.0,0.014,0.028,0.057,0.059,0.098,0.202,0.158,0.228,0.101,0.056,80705.0,NaN
20,2023,FRANKLIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98361.0,NaN
21,2023,INDIANA,15467.0,0.023,0.004,0.039,0.060,0.126,0.252,0.127,0.224,0.090,0.056,74244.0,NaN
22,2023,LACKAWANNA,33774.0,0.029,0.010,0.040,0.047,0.102,0.146,0.138,0.264,0.122,0.101,98240.0,114172.0
23,2023,LANCASTER,114484.0,0.010,0.009,0.012,0.029,0.077,0.159,0.156,0.254,0.138,0.155,107362.0,NaN
24,2023,LAWRENCE,16979.0,0.007,0.003,0.027,0.053,0.092,0.161,0.184,0.275,0.104,0.095,97981.0,NaN
25,2023,LEBANON,29047.0,0.010,0.008,0.007,0.031,0.057,0.146,0.190,0.269,0.140,0.141,106264.0,NaN
26,2023,LEHIGH,68173.0,0.005,0.008,0.028,0.041,0.048,0.145,0.131,0.235,0.155,0.203,118324.0,152193.0
27,2023,LUZERNE,55590.0,0.034,0.006,0.020,0.055,0.093,0.163,0.158,0.249,0.105,0.118,95471.0,115652.0
28,2023,LYCOMING,22560.0,0.013,0.011,0.029,0.035,0.080,0.191,0.180,0.232,0.133,0.095,94089.0,NaN
29,2023,MERCER,21564.0,0.007,0.026,0.009,0.035,0.087,0.223,0.212,0.219,0.132,0.050,86169.0,NaN
30,2023,MONROE,30968.0,0.020,0.026,0.030,0.047,0.061,0.138,0.113,0.273,0.134,0.158,109595.0,NaN
31,2023,MONTGOMERY,177397.0,0.011,0.006,0.011,0.023,0.038,0.082,0.096,0.210,0.165,0.357,156212.0,207005.0
32,2023,NORTHAMPTON,63745.0,0.003,0.006,0.017,0.038,0.036,0.150,0.157,0.258,0.140,0.195,118536.0,147413.0
33,2023,NORTHUMBERLAND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84021.0,NaN
34,2023,PHILADELPHIA,195989.0,0.025,0.016,0.041,0.045,0.068,0.158,0.147,0.212,0.111,0.178,100123.0,136967.0
35,2023,SCHUYLKILL,24704.0,0.006,0.003,0.019,0.042,0.083,0.179,0.218,0.262,0.103,0.085,94873.0,113717.0
36,2023,SOMERSET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81378.0,NaN
37,2023,WASHINGTON,44874.0,0.005,0.005,0.017,0.034,0.056,0.140,0.146,0.292,0.137,0.166,111662.0,NaN
38,2023,WESTMORELAND,75549.0,0.012,0.007,0.028,0.022,0.075,0.164,0.155,0.251,0.143,0.143,104953.0,128945.0
39,2023,YORK,95483.0,0.008,0.006,0.014,0.017,0.067,0.137,0.187,0.275,0.142,0.147,109284.0,133548.0

**Income (Nonfamily Households) Data Extraction, Transformation & Loading (2023)**
-
-----------

In [42]:
# Reading in 2023 U.S. Census Bureau income (Nonfamily Households) dataset
initial_pa_nonfamily_2023 = pd.read_excel("Resources/PA_Income_Nonfamily_Households_2023.xlsx")
initial_pa_nonfamily_2023.head(19)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,...,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households,Nonfamily households
1,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,Total,"13,206","241,264","9,155","28,588","51,850","21,132","70,363","29,910","23,057",...,"18,524","117,270","40,354","13,948","335,275","22,776","10,871","31,877","58,669","61,083"
3,"Less than $10,000",6.3%,10.0%,12.3%,6.6%,10.6%,10.8%,5.9%,9.8%,10.2%,...,6.7%,6.9%,8.9%,10.6%,13.6%,11.6%,8.8%,7.3%,9.6%,7.4%
4,"$10,000 to $14,999",4.0%,5.9%,9.9%,7.5%,5.0%,10.8%,4.8%,4.4%,9.1%,...,3.7%,4.4%,4.1%,8.8%,8.9%,10.1%,7.9%,7.5%,7.3%,5.6%
5,"$15,000 to $24,999",11.2%,10.7%,17.4%,11.8%,13.9%,19.6%,9.5%,12.8%,21.3%,...,14.0%,8.8%,9.5%,15.6%,10.5%,17.8%,24.7%,12.7%,13.0%,9.3%
6,"$25,000 to $34,999",15.2%,10.6%,13.3%,10.8%,12.3%,14.8%,8.6%,9.5%,17.1%,...,13.5%,10.2%,7.6%,14.3%,8.1%,13.2%,15.9%,12.9%,13.8%,12.9%
7,"$35,000 to $49,999",13.5%,14.7%,17.4%,18.3%,14.3%,16.0%,12.4%,16.9%,13.8%,...,19.7%,13.0%,18.6%,14.7%,12.1%,11.9%,13.6%,16.2%,16.5%,16.4%
8,"$50,000 to $74,999",25.3%,18.4%,14.7%,23.8%,19.4%,16.6%,21.8%,19.7%,18.8%,...,19.4%,17.0%,20.9%,20.5%,16.9%,14.0%,16.0%,19.3%,17.7%,22.4%
9,"$75,000 to $99,999",12.2%,11.1%,5.4%,10.3%,10.7%,4.5%,11.5%,10.7%,3.9%,...,8.2%,12.1%,11.0%,7.6%,10.0%,10.5%,8.1%,9.3%,9.3%,11.2%
10,"$100,000 to $149,999",9.9%,10.6%,7.2%,8.3%,8.9%,4.7%,14.6%,9.2%,5.2%,...,10.4%,15.4%,12.7%,6.0%,10.4%,9.0%,3.5%,8.9%,8.8%,9.8%
11,"$150,000 to $199,999",1.9%,4.0%,1.4%,1.6%,2.6%,1.5%,5.1%,4.3%,0.3%,...,2.7%,5.5%,3.6%,2.0%,4.9%,1.5%,0.8%,3.0%,2.2%,2.9%
12,"$200,000 or more",0.4%,3.8%,1.0%,0.9%,2.3%,0.8%,5.7%,2.7%,0.3%,...,1.7%,6.7%,3.0%,0.1%,4.5%,0.3%,0.6%,3.1%,1.6%,2.2%
13,Median income (dollars),"49,817","47,284","31,901","43,863","42,344","30,525","60,183","46,163","28,897",...,"43,625","57,384","51,061","35,655","44,096","32,324","29,971","43,008","40,073","47,904"
14,Mean income (dollars),"55,623","65,779","46,758","53,163","55,356","42,877","76,698","59,013","39,085",...,"56,016","81,271","65,335","45,540","66,965","46,944","43,633","60,704","53,023","61,758"
15,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Household income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
17,Family income in the past 12 months,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
18,Nonfamily income in the past 12 months,34.3%,30.5%,30.2%,31.9%,29.6%,35.9%,29.7%,36.6%,30.8%,...,36.0%,30.4%,38.0%,37.5%,38.2%,32.1%,35.4%,42.8%,32.0%,31.1%

In [43]:
# Retrieving only rows that contain the desired county summary demographic statistics
# Four groupings = Households, Families, Married-couple families & non family households
# % of groups above that fall into the income categories: Less Than $10,000, $10,000-$14,999, $15,000-$24,999, $25,000-$34,999,
# $35,000-$49,999, $50,000-$74,999, $75,000-$99,999, $100,000-$149,999, $150,000-$199,999, $200,000 or More
# Total count for each grouping
# Median income for each grouping
# Mean income for each grouping
initial_pa_nonfamily_2023 = initial_pa_nonfamily_2023.iloc[[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], :]
initial_pa_nonfamily_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
2,Total,"13,206","241,264","9,155","28,588","51,850","21,132","70,363","29,910","23,057",...,"18,524","117,270","40,354","13,948","335,275","22,776","10,871","31,877","58,669","61,083"
3,"Less than $10,000",6.3%,10.0%,12.3%,6.6%,10.6%,10.8%,5.9%,9.8%,10.2%,...,6.7%,6.9%,8.9%,10.6%,13.6%,11.6%,8.8%,7.3%,9.6%,7.4%
4,"$10,000 to $14,999",4.0%,5.9%,9.9%,7.5%,5.0%,10.8%,4.8%,4.4%,9.1%,...,3.7%,4.4%,4.1%,8.8%,8.9%,10.1%,7.9%,7.5%,7.3%,5.6%
5,"$15,000 to $24,999",11.2%,10.7%,17.4%,11.8%,13.9%,19.6%,9.5%,12.8%,21.3%,...,14.0%,8.8%,9.5%,15.6%,10.5%,17.8%,24.7%,12.7%,13.0%,9.3%
6,"$25,000 to $34,999",15.2%,10.6%,13.3%,10.8%,12.3%,14.8%,8.6%,9.5%,17.1%,...,13.5%,10.2%,7.6%,14.3%,8.1%,13.2%,15.9%,12.9%,13.8%,12.9%
7,"$35,000 to $49,999",13.5%,14.7%,17.4%,18.3%,14.3%,16.0%,12.4%,16.9%,13.8%,...,19.7%,13.0%,18.6%,14.7%,12.1%,11.9%,13.6%,16.2%,16.5%,16.4%
8,"$50,000 to $74,999",25.3%,18.4%,14.7%,23.8%,19.4%,16.6%,21.8%,19.7%,18.8%,...,19.4%,17.0%,20.9%,20.5%,16.9%,14.0%,16.0%,19.3%,17.7%,22.4%
9,"$75,000 to $99,999",12.2%,11.1%,5.4%,10.3%,10.7%,4.5%,11.5%,10.7%,3.9%,...,8.2%,12.1%,11.0%,7.6%,10.0%,10.5%,8.1%,9.3%,9.3%,11.2%
10,"$100,000 to $149,999",9.9%,10.6%,7.2%,8.3%,8.9%,4.7%,14.6%,9.2%,5.2%,...,10.4%,15.4%,12.7%,6.0%,10.4%,9.0%,3.5%,8.9%,8.8%,9.8%
11,"$150,000 to $199,999",1.9%,4.0%,1.4%,1.6%,2.6%,1.5%,5.1%,4.3%,0.3%,...,2.7%,5.5%,3.6%,2.0%,4.9%,1.5%,0.8%,3.0%,2.2%,2.9%
12,"$200,000 or more",0.4%,3.8%,1.0%,0.9%,2.3%,0.8%,5.7%,2.7%,0.3%,...,1.7%,6.7%,3.0%,0.1%,4.5%,0.3%,0.6%,3.1%,1.6%,2.2%
13,Median income (dollars),"49,817","47,284","31,901","43,863","42,344","30,525","60,183","46,163","28,897",...,"43,625","57,384","51,061","35,655","44,096","32,324","29,971","43,008","40,073","47,904"
14,Mean income (dollars),"55,623","65,779","46,758","53,163","55,356","42,877","76,698","59,013","39,085",...,"56,016","81,271","65,335","45,540","66,965","46,944","43,633","60,704","53,023","61,758"

In [44]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_nonfamily_2023 = initial_pa_nonfamily_2023.T
initial_pa_nonfamily_2023.head()

,2,3,4,5,6,7,8,9,10,11,12,13,14
Unnamed: 0,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
"Adams County, Pennsylvania","13,206",6.3%,4.0%,11.2%,15.2%,13.5%,25.3%,12.2%,9.9%,1.9%,0.4%,"49,817","55,623"
"Allegheny County, Pennsylvania","241,264",10.0%,5.9%,10.7%,10.6%,14.7%,18.4%,11.1%,10.6%,4.0%,3.8%,"47,284","65,779"
"Armstrong County, Pennsylvania","9,155",12.3%,9.9%,17.4%,13.3%,17.4%,14.7%,5.4%,7.2%,1.4%,1.0%,"31,901","46,758"
"Beaver County, Pennsylvania","28,588",6.6%,7.5%,11.8%,10.8%,18.3%,23.8%,10.3%,8.3%,1.6%,0.9%,"43,863","53,163"

In [45]:
# Resetting index and renaming to create a 'County' column
initial_pa_nonfamily_2023 = initial_pa_nonfamily_2023.reset_index()
initial_pa_nonfamily_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_nonfamily_2023.head()

,County,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Unnamed: 0,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
1,"Adams County, Pennsylvania","13,206",6.3%,4.0%,11.2%,15.2%,13.5%,25.3%,12.2%,9.9%,1.9%,0.4%,"49,817","55,623"
2,"Allegheny County, Pennsylvania","241,264",10.0%,5.9%,10.7%,10.6%,14.7%,18.4%,11.1%,10.6%,4.0%,3.8%,"47,284","65,779"
3,"Armstrong County, Pennsylvania","9,155",12.3%,9.9%,17.4%,13.3%,17.4%,14.7%,5.4%,7.2%,1.4%,1.0%,"31,901","46,758"
4,"Beaver County, Pennsylvania","28,588",6.6%,7.5%,11.8%,10.8%,18.3%,23.8%,10.3%,8.3%,1.6%,0.9%,"43,863","53,163"

In [46]:
# Confirming column data types prior to renaming
print(initial_pa_nonfamily_2023.columns)

Index(['County', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='object')

In [47]:
# Converting column data types from integers to strings for renaming
initial_pa_nonfamily_2023.columns = initial_pa_nonfamily_2023.columns.astype(str)
print(initial_pa_nonfamily_2023.columns)

Index(['County', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14'],
      dtype='object')

In [48]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_nonfamily_2023.replace('N', np.nan, inplace=True)

In [49]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_nonfamily_2023 = initial_pa_nonfamily_2023.rename(columns={'2': '# of Nonfamily Households', '3': '% Nonfamily Households <$10,000', '4': '% Nonfamily Households $10,000-$14,999',
                                                                         '5': '% Nonfamily Households $15,000-$24,999', '6': '% Nonfamily Households $25,000-$34,999', '7': '% Nonfamily Households $35,000-$49,999',
                                                                         '8': '% Nonfamily Households $50,000-$74,999', '9': '% Nonfamily Households $75,000-$99,999',
                                                                         '10': '% Nonfamily Households $100,000-$149,999', '11': '% Nonfamily Households $150,000-$199,999',
                                                                        '12': '% Nonfamily Households $200,000 or More', '13': 'Median Nonfamily Households Income ($)',
                                                                       '14': 'Mean Nonfamily Households Income ($)'})
initial_pa_nonfamily_2023 = initial_pa_nonfamily_2023.drop(0)
initial_pa_nonfamily_2023 = initial_pa_nonfamily_2023.reset_index(drop=True)
initial_pa_nonfamily_2023['County'] = initial_pa_nonfamily_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_nonfamily_2023['County'] = initial_pa_nonfamily_2023['County'].apply(lambda x: x.upper())
initial_pa_nonfamily_2023.insert(0, 'Year', 2023)
initial_pa_nonfamily_2023['% Nonfamily Households <$10,000'] = initial_pa_nonfamily_2023['% Nonfamily Households <$10,000'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $10,000-$14,999'] = initial_pa_nonfamily_2023['% Nonfamily Households $10,000-$14,999'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $15,000-$24,999'] = initial_pa_nonfamily_2023['% Nonfamily Households $15,000-$24,999'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $25,000-$34,999'] = initial_pa_nonfamily_2023['% Nonfamily Households $25,000-$34,999'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $35,000-$49,999'] = initial_pa_nonfamily_2023['% Nonfamily Households $35,000-$49,999'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $50,000-$74,999'] = initial_pa_nonfamily_2023['% Nonfamily Households $50,000-$74,999'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $75,000-$99,999'] = initial_pa_nonfamily_2023['% Nonfamily Households $75,000-$99,999'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $100,000-$149,999'] = initial_pa_nonfamily_2023['% Nonfamily Households $100,000-$149,999'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $150,000-$199,999'] = initial_pa_nonfamily_2023['% Nonfamily Households $150,000-$199,999'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['% Nonfamily Households $200,000 or More'] = initial_pa_nonfamily_2023['% Nonfamily Households $200,000 or More'].str.rstrip('%').astype(float) / 100
initial_pa_nonfamily_2023['# of Nonfamily Households'] = initial_pa_nonfamily_2023['# of Nonfamily Households'].str.replace(',', '').astype(float)
initial_pa_nonfamily_2023['Median Nonfamily Households Income ($)'] = initial_pa_nonfamily_2023['Median Nonfamily Households Income ($)'].str.replace(',', '').astype(float)
initial_pa_nonfamily_2023['Mean Nonfamily Households Income ($)'] = initial_pa_nonfamily_2023['Mean Nonfamily Households Income ($)'].str.replace(',', '').astype(float)
initial_pa_nonfamily_2023

,Year,County,# of Nonfamily Households,"% Nonfamily Households <$10,000","% Nonfamily Households $10,000-$14,999","% Nonfamily Households $15,000-$24,999","% Nonfamily Households $25,000-$34,999","% Nonfamily Households $35,000-$49,999","% Nonfamily Households $50,000-$74,999","% Nonfamily Households $75,000-$99,999","% Nonfamily Households $100,000-$149,999","% Nonfamily Households $150,000-$199,999","% Nonfamily Households $200,000 or More",Median Nonfamily Households Income ($),Mean Nonfamily Households Income ($)
0,2023,ADAMS,13206.0,0.063,0.040,0.112,0.152,0.135,0.253,0.122,0.099,0.019,0.004,49817.0,55623.0
1,2023,ALLEGHENY,241264.0,0.100,0.059,0.107,0.106,0.147,0.184,0.111,0.106,0.040,0.038,47284.0,65779.0
2,2023,ARMSTRONG,9155.0,0.123,0.099,0.174,0.133,0.174,0.147,0.054,0.072,0.014,0.010,31901.0,46758.0
3,2023,BEAVER,28588.0,0.066,0.075,0.118,0.108,0.183,0.238,0.103,0.083,0.016,0.009,43863.0,53163.0
4,2023,BERKS,51850.0,0.106,0.050,0.139,0.123,0.143,0.194,0.107,0.089,0.026,0.023,42344.0,55356.0
5,2023,BLAIR,21132.0,0.108,0.108,0.196,0.148,0.160,0.166,0.045,0.047,0.015,0.008,30525.0,42877.0
6,2023,BUCKS,70363.0,0.059,0.048,0.095,0.086,0.124,0.218,0.115,0.146,0.051,0.057,60183.0,76698.0
7,2023,BUTLER,29910.0,0.098,0.044,0.128,0.095,0.169,0.197,0.107,0.092,0.043,0.027,46163.0,59013.0
8,2023,CAMBRIA,23057.0,0.102,0.091,0.213,0.171,0.138,0.188,0.039,0.052,0.003,0.003,28897.0,39085.0
9,2023,CARBON,10679.0,0.112,0.047,0.173,0.158,0.134,0.174,0.086,0.087,0.026,0.003,35498.0,49776.0
10,2023,CENTRE,27552.0,0.145,0.085,0.101,0.135,0.148,0.181,0.093,0.069,0.023,0.020,36716.0,56421.0
11,2023,CHESTER,60486.0,0.054,0.040,0.109,0.092,0.097,0.188,0.125,0.170,0.060,0.065,62937.0,85832.0
12,2023,CLEARFIELD,13240.0,0.092,0.094,0.180,0.132,0.170,0.131,0.111,0.078,0.004,0.008,35144.0,46665.0
13,2023,COLUMBIA,10903.0,0.072,0.062,0.207,0.165,0.139,0.163,0.074,0.044,0.052,0.022,34396.0,51536.0
14,2023,CRAWFORD,13076.0,0.087,0.110,0.152,0.142,0.127,0.211,0.085,0.066,0.008,0.013,36326.0,48522.0
15,2023,CUMBERLAND,41216.0,0.071,0.044,0.094,0.084,0.158,0.184,0.126,0.146,0.049,0.043,57772.0,77390.0
16,2023,DAUPHIN,49599.0,0.098,0.057,0.097,0.115,0.139,0.228,0.115,0.108,0.027,0.015,49048.0,58166.0
17,2023,DELAWARE,75162.0,0.093,0.062,0.106,0.133,0.149,0.191,0.106,0.094,0.026,0.041,45464.0,63403.0
18,2023,ERIE,43287.0,0.105,0.092,0.155,0.150,0.182,0.152,0.077,0.050,0.022,0.015,34882.0,48318.0
19,2023,FAYETTE,21987.0,0.130,0.118,0.185,0.141,0.118,0.153,0.091,0.052,0.009,0.002,30353.0,40737.0
20,2023,FRANKLIN,19430.0,0.096,0.071,0.167,0.114,0.152,0.181,0.102,0.073,0.022,0.022,40961.0,54375.0
21,2023,INDIANA,12401.0,0.085,0.150,0.177,0.124,0.146,0.138,0.061,0.064,0.025,0.030,33438.0,53852.0
22,2023,LACKAWANNA,35554.0,0.145,0.102,0.167,0.118,0.160,0.149,0.066,0.066,0.008,0.019,32393.0,46177.0
23,2023,LANCASTER,70441.0,0.081,0.051,0.102,0.140,0.153,0.193,0.110,0.113,0.029,0.028,47525.0,64426.0
24,2023,LAWRENCE,13715.0,0.093,0.129,0.169,0.132,0.162,0.169,0.065,0.059,0.014,0.010,33305.0,45492.0
25,2023,LEBANON,58012.0,0.035,0.023,0.059,0.081,0.115,0.155,0.179,0.189,0.083,0.082,78824.0,96861.0
26,2023,UNNAMED: 27,40675.0,0.024,0.008,0.032,0.071,0.076,0.179,0.184,0.214,0.105,0.106,86363.0,110245.0
27,2023,UNNAMED: 28,29047.0,0.010,0.008,0.007,0.031,0.057,0.146,0.190,0.269,0.140,0.141,106264.0,NaN
28,2023,UNNAMED: 29,17337.0,0.063,0.057,0.131,0.103,0.219,0.175,0.122,0.086,0.022,0.022,46712.0,58852.0
29,2023,LEHIGH,44882.0,0.088,0.058,0.119,0.117,0.162,0.178,0.091,0.119,0.036,0.031,45351.0,63304.0
30,2023,LUZERNE,52693.0,0.112,0.086,0.150,0.122,0.154,0.188,0.072,0.064,0.032,0.020,37237.0,50661.0
31,2023,LYCOMING,17188.0,0.100,0.068,0.211,0.125,0.153,0.143,0.116,0.030,0.042,0.010,34701.0,48061.0
32,2023,MERCER,18617.0,0.074,0.074,0.155,0.143,0.157,0.223,0.084,0.069,0.010,0.012,39369.0,48935.0
33,2023,MONROE,18524.0,0.067,0.037,0.140,0.135,0.197,0.194,0.082,0.104,0.027,0.017,43625.0,56016.0
34,2023,MONTGOMERY,117270.0,0.069,0.044,0.088,0.102,0.130,0.170,0.121,0.154,0.055,0.067,57384.0,81271.0
35,2023,NORTHAMPTON,40354.0,0.089,0.041,0.095,0.076,0.186,0.209,0.110,0.127,0.036,0.030,51061.0,65335.0
36,2023,NORTHUMBERLAND,13948.0,0.106,0.088,0.156,0.143,0.147,0.205,0.076,0.060,0.020,0.001,35655.0,45540.0
37,2023,PHILADELPHIA,335275.0,0.136,0.089,0.105,0.081,0.121,0.169,0.100,0.104,0.049,0.045,44096.0,66965.0
38,2023,SCHUYLKILL,22776.0,0.116,0.101,0.178,0.132,0.119,0.140,0.105,0.090,0.015,0.003,32324.0,46944.0
39,2023,SOMERSET,10871.0,0.088,0.079,0.247,0.159,0.136,0.160,0.081,0.035,0.008,0.006,29971.0,43633.0
40,2023,WASHINGTON,31877.0,0.073,0.075,0.127,0.129,0.162,0.193,0.093,0.089,0.030,0.031,43008.0,60704.0
41,2023,WESTMORELAND,58669.0,0.096,0.073,0.130,0.138,0.165,0.177,0.093,0.088,0.022,0.016,40073.0,53023.0
42,2023,YORK,61083.0,0.074,0.056,0.093,0.129,0.164,0.224,0.112,0.098,0.029,0.022,47904.0,61758.0

**Auxillary (Total)  Data Extraction, Transformation & Loading (2023)**
-
-----------

In [50]:
# Reading in 2023 U.S. Census Bureau auxillary (Total) dataset
initial_pa_total_aux_2023 = pd.read_excel("Resources/PA_Total_Auxillary_2023.xlsx")
initial_pa_total_aux_2023.head(60)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,...,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,Civilian population 18 years and over,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,PERIOD OF SERVICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gulf War (9/2001 or later) veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
5,Gulf War (8/1990 to 8/2001) veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
6,Vietnam era veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
7,Korean War veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
8,World War II veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
9,SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Male,49.0%,48.2%,49.7%,48.7%,49.0%,49.2%,48.9%,49.4%,49.4%,...,49.9%,48.4%,49.1%,50.8%,46.3%,51.8%,51.9%,49.0%,49.0%,49.2%
11,Female,51.0%,51.8%,50.3%,51.3%,51.0%,50.8%,51.1%,50.6%,50.6%,...,50.1%,51.6%,50.9%,49.2%,53.7%,48.2%,48.1%,51.0%,51.0%,50.8%
12,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18 to 34 years,25.6%,28.4%,21.5%,23.2%,28.1%,25.3%,22.7%,24.4%,23.7%,...,24.6%,25.4%,27.2%,22.0%,35.4%,24.4%,22.2%,23.5%,21.8%,25.7%
14,35 to 54 years,27.8%,30.3%,29.2%,29.4%,31.1%,28.8%,31.8%,31.1%,28.6%,...,30.3%,33.0%,30.2%,31.7%,31.1%,31.4%,29.7%,30.4%,29.2%,32.2%
15,55 to 64 years,18.4%,15.8%,18.9%,18.6%,17.3%,18.1%,19.0%,18.2%,17.2%,...,20.1%,17.0%,16.8%,18.2%,14.2%,17.4%,18.3%,18.1%,18.6%,17.6%
16,65 to 74 years,16.9%,15.1%,17.8%,17.0%,13.7%,16.1%,15.3%,15.5%,18.2%,...,15.1%,13.9%,14.6%,16.0%,11.5%,15.6%,17.3%,16.4%,17.5%,14.4%
17,75 years and over,11.2%,10.5%,12.7%,11.8%,9.8%,11.7%,11.3%,10.8%,12.3%,...,9.9%,10.7%,11.2%,12.0%,7.7%,11.2%,12.5%,11.6%,12.9%,10.1%
18,RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,White alone,89.6%,78.7%,95.9%,88.7%,73.3%,91.7%,83.3%,93.9%,92.6%,...,65.3%,74.7%,75.5%,90.1%,38.1%,87.7%,94.2%,91.9%,93.4%,83.0%
20,Black or African American alone,N,11.6%,N,5.4%,4.3%,N,3.3%,N,2.6%,...,13.7%,9.7%,4.7%,N,38.1%,N,N,2.7%,2.6%,5.4%
21,American Indian and Alaska Native alone,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
22,Asian alone,N,4.2%,N,N,N,N,5.0%,N,N,...,N,8.0%,N,N,8.4%,N,N,N,N,1.5%
23,Native Hawaiian and Other Pacific Islander alone,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
24,Some other race alone,N,1.1%,N,N,6.9%,N,N,N,N,...,7.0%,N,N,N,7.1%,N,N,N,N,4.4%
25,Two or more races,N,4.3%,N,4.6%,13.3%,N,5.4%,3.0%,4.1%,...,11.2%,5.2%,10.8%,N,7.8%,N,N,3.4%,2.7%,5.5%
26,Hispanic or Latino (of any race),N,2.7%,N,N,21.2%,N,5.8%,N,N,...,16.5%,5.6%,13.7%,N,13.5%,6.5%,N,N,1.4%,8.1%
27,"White alone, not Hispanic or Latino",88.8%,78.1%,95.8%,88.3%,70.7%,91.6%,82.2%,93.5%,91.6%,...,62.5%,73.7%,73.9%,89.5%,36.4%,86.9%,93.3%,91.6%,92.9%,81.4%
28,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2023 I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Civilian population 18 years and over with income,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
30,Male,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
31,Female,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32,EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Civilian population 25 years and over,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
34,Less than high school graduate,8.4%,3.6%,6.2%,3.5%,12.3%,7.8%,4.3%,5.9%,7.3%,...,9.8%,5.0%,5.7%,10.4%,12.0%,10.2%,9.5%,5.3%,4.2%,8.5%
35,High school graduate (includes equivalency),40.2%,24.9%,45.7%,36.8%,37.2%,46.7%,28.2%,31.9%,42.1%,...,36.2%,21.4%,33.5%,47.5%,30.4%,45.5%,51.1%,34.6%,36.1%,37.6%
36,Some college or associate's degree,27.6%,24.6%,27.8%,29.5%,23.6%,23.2%,23.2%,24.5%,26.7%,...,27.2%,21.1%,26.5%,22.9%,22.0%,24.2%,23.2%,27.5%,26.8%,24.8%
37,Bachelor's degree or higher,23.8%,46.9%,20.3%,30.2%,26.9%,22.3%,44.2%,37.7%,24.0%,...,26.8%,52.5%,34.3%,19.3%,35.7%,20.1%,16.2%,32.7%,32.8%,29.1%
38,EMPLOYMENT STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Civilian population 18 to 64 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
40,Labor force participation rate,81.8%,81.1%,77.0%,79.7%,78.8%,74.9%,82.2%,78.1%,75.1%,...,76.1%,82.7%,78.1%,71.8%,77.2%,73.6%,74.7%,80.9%,81.0%,83.5%
41,Civilian labor force 18 to 64 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
42,Unemployment rate,3.2%,3.9%,2.7%,2.6%,5.1%,3.5%,3.6%,4.4%,4.0%,...,6.5%,3.4%,4.5%,2.8%,6.3%,5.8%,5.3%,2.9%,3.7%,3.7%
43,POVERTY STATUS IN THE PAST 12 MONTHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Civilian population 18 years and over for whom...,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
45,Income in the past 12 months below poverty level,7.6%,10.8%,10.9%,9.7%,10.2%,14.2%,6.4%,8.6%,11.6%,...,8.7%,6.5%,7.7%,11.9%,19.1%,12.5%,10.7%,8.1%,10.1%,7.3%
46,Income in the past 12 months at or above pover...,92.4%,89.2%,89.1%,90.3%,89.8%,85.8%,93.6%,91.4%,88.4%,...,91.3%,93.5%,92.3%,88.1%,80.9%,87.5%,89.3%,91.9%,89.9%,92.7%
47,DISABILITY STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Civilian population 18 years and over for whom...,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
49,With any disability,15.0%,15.3%,20.0%,18.3%,16.1%,20.6%,13.9%,15.3%,22.5%,...,19.6%,12.6%,13.9%,19.2%,21.0%,21.3%,19.5%,17.4%,17.5%,17.6%
50,Without a disability,85.0%,84.7%,80.0%,81.7%,83.9%,79.4%,86.1%,84.7%,77.5%,...,80.4%,87.4%,86.1%,80.8%,79.0%,78.7%,80.5%,82.6%,82.5%,82.4%

In [51]:
# Retrieving only rows that contain the desired county summary demographic statistics
# Three groupings = Total Population, Veteran Population, Nonveteran Population
# % of population groups above that fall into these age categories: 18 to 34, 35 to 54, 55 to 64, 65 to 74 and 75 & Over
# Labor force participation rate
# Unemployment rate
# % of Population group with income below poverty level in the past 12 months
# % of Population group with any disability
initial_pa_total_aux_2023 = initial_pa_total_aux_2023.iloc[[13, 14, 15, 16, 17, 40, 42, 45, 49], :]
initial_pa_total_aux_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
13,18 to 34 years,25.6%,28.4%,21.5%,23.2%,28.1%,25.3%,22.7%,24.4%,23.7%,...,24.6%,25.4%,27.2%,22.0%,35.4%,24.4%,22.2%,23.5%,21.8%,25.7%
14,35 to 54 years,27.8%,30.3%,29.2%,29.4%,31.1%,28.8%,31.8%,31.1%,28.6%,...,30.3%,33.0%,30.2%,31.7%,31.1%,31.4%,29.7%,30.4%,29.2%,32.2%
15,55 to 64 years,18.4%,15.8%,18.9%,18.6%,17.3%,18.1%,19.0%,18.2%,17.2%,...,20.1%,17.0%,16.8%,18.2%,14.2%,17.4%,18.3%,18.1%,18.6%,17.6%
16,65 to 74 years,16.9%,15.1%,17.8%,17.0%,13.7%,16.1%,15.3%,15.5%,18.2%,...,15.1%,13.9%,14.6%,16.0%,11.5%,15.6%,17.3%,16.4%,17.5%,14.4%
17,75 years and over,11.2%,10.5%,12.7%,11.8%,9.8%,11.7%,11.3%,10.8%,12.3%,...,9.9%,10.7%,11.2%,12.0%,7.7%,11.2%,12.5%,11.6%,12.9%,10.1%
40,Labor force participation rate,81.8%,81.1%,77.0%,79.7%,78.8%,74.9%,82.2%,78.1%,75.1%,...,76.1%,82.7%,78.1%,71.8%,77.2%,73.6%,74.7%,80.9%,81.0%,83.5%
42,Unemployment rate,3.2%,3.9%,2.7%,2.6%,5.1%,3.5%,3.6%,4.4%,4.0%,...,6.5%,3.4%,4.5%,2.8%,6.3%,5.8%,5.3%,2.9%,3.7%,3.7%
45,Income in the past 12 months below poverty level,7.6%,10.8%,10.9%,9.7%,10.2%,14.2%,6.4%,8.6%,11.6%,...,8.7%,6.5%,7.7%,11.9%,19.1%,12.5%,10.7%,8.1%,10.1%,7.3%
49,With any disability,15.0%,15.3%,20.0%,18.3%,16.1%,20.6%,13.9%,15.3%,22.5%,...,19.6%,12.6%,13.9%,19.2%,21.0%,21.3%,19.5%,17.4%,17.5%,17.6%

In [52]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_total_aux_2023 = initial_pa_total_aux_2023.T
initial_pa_total_aux_2023.head()

,13,14,15,16,17,40,42,45,49
Unnamed: 0,18 to 34 years,35 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Labor force participation rate,Unemployment rate,Income in the past 12 months below poverty level,With any disability
"Adams County, Pennsylvania",25.6%,27.8%,18.4%,16.9%,11.2%,81.8%,3.2%,7.6%,15.0%
"Allegheny County, Pennsylvania",28.4%,30.3%,15.8%,15.1%,10.5%,81.1%,3.9%,10.8%,15.3%
"Armstrong County, Pennsylvania",21.5%,29.2%,18.9%,17.8%,12.7%,77.0%,2.7%,10.9%,20.0%
"Beaver County, Pennsylvania",23.2%,29.4%,18.6%,17.0%,11.8%,79.7%,2.6%,9.7%,18.3%

In [53]:
# Resetting index and renaming to create a 'County' column
initial_pa_total_aux_2023 = initial_pa_total_aux_2023.reset_index()
initial_pa_total_aux_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_total_aux_2023.head()

,County,13,14,15,16,17,40,42,45,49
0,Unnamed: 0,18 to 34 years,35 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Labor force participation rate,Unemployment rate,Income in the past 12 months below poverty level,With any disability
1,"Adams County, Pennsylvania",25.6%,27.8%,18.4%,16.9%,11.2%,81.8%,3.2%,7.6%,15.0%
2,"Allegheny County, Pennsylvania",28.4%,30.3%,15.8%,15.1%,10.5%,81.1%,3.9%,10.8%,15.3%
3,"Armstrong County, Pennsylvania",21.5%,29.2%,18.9%,17.8%,12.7%,77.0%,2.7%,10.9%,20.0%
4,"Beaver County, Pennsylvania",23.2%,29.4%,18.6%,17.0%,11.8%,79.7%,2.6%,9.7%,18.3%

In [54]:
# Confirming column data types prior to renaming
print(initial_pa_total_aux_2023.columns)

Index(['County', 13, 14, 15, 16, 17, 40, 42, 45, 49], dtype='object')

In [55]:
# Converting column data types from integers to strings for renaming
initial_pa_total_aux_2023.columns = initial_pa_total_aux_2023.columns.astype(str)
print(initial_pa_total_aux_2023.columns)

Index(['County', '13', '14', '15', '16', '17', '40', '42', '45', '49'], dtype='object')

In [56]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_total_aux_2023.replace('N', np.nan, inplace=True)

In [57]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_total_aux_2023 = initial_pa_total_aux_2023.rename(columns={'13': '% Total Population 18-34 Years Old', '14': '% Total Population 35-54 Years Old', '15': '% Total Population 55-64 Years Old',
                                                                         '16': '% Total Population 65-74 Years Old', '17': '% Total Population 75 Years Old & Over', '40': 'Total Labor Force Participation Rate (%)',
                                                                         '42': 'Total Unemployment Rate (%)', '45': '% Total Population With Income Below Poverty Level (Past 12 Months)',
                                                                         '49': '% Total Population With Any Disability'})
initial_pa_total_aux_2023 = initial_pa_total_aux_2023.drop(0)
initial_pa_total_aux_2023 = initial_pa_total_aux_2023.reset_index(drop=True)
initial_pa_total_aux_2023['County'] = initial_pa_total_aux_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_total_aux_2023['County'] = initial_pa_total_aux_2023['County'].apply(lambda x: x.upper())
initial_pa_total_aux_2023.insert(0, 'Year', 2023)
initial_pa_total_aux_2023['% Total Population 18-34 Years Old'] = initial_pa_total_aux_2023['% Total Population 18-34 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023['% Total Population 35-54 Years Old'] = initial_pa_total_aux_2023['% Total Population 35-54 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023['% Total Population 55-64 Years Old'] = initial_pa_total_aux_2023['% Total Population 55-64 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023['% Total Population 65-74 Years Old'] = initial_pa_total_aux_2023['% Total Population 65-74 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023['% Total Population 75 Years Old & Over'] = initial_pa_total_aux_2023['% Total Population 75 Years Old & Over'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023['Total Labor Force Participation Rate (%)'] = initial_pa_total_aux_2023['Total Labor Force Participation Rate (%)'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023['Total Unemployment Rate (%)'] = initial_pa_total_aux_2023['Total Unemployment Rate (%)'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023['% Total Population With Income Below Poverty Level (Past 12 Months)'] = initial_pa_total_aux_2023['% Total Population With Income Below Poverty Level (Past 12 Months)'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023['% Total Population With Any Disability'] = initial_pa_total_aux_2023['% Total Population With Any Disability'].str.rstrip('%').astype(float) / 100
initial_pa_total_aux_2023

,Year,County,% Total Population 18-34 Years Old,% Total Population 35-54 Years Old,% Total Population 55-64 Years Old,% Total Population 65-74 Years Old,% Total Population 75 Years Old & Over,Total Labor Force Participation Rate (%),Total Unemployment Rate (%),% Total Population With Income Below Poverty Level (Past 12 Months),% Total Population With Any Disability
0,2023,ADAMS,0.256,0.278,0.184,0.169,0.112,0.818,0.032,0.076,0.150
1,2023,ALLEGHENY,0.284,0.303,0.158,0.151,0.105,0.811,0.039,0.108,0.153
2,2023,ARMSTRONG,0.215,0.292,0.189,0.178,0.127,0.770,0.027,0.109,0.200
3,2023,BEAVER,0.232,0.294,0.186,0.170,0.118,0.797,0.026,0.097,0.183
4,2023,BERKS,0.281,0.311,0.173,0.137,0.098,0.788,0.051,0.102,0.161
5,2023,BLAIR,0.253,0.288,0.181,0.161,0.117,0.749,0.035,0.142,0.206
6,2023,BUCKS,0.227,0.318,0.190,0.153,0.113,0.822,0.036,0.064,0.139
7,2023,BUTLER,0.244,0.311,0.182,0.155,0.108,0.781,0.044,0.086,0.153
8,2023,CAMBRIA,0.237,0.286,0.172,0.182,0.123,0.751,0.040,0.116,0.225
9,2023,CARBON,0.221,0.303,0.185,0.179,0.112,0.781,0.063,0.111,0.204
10,2023,CENTRE,0.427,0.250,0.131,0.112,0.080,0.653,0.036,0.203,0.144
11,2023,CHESTER,0.257,0.335,0.173,0.136,0.099,0.836,0.029,0.060,0.117
12,2023,CLEARFIELD,0.224,0.307,0.188,0.166,0.115,0.733,0.019,0.147,0.206
13,2023,COLUMBIA,0.327,0.264,0.166,0.144,0.100,0.792,0.056,0.114,0.123
14,2023,CRAWFORD,0.245,0.286,0.177,0.170,0.123,0.745,0.029,0.113,0.203
15,2023,CUMBERLAND,0.280,0.320,0.155,0.139,0.106,0.815,0.028,0.082,0.151
16,2023,DAUPHIN,0.278,0.319,0.164,0.143,0.094,0.812,0.045,0.114,0.163
17,2023,DELAWARE,0.284,0.321,0.166,0.137,0.093,0.789,0.059,0.100,0.157
18,2023,ERIE,0.275,0.304,0.163,0.154,0.104,0.739,0.039,0.128,0.202
19,2023,FAYETTE,0.231,0.302,0.177,0.172,0.118,0.697,0.035,0.172,0.237
20,2023,FRANKLIN,0.254,0.315,0.166,0.150,0.114,0.810,0.043,0.073,0.184
21,2023,INDIANA,0.317,0.268,0.158,0.150,0.107,0.688,0.056,0.162,0.193
22,2023,LACKAWANNA,0.269,0.300,0.166,0.150,0.115,0.734,0.029,0.161,0.208
23,2023,LANCASTER,0.276,0.301,0.161,0.143,0.119,0.827,0.032,0.075,0.154
24,2023,LAWRENCE,0.242,0.286,0.170,0.176,0.126,0.756,0.041,0.124,0.210
25,2023,LEBANON,0.255,0.309,0.165,0.153,0.118,0.821,0.023,0.074,0.168
26,2023,LEHIGH,0.276,0.329,0.162,0.134,0.099,0.796,0.047,0.108,0.156
27,2023,LUZERNE,0.265,0.308,0.171,0.146,0.110,0.751,0.045,0.146,0.204
28,2023,LYCOMING,0.269,0.297,0.171,0.155,0.107,0.782,0.048,0.114,0.201
29,2023,MERCER,0.249,0.281,0.182,0.165,0.123,0.736,0.048,0.100,0.188
30,2023,MONROE,0.246,0.303,0.201,0.151,0.099,0.761,0.065,0.087,0.196
31,2023,MONTGOMERY,0.254,0.330,0.170,0.139,0.107,0.827,0.034,0.065,0.126
32,2023,NORTHAMPTON,0.272,0.302,0.168,0.146,0.112,0.781,0.045,0.077,0.139
33,2023,NORTHUMBERLAND,0.220,0.317,0.182,0.160,0.120,0.718,0.028,0.119,0.192
34,2023,PHILADELPHIA,0.354,0.311,0.142,0.115,0.077,0.772,0.063,0.191,0.210
35,2023,SCHUYLKILL,0.244,0.314,0.174,0.156,0.112,0.736,0.058,0.125,0.213
36,2023,SOMERSET,0.222,0.297,0.183,0.173,0.125,0.747,0.053,0.107,0.195
37,2023,WASHINGTON,0.235,0.304,0.181,0.164,0.116,0.809,0.029,0.081,0.174
38,2023,WESTMORELAND,0.218,0.292,0.186,0.175,0.129,0.810,0.037,0.101,0.175
39,2023,YORK,0.257,0.322,0.176,0.144,0.101,0.835,0.037,0.073,0.176

**Auxillary (Veterans)  Data Extraction, Transformation & Loading (2023)**
-
-----------

In [58]:
# Reading in 2023 U.S. Census Bureau auxillary (Veterans) dataset
initial_pa_veterans_aux_2023 = pd.read_excel("Resources/PA_Veterans_Auxillary_2023.xlsx")
initial_pa_veterans_aux_2023.head(60)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,...,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans,Percent Veterans
1,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,Civilian population 18 years and over,9.4%,5.6%,8.9%,7.7%,5.5%,9.0%,5.5%,6.5%,8.1%,...,5.9%,4.6%,6.3%,9.0%,3.5%,6.7%,6.8%,6.3%,7.5%,6.9%
3,PERIOD OF SERVICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gulf War (9/2001 or later) veterans,N,19.1%,N,N,23.0%,N,16.4%,15.8%,N,...,N,17.7%,12.5%,N,22.9%,N,N,N,18.9%,28.2%
5,Gulf War (8/1990 to 8/2001) veterans,N,16.3%,N,N,13.8%,N,17.7%,22.3%,N,...,N,16.8%,13.7%,N,15.4%,N,N,N,17.3%,20.9%
6,Vietnam era veterans,N,37.5%,N,N,33.4%,N,35.6%,39.0%,N,...,N,37.4%,45.1%,N,29.0%,N,N,N,40.7%,30.7%
7,Korean War veterans,N,6.2%,N,N,7.0%,N,3.8%,3.8%,N,...,N,6.8%,3.2%,N,3.8%,N,N,N,6.7%,3.3%
8,World War II veterans,N,1.3%,N,N,0.5%,N,0.7%,1.8%,N,...,N,1.8%,0.7%,N,0.5%,N,N,N,1.4%,1.8%
9,SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Male,88.4%,93.5%,95.3%,93.5%,89.7%,94.6%,92.7%,96.2%,93.8%,...,84.2%,91.3%,93.4%,91.0%,89.5%,93.9%,95.0%,88.8%,92.6%,89.1%
11,Female,11.6%,6.5%,4.7%,6.5%,10.3%,5.4%,7.3%,3.8%,6.2%,...,15.8%,8.7%,6.6%,9.0%,10.5%,6.1%,5.0%,11.2%,7.4%,10.9%
12,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18 to 34 years,10.0%,5.9%,5.8%,6.3%,6.4%,7.0%,6.7%,3.3%,4.1%,...,3.8%,4.2%,3.6%,8.3%,5.6%,5.4%,5.0%,5.9%,3.2%,7.6%
14,35 to 54 years,18.2%,18.6%,13.4%,19.8%,19.5%,21.9%,14.3%,14.9%,25.9%,...,17.5%,18.3%,11.5%,19.1%,21.2%,19.4%,19.9%,24.1%,18.8%,22.3%
15,55 to 64 years,20.8%,17.4%,16.7%,22.2%,17.4%,28.7%,16.5%,23.0%,19.0%,...,24.7%,13.8%,19.7%,27.9%,22.0%,14.8%,24.4%,17.5%,17.3%,21.1%
16,65 to 74 years,24.3%,22.3%,26.8%,20.9%,21.6%,15.5%,21.5%,25.2%,18.5%,...,21.5%,23.1%,24.2%,15.5%,26.5%,22.5%,17.5%,13.9%,24.7%,20.8%
17,75 years and over,26.8%,35.9%,37.3%,30.8%,35.1%,26.9%,41.0%,33.6%,32.5%,...,32.5%,40.5%,40.9%,29.3%,24.7%,37.8%,33.2%,38.6%,36.0%,28.2%
18,RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,White alone,91.2%,83.9%,96.7%,87.6%,89.9%,94.5%,87.0%,94.7%,94.2%,...,72.2%,82.2%,90.5%,95.1%,39.8%,96.5%,99.0%,96.0%,95.9%,84.8%
20,Black or African American alone,N,11.6%,N,5.3%,4.3%,N,3.1%,N,2.7%,...,13.4%,10.7%,2.7%,N,46.1%,N,N,1.2%,2.3%,4.5%
21,American Indian and Alaska Native alone,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
22,Asian alone,N,0.6%,N,N,N,N,1.8%,N,N,...,N,3.0%,N,N,3.8%,N,N,N,N,1.1%
23,Native Hawaiian and Other Pacific Islander alone,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
24,Some other race alone,N,0.5%,N,N,1.0%,N,N,N,N,...,7.1%,N,N,N,3.9%,N,N,N,N,2.6%
25,Two or more races,N,3.0%,N,6.9%,3.1%,N,6.0%,5.1%,3.2%,...,6.4%,3.1%,6.5%,N,5.8%,N,N,2.3%,1.4%,6.4%
26,Hispanic or Latino (of any race),N,2.0%,N,N,6.3%,N,6.5%,N,N,...,7.1%,3.2%,6.5%,N,7.6%,2.4%,N,N,2.6%,3.7%
27,"White alone, not Hispanic or Latino",90.4%,83.5%,96.7%,85.5%,86.3%,94.5%,85.3%,94.3%,93.6%,...,72.2%,81.3%,89.8%,93.6%,37.9%,95.8%,99.0%,96.0%,93.9%,84.1%
28,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2023 I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Civilian population 18 years and over with income,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
30,Male,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
31,Female,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32,EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Civilian population 25 years and over,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
34,Less than high school graduate,3.8%,4.2%,2.3%,4.8%,7.9%,4.4%,2.2%,7.1%,2.8%,...,2.2%,4.2%,3.9%,3.1%,6.4%,4.8%,5.5%,3.8%,3.7%,4.1%
35,High school graduate (includes equivalency),35.4%,35.5%,47.1%,38.4%,35.5%,59.1%,37.7%,41.3%,49.5%,...,39.8%,30.0%,38.8%,52.1%,39.5%,49.3%,62.4%,38.5%,38.3%,37.1%
36,Some college or associate's degree,37.0%,31.5%,36.6%,34.2%,34.6%,25.3%,29.0%,28.5%,29.6%,...,34.5%,29.5%,33.3%,28.9%,33.6%,30.5%,18.5%,33.8%,34.5%,32.5%
37,Bachelor's degree or higher,23.9%,28.8%,14.0%,22.6%,22.0%,11.2%,31.1%,23.0%,18.2%,...,23.4%,36.3%,24.1%,15.9%,20.4%,15.4%,13.6%,23.9%,23.5%,26.2%
38,EMPLOYMENT STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Civilian population 18 to 64 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
40,Labor force participation rate,77.0%,81.6%,78.7%,72.8%,87.7%,64.8%,78.4%,77.6%,78.7%,...,54.1%,79.4%,67.3%,73.2%,67.7%,74.1%,81.6%,89.3%,83.9%,83.1%
41,Civilian labor force 18 to 64 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
42,Unemployment rate,0.0%,3.1%,2.5%,0.0%,2.4%,8.7%,1.4%,7.0%,1.3%,...,0.0%,1.1%,4.1%,2.7%,3.0%,7.2%,2.8%,0.8%,3.3%,5.5%
43,POVERTY STATUS IN THE PAST 12 MONTHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Civilian population 18 years and over for whom...,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
45,Income in the past 12 months below poverty level,4.9%,7.5%,13.9%,6.4%,7.1%,9.7%,3.6%,7.2%,7.6%,...,5.3%,7.8%,5.5%,9.1%,17.8%,10.3%,8.1%,7.8%,9.3%,4.1%
46,Income in the past 12 months at or above pover...,95.1%,92.5%,86.1%,93.6%,92.9%,90.3%,96.4%,92.8%,92.4%,...,94.7%,92.2%,94.5%,90.9%,82.2%,89.7%,91.9%,92.2%,90.7%,95.9%
47,DISABILITY STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Civilian population 18 years and over for whom...,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
49,With any disability,23.3%,29.4%,34.4%,29.4%,25.3%,38.7%,30.4%,27.5%,31.6%,...,34.9%,25.4%,27.0%,41.3%,36.1%,33.8%,24.3%,30.8%,28.0%,31.4%
50,Without a disability,76.7%,70.6%,65.6%,70.6%,74.7%,61.3%,69.6%,72.5%,68.4%,...,65.1%,74.6%,73.0%,58.7%,63.9%,66.2%,75.7%,69.2%,72.0%,68.6%

In [59]:
# Retrieving only rows that contain the desired county summary demographic statistics
# Three groupings = Total Population, Veteran Population, Nonveteran Population
# % of population groups above that fall into these age categories: 18 to 34, 35 to 54, 55 to 64, 65 to 74 and 75 & Over
# Labor force participation rate
# Unemployment rate
# % of Population group with income below poverty level in the past 12 months
# % of Population group with any disability
initial_pa_veterans_aux_2023 = initial_pa_veterans_aux_2023.iloc[[13, 14, 15, 16, 17, 40, 42, 45, 49], :]
initial_pa_veterans_aux_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
13,18 to 34 years,10.0%,5.9%,5.8%,6.3%,6.4%,7.0%,6.7%,3.3%,4.1%,...,3.8%,4.2%,3.6%,8.3%,5.6%,5.4%,5.0%,5.9%,3.2%,7.6%
14,35 to 54 years,18.2%,18.6%,13.4%,19.8%,19.5%,21.9%,14.3%,14.9%,25.9%,...,17.5%,18.3%,11.5%,19.1%,21.2%,19.4%,19.9%,24.1%,18.8%,22.3%
15,55 to 64 years,20.8%,17.4%,16.7%,22.2%,17.4%,28.7%,16.5%,23.0%,19.0%,...,24.7%,13.8%,19.7%,27.9%,22.0%,14.8%,24.4%,17.5%,17.3%,21.1%
16,65 to 74 years,24.3%,22.3%,26.8%,20.9%,21.6%,15.5%,21.5%,25.2%,18.5%,...,21.5%,23.1%,24.2%,15.5%,26.5%,22.5%,17.5%,13.9%,24.7%,20.8%
17,75 years and over,26.8%,35.9%,37.3%,30.8%,35.1%,26.9%,41.0%,33.6%,32.5%,...,32.5%,40.5%,40.9%,29.3%,24.7%,37.8%,33.2%,38.6%,36.0%,28.2%
40,Labor force participation rate,77.0%,81.6%,78.7%,72.8%,87.7%,64.8%,78.4%,77.6%,78.7%,...,54.1%,79.4%,67.3%,73.2%,67.7%,74.1%,81.6%,89.3%,83.9%,83.1%
42,Unemployment rate,0.0%,3.1%,2.5%,0.0%,2.4%,8.7%,1.4%,7.0%,1.3%,...,0.0%,1.1%,4.1%,2.7%,3.0%,7.2%,2.8%,0.8%,3.3%,5.5%
45,Income in the past 12 months below poverty level,4.9%,7.5%,13.9%,6.4%,7.1%,9.7%,3.6%,7.2%,7.6%,...,5.3%,7.8%,5.5%,9.1%,17.8%,10.3%,8.1%,7.8%,9.3%,4.1%
49,With any disability,23.3%,29.4%,34.4%,29.4%,25.3%,38.7%,30.4%,27.5%,31.6%,...,34.9%,25.4%,27.0%,41.3%,36.1%,33.8%,24.3%,30.8%,28.0%,31.4%

In [60]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_veterans_aux_2023 = initial_pa_veterans_aux_2023.T
initial_pa_veterans_aux_2023.head()

,13,14,15,16,17,40,42,45,49
Unnamed: 0,18 to 34 years,35 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Labor force participation rate,Unemployment rate,Income in the past 12 months below poverty level,With any disability
"Adams County, Pennsylvania",10.0%,18.2%,20.8%,24.3%,26.8%,77.0%,0.0%,4.9%,23.3%
"Allegheny County, Pennsylvania",5.9%,18.6%,17.4%,22.3%,35.9%,81.6%,3.1%,7.5%,29.4%
"Armstrong County, Pennsylvania",5.8%,13.4%,16.7%,26.8%,37.3%,78.7%,2.5%,13.9%,34.4%
"Beaver County, Pennsylvania",6.3%,19.8%,22.2%,20.9%,30.8%,72.8%,0.0%,6.4%,29.4%

In [61]:
# Resetting index and renaming to create a 'County' column
initial_pa_veterans_aux_2023 = initial_pa_veterans_aux_2023.reset_index()
initial_pa_veterans_aux_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_veterans_aux_2023.head()

,County,13,14,15,16,17,40,42,45,49
0,Unnamed: 0,18 to 34 years,35 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Labor force participation rate,Unemployment rate,Income in the past 12 months below poverty level,With any disability
1,"Adams County, Pennsylvania",10.0%,18.2%,20.8%,24.3%,26.8%,77.0%,0.0%,4.9%,23.3%
2,"Allegheny County, Pennsylvania",5.9%,18.6%,17.4%,22.3%,35.9%,81.6%,3.1%,7.5%,29.4%
3,"Armstrong County, Pennsylvania",5.8%,13.4%,16.7%,26.8%,37.3%,78.7%,2.5%,13.9%,34.4%
4,"Beaver County, Pennsylvania",6.3%,19.8%,22.2%,20.9%,30.8%,72.8%,0.0%,6.4%,29.4%

In [62]:
# Confirming column data types prior to renaming
print(initial_pa_veterans_aux_2023.columns)

Index(['County', 13, 14, 15, 16, 17, 40, 42, 45, 49], dtype='object')

In [63]:
# Converting column data types from integers to strings for renaming
initial_pa_veterans_aux_2023.columns = initial_pa_veterans_aux_2023.columns.astype(str)
print(initial_pa_veterans_aux_2023.columns)

Index(['County', '13', '14', '15', '16', '17', '40', '42', '45', '49'], dtype='object')

In [64]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_veterans_aux_2023.replace('N', np.nan, inplace=True)

In [65]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_veterans_aux_2023 = initial_pa_veterans_aux_2023.rename(columns={'13': '% Veteran Population 18-34 Years Old', '14': '% Veteran Population 35-54 Years Old', '15': '% Veteran Population 55-64 Years Old',
                                                                         '16': '% Veteran Population 65-74 Years Old', '17': '% Veteran Population 75 Years Old & Over', '40': 'Veteran Labor Force Participation Rate (%)',
                                                                         '42': 'Veteran Unemployment Rate (%)', '45': '% Veteran Population With Income Below Poverty Level (Past 12 Months)',
                                                                         '49': '% Veteran Population With Any Disability'})
initial_pa_veterans_aux_2023 = initial_pa_veterans_aux_2023.drop(0)
initial_pa_veterans_aux_2023 = initial_pa_veterans_aux_2023.reset_index(drop=True)
initial_pa_veterans_aux_2023['County'] = initial_pa_veterans_aux_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_veterans_aux_2023['County'] = initial_pa_veterans_aux_2023['County'].apply(lambda x: x.upper())
initial_pa_veterans_aux_2023.insert(0, 'Year', 2023)
initial_pa_veterans_aux_2023['% Veteran Population 18-34 Years Old'] = initial_pa_veterans_aux_2023['% Veteran Population 18-34 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023['% Veteran Population 35-54 Years Old'] = initial_pa_veterans_aux_2023['% Veteran Population 35-54 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023['% Veteran Population 55-64 Years Old'] = initial_pa_veterans_aux_2023['% Veteran Population 55-64 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023['% Veteran Population 65-74 Years Old'] = initial_pa_veterans_aux_2023['% Veteran Population 65-74 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023['% Veteran Population 75 Years Old & Over'] = initial_pa_veterans_aux_2023['% Veteran Population 75 Years Old & Over'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023['Veteran Labor Force Participation Rate (%)'] = initial_pa_veterans_aux_2023['Veteran Labor Force Participation Rate (%)'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023['Veteran Unemployment Rate (%)'] = initial_pa_veterans_aux_2023['Veteran Unemployment Rate (%)'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023['% Veteran Population With Income Below Poverty Level (Past 12 Months)'] = initial_pa_veterans_aux_2023['% Veteran Population With Income Below Poverty Level (Past 12 Months)'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023['% Veteran Population With Any Disability'] = initial_pa_veterans_aux_2023['% Veteran Population With Any Disability'].str.rstrip('%').astype(float) / 100
initial_pa_veterans_aux_2023

,Year,County,% Veteran Population 18-34 Years Old,% Veteran Population 35-54 Years Old,% Veteran Population 55-64 Years Old,% Veteran Population 65-74 Years Old,% Veteran Population 75 Years Old & Over,Veteran Labor Force Participation Rate (%),Veteran Unemployment Rate (%),% Veteran Population With Income Below Poverty Level (Past 12 Months),% Veteran Population With Any Disability
0,2023,ADAMS,0.100,0.182,0.208,0.243,0.268,0.770,0.000,0.049,0.233
1,2023,ALLEGHENY,0.059,0.186,0.174,0.223,0.359,0.816,0.031,0.075,0.294
2,2023,ARMSTRONG,0.058,0.134,0.167,0.268,0.373,0.787,0.025,0.139,0.344
3,2023,BEAVER,0.063,0.198,0.222,0.209,0.308,0.728,0.000,0.064,0.294
4,2023,BERKS,0.064,0.195,0.174,0.216,0.351,0.877,0.024,0.071,0.253
5,2023,BLAIR,0.070,0.219,0.287,0.155,0.269,0.648,0.087,0.097,0.387
6,2023,BUCKS,0.067,0.143,0.165,0.215,0.410,0.784,0.014,0.036,0.304
7,2023,BUTLER,0.033,0.149,0.230,0.252,0.336,0.776,0.070,0.072,0.275
8,2023,CAMBRIA,0.041,0.259,0.190,0.185,0.325,0.787,0.013,0.076,0.316
9,2023,CARBON,0.169,0.231,0.138,0.174,0.288,0.894,0.033,0.034,0.250
10,2023,CENTRE,0.056,0.193,0.224,0.159,0.368,0.765,0.043,0.043,0.347
11,2023,CHESTER,0.036,0.170,0.198,0.218,0.378,0.839,0.025,0.043,0.269
12,2023,CLEARFIELD,0.036,0.156,0.159,0.308,0.341,0.699,0.000,0.046,0.380
13,2023,COLUMBIA,0.032,0.175,0.257,0.192,0.344,0.873,0.042,0.041,0.238
14,2023,CRAWFORD,0.062,0.234,0.226,0.165,0.312,0.640,0.000,0.121,0.319
15,2023,CUMBERLAND,0.039,0.312,0.176,0.219,0.254,0.856,0.022,0.056,0.254
16,2023,DAUPHIN,0.057,0.231,0.224,0.203,0.284,0.760,0.023,0.121,0.310
17,2023,DELAWARE,0.104,0.216,0.164,0.197,0.319,0.823,0.006,0.075,0.200
18,2023,ERIE,0.120,0.154,0.214,0.212,0.299,0.715,0.017,0.095,0.355
19,2023,FAYETTE,0.000,0.204,0.185,0.218,0.394,0.659,0.005,0.060,0.411
20,2023,FRANKLIN,0.043,0.161,0.320,0.197,0.279,0.870,0.000,0.011,0.260
21,2023,INDIANA,0.023,0.171,0.152,0.323,0.331,0.776,0.066,0.078,0.353
22,2023,LACKAWANNA,0.072,0.186,0.182,0.183,0.377,0.635,0.021,0.115,0.354
23,2023,LANCASTER,0.088,0.244,0.128,0.194,0.346,0.852,0.047,0.046,0.247
24,2023,LAWRENCE,0.032,0.226,0.076,0.299,0.367,0.850,0.000,0.050,0.368
25,2023,LEBANON,0.007,0.242,0.200,0.272,0.279,0.685,0.052,0.032,0.399
26,2023,LEHIGH,0.047,0.180,0.191,0.194,0.387,0.827,0.019,0.064,0.257
27,2023,LUZERNE,0.080,0.217,0.147,0.178,0.379,0.731,0.007,0.075,0.391
28,2023,LYCOMING,0.073,0.272,0.148,0.235,0.272,0.767,0.041,0.073,0.353
29,2023,MERCER,0.110,0.240,0.217,0.184,0.248,0.728,0.016,0.061,0.371
30,2023,MONROE,0.038,0.175,0.247,0.215,0.325,0.541,0.000,0.053,0.349
31,2023,MONTGOMERY,0.042,0.183,0.138,0.231,0.405,0.794,0.011,0.078,0.254
32,2023,NORTHAMPTON,0.036,0.115,0.197,0.242,0.409,0.673,0.041,0.055,0.270
33,2023,NORTHUMBERLAND,0.083,0.191,0.279,0.155,0.293,0.732,0.027,0.091,0.413
34,2023,PHILADELPHIA,0.056,0.212,0.220,0.265,0.247,0.677,0.030,0.178,0.361
35,2023,SCHUYLKILL,0.054,0.194,0.148,0.225,0.378,0.741,0.072,0.103,0.338
36,2023,SOMERSET,0.050,0.199,0.244,0.175,0.332,0.816,0.028,0.081,0.243
37,2023,WASHINGTON,0.059,0.241,0.175,0.139,0.386,0.893,0.008,0.078,0.308
38,2023,WESTMORELAND,0.032,0.188,0.173,0.247,0.360,0.839,0.033,0.093,0.280
39,2023,YORK,0.076,0.223,0.211,0.208,0.282,0.831,0.055,0.041,0.314

**Auxillary (Nonveterans)  Data Extraction, Transformation & Loading (2023)**
-
-----------

In [66]:
# Reading in 2023 U.S. Census Bureau auxillary (Nonveterans) dataset
initial_pa_nonveterans_aux_2023 = pd.read_excel("Resources/PA_Nonveterans_Auxillary_2023.xlsx")
initial_pa_nonveterans_aux_2023.head(60)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,...,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans,Percent Nonveterans
1,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,Civilian population 18 years and over,90.6%,94.4%,91.1%,92.3%,94.5%,91.0%,94.5%,93.5%,91.9%,...,94.1%,95.4%,93.7%,91.0%,96.5%,93.3%,93.2%,93.7%,92.5%,93.1%
3,PERIOD OF SERVICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gulf War (9/2001 or later) veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
5,Gulf War (8/1990 to 8/2001) veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
6,Vietnam era veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
7,Korean War veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
8,World War II veterans,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
9,SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Male,44.9%,45.5%,45.2%,44.9%,46.7%,44.7%,46.4%,46.1%,45.4%,...,47.7%,46.3%,46.1%,46.8%,44.7%,48.8%,48.7%,46.3%,45.5%,46.2%
11,Female,55.1%,54.5%,54.8%,55.1%,53.3%,55.3%,53.6%,53.9%,54.6%,...,52.3%,53.7%,53.9%,53.2%,55.3%,51.2%,51.3%,53.7%,54.5%,53.8%
12,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18 to 34 years,27.3%,29.7%,23.0%,24.6%,29.3%,27.2%,23.6%,25.9%,25.4%,...,25.9%,26.4%,28.8%,23.4%,36.5%,25.7%,23.5%,24.7%,23.3%,27.0%
14,35 to 54 years,28.8%,31.0%,30.7%,30.2%,31.8%,29.5%,32.8%,32.2%,28.8%,...,31.1%,33.7%,31.4%,33.0%,31.5%,32.3%,30.4%,30.8%,30.1%,33.0%
15,55 to 64 years,18.2%,15.7%,19.1%,18.3%,17.3%,17.0%,19.1%,17.9%,17.1%,...,19.8%,17.2%,16.6%,17.3%,13.9%,17.6%,17.9%,18.1%,18.7%,17.3%
16,65 to 74 years,16.2%,14.6%,16.9%,16.7%,13.2%,16.1%,14.9%,14.8%,18.2%,...,14.7%,13.4%,13.9%,16.1%,11.0%,15.1%,17.3%,16.5%,17.0%,14.0%
17,75 years and over,9.6%,9.0%,10.3%,10.2%,8.4%,10.2%,9.6%,9.2%,10.5%,...,8.5%,9.2%,9.2%,10.3%,7.1%,9.3%,11.0%,9.7%,11.0%,8.7%
18,RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,White alone,89.4%,78.4%,95.8%,88.8%,72.4%,91.4%,83.1%,93.8%,92.4%,...,64.8%,74.3%,74.5%,89.6%,38.0%,87.1%,93.8%,91.6%,93.2%,82.9%
20,Black or African American alone,N,11.6%,N,5.5%,4.3%,N,3.3%,N,2.6%,...,13.8%,9.6%,4.9%,N,37.8%,N,N,2.8%,2.6%,5.5%
21,American Indian and Alaska Native alone,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
22,Asian alone,N,4.4%,N,N,N,N,5.2%,N,N,...,N,8.2%,N,N,8.6%,N,N,N,N,1.5%
23,Native Hawaiian and Other Pacific Islander alone,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
24,Some other race alone,N,1.1%,N,N,7.2%,N,N,N,N,...,7.0%,N,N,N,7.2%,N,N,N,N,4.5%
25,Two or more races,N,4.4%,N,4.4%,13.9%,N,5.3%,2.8%,4.2%,...,11.6%,5.3%,11.1%,N,7.8%,N,N,3.5%,2.8%,5.5%
26,Hispanic or Latino (of any race),N,2.7%,N,N,22.1%,N,5.7%,N,N,...,17.1%,5.7%,14.1%,N,13.7%,6.8%,N,N,1.3%,8.4%
27,"White alone, not Hispanic or Latino",88.6%,77.8%,95.8%,88.5%,69.8%,91.3%,82.0%,93.5%,91.4%,...,61.9%,73.3%,72.9%,89.1%,36.4%,86.2%,92.9%,91.3%,92.8%,81.2%
28,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2023 I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Civilian population 18 years and over with income,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
30,Male,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
31,Female,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32,EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Civilian population 25 years and over,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
34,Less than high school graduate,8.9%,3.6%,6.6%,3.4%,12.5%,8.1%,4.5%,5.8%,7.8%,...,10.4%,5.0%,5.9%,11.1%,12.2%,10.6%,9.9%,5.4%,4.3%,8.8%
35,High school graduate (includes equivalency),40.8%,24.2%,45.5%,36.7%,37.4%,45.3%,27.6%,31.2%,41.3%,...,36.0%,20.9%,33.0%,47.0%,30.0%,45.2%,50.1%,34.3%,35.9%,37.7%
36,Some college or associate's degree,26.4%,24.1%,26.9%,29.0%,22.8%,23.0%,22.9%,24.1%,26.4%,...,26.6%,20.7%,26.0%,22.2%,21.5%,23.8%,23.5%,27.0%,26.2%,24.2%
37,Bachelor's degree or higher,23.8%,48.1%,21.0%,30.9%,27.3%,23.6%,45.0%,38.9%,24.5%,...,27.1%,53.4%,35.1%,19.6%,36.3%,20.5%,16.4%,33.3%,33.6%,29.4%
38,EMPLOYMENT STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Civilian population 18 to 64 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
40,Labor force participation rate,82.1%,81.1%,76.9%,80.1%,78.6%,75.7%,82.3%,78.1%,74.8%,...,77.0%,82.8%,78.4%,71.6%,77.4%,73.6%,74.3%,80.5%,80.9%,83.5%
41,Civilian labor force 18 to 64 years,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
42,Unemployment rate,3.5%,3.9%,2.7%,2.7%,5.2%,3.2%,3.6%,4.3%,4.2%,...,6.7%,3.4%,4.5%,2.8%,6.4%,5.7%,5.4%,3.0%,3.7%,3.6%
43,POVERTY STATUS IN THE PAST 12 MONTHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Civilian population 18 years and over for whom...,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
45,Income in the past 12 months below poverty level,7.9%,11.0%,10.6%,10.0%,10.4%,14.7%,6.6%,8.7%,12.0%,...,8.9%,6.5%,7.8%,12.2%,19.1%,12.6%,10.8%,8.1%,10.2%,7.5%
46,Income in the past 12 months at or above pover...,92.1%,89.0%,89.4%,90.0%,89.6%,85.3%,93.4%,91.3%,88.0%,...,91.1%,93.5%,92.2%,87.8%,80.9%,87.4%,89.2%,91.9%,89.8%,92.5%
47,DISABILITY STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Civilian population 18 years and over for whom...,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
49,With any disability,14.1%,14.4%,18.6%,17.4%,15.5%,18.9%,12.9%,14.5%,21.6%,...,18.6%,12.0%,13.0%,16.9%,20.5%,20.4%,19.2%,16.5%,16.6%,16.6%
50,Without a disability,85.9%,85.6%,81.4%,82.6%,84.5%,81.1%,87.1%,85.5%,78.4%,...,81.4%,88.0%,87.0%,83.1%,79.5%,79.6%,80.8%,83.5%,83.4%,83.4%

In [67]:
# Retrieving only rows that contain the desired county summary demographic statistics
# Three groupings = Total Population, Veteran Population, Nonveteran Population
# % of population groups above that fall into these age categories: 18 to 34, 35 to 54, 55 to 64, 65 to 74 and 75 & Over
# Labor force participation rate
# Unemployment rate
# % of Population group with income below poverty level in the past 12 months
# % of Population group with any disability
initial_pa_nonveterans_aux_2023 = initial_pa_nonveterans_aux_2023.iloc[[13, 14, 15, 16, 17, 40, 42, 45, 49], :]
initial_pa_nonveterans_aux_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
13,18 to 34 years,27.3%,29.7%,23.0%,24.6%,29.3%,27.2%,23.6%,25.9%,25.4%,...,25.9%,26.4%,28.8%,23.4%,36.5%,25.7%,23.5%,24.7%,23.3%,27.0%
14,35 to 54 years,28.8%,31.0%,30.7%,30.2%,31.8%,29.5%,32.8%,32.2%,28.8%,...,31.1%,33.7%,31.4%,33.0%,31.5%,32.3%,30.4%,30.8%,30.1%,33.0%
15,55 to 64 years,18.2%,15.7%,19.1%,18.3%,17.3%,17.0%,19.1%,17.9%,17.1%,...,19.8%,17.2%,16.6%,17.3%,13.9%,17.6%,17.9%,18.1%,18.7%,17.3%
16,65 to 74 years,16.2%,14.6%,16.9%,16.7%,13.2%,16.1%,14.9%,14.8%,18.2%,...,14.7%,13.4%,13.9%,16.1%,11.0%,15.1%,17.3%,16.5%,17.0%,14.0%
17,75 years and over,9.6%,9.0%,10.3%,10.2%,8.4%,10.2%,9.6%,9.2%,10.5%,...,8.5%,9.2%,9.2%,10.3%,7.1%,9.3%,11.0%,9.7%,11.0%,8.7%
40,Labor force participation rate,82.1%,81.1%,76.9%,80.1%,78.6%,75.7%,82.3%,78.1%,74.8%,...,77.0%,82.8%,78.4%,71.6%,77.4%,73.6%,74.3%,80.5%,80.9%,83.5%
42,Unemployment rate,3.5%,3.9%,2.7%,2.7%,5.2%,3.2%,3.6%,4.3%,4.2%,...,6.7%,3.4%,4.5%,2.8%,6.4%,5.7%,5.4%,3.0%,3.7%,3.6%
45,Income in the past 12 months below poverty level,7.9%,11.0%,10.6%,10.0%,10.4%,14.7%,6.6%,8.7%,12.0%,...,8.9%,6.5%,7.8%,12.2%,19.1%,12.6%,10.8%,8.1%,10.2%,7.5%
49,With any disability,14.1%,14.4%,18.6%,17.4%,15.5%,18.9%,12.9%,14.5%,21.6%,...,18.6%,12.0%,13.0%,16.9%,20.5%,20.4%,19.2%,16.5%,16.6%,16.6%

In [68]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_nonveterans_aux_2023 = initial_pa_nonveterans_aux_2023.T
initial_pa_nonveterans_aux_2023.head()

,13,14,15,16,17,40,42,45,49
Unnamed: 0,18 to 34 years,35 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Labor force participation rate,Unemployment rate,Income in the past 12 months below poverty level,With any disability
"Adams County, Pennsylvania",27.3%,28.8%,18.2%,16.2%,9.6%,82.1%,3.5%,7.9%,14.1%
"Allegheny County, Pennsylvania",29.7%,31.0%,15.7%,14.6%,9.0%,81.1%,3.9%,11.0%,14.4%
"Armstrong County, Pennsylvania",23.0%,30.7%,19.1%,16.9%,10.3%,76.9%,2.7%,10.6%,18.6%
"Beaver County, Pennsylvania",24.6%,30.2%,18.3%,16.7%,10.2%,80.1%,2.7%,10.0%,17.4%

In [69]:
# Resetting index and renaming to create a 'County' column
initial_pa_nonveterans_aux_2023 = initial_pa_nonveterans_aux_2023.reset_index()
initial_pa_nonveterans_aux_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_nonveterans_aux_2023.head()

,County,13,14,15,16,17,40,42,45,49
0,Unnamed: 0,18 to 34 years,35 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Labor force participation rate,Unemployment rate,Income in the past 12 months below poverty level,With any disability
1,"Adams County, Pennsylvania",27.3%,28.8%,18.2%,16.2%,9.6%,82.1%,3.5%,7.9%,14.1%
2,"Allegheny County, Pennsylvania",29.7%,31.0%,15.7%,14.6%,9.0%,81.1%,3.9%,11.0%,14.4%
3,"Armstrong County, Pennsylvania",23.0%,30.7%,19.1%,16.9%,10.3%,76.9%,2.7%,10.6%,18.6%
4,"Beaver County, Pennsylvania",24.6%,30.2%,18.3%,16.7%,10.2%,80.1%,2.7%,10.0%,17.4%

In [70]:
# Confirming column data types prior to renaming
print(initial_pa_nonveterans_aux_2023.columns)

Index(['County', 13, 14, 15, 16, 17, 40, 42, 45, 49], dtype='object')

In [71]:
# Converting column data types from integers to strings for renaming
initial_pa_nonveterans_aux_2023.columns = initial_pa_nonveterans_aux_2023.columns.astype(str)
print(initial_pa_nonveterans_aux_2023.columns)

Index(['County', '13', '14', '15', '16', '17', '40', '42', '45', '49'], dtype='object')

In [72]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_nonveterans_aux_2023.replace('N', np.nan, inplace=True)

In [73]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges and all % data types are coverted to floats
initial_pa_nonveterans_aux_2023 = initial_pa_nonveterans_aux_2023.rename(columns={'13': '% Nonveteran Population 18-34 Years Old', '14': '% Nonveteran Population 35-54 Years Old', '15': '% Nonveteran Population 55-64 Years Old',
                                                                         '16': '% Nonveteran Population 65-74 Years Old', '17': '% Nonveteran Population 75 Years Old & Over', '40': 'Nonveteran Labor Force Participation Rate (%)',
                                                                         '42': 'Nonveteran Unemployment Rate (%)', '45': '% Nonveteran Population With Income Below Poverty Level (Past 12 Months)',
                                                                         '49': '% Nonveteran Population With Any Disability'})
initial_pa_nonveterans_aux_2023 = initial_pa_nonveterans_aux_2023.drop(0)
initial_pa_nonveterans_aux_2023 = initial_pa_nonveterans_aux_2023.reset_index(drop=True)
initial_pa_nonveterans_aux_2023['County'] = initial_pa_nonveterans_aux_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_nonveterans_aux_2023['County'] = initial_pa_nonveterans_aux_2023['County'].apply(lambda x: x.upper())
initial_pa_nonveterans_aux_2023.insert(0, 'Year', 2023)
initial_pa_nonveterans_aux_2023['% Nonveteran Population 18-34 Years Old'] = initial_pa_nonveterans_aux_2023['% Nonveteran Population 18-34 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023['% Nonveteran Population 35-54 Years Old'] = initial_pa_nonveterans_aux_2023['% Nonveteran Population 35-54 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023['% Nonveteran Population 55-64 Years Old'] = initial_pa_nonveterans_aux_2023['% Nonveteran Population 55-64 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023['% Nonveteran Population 65-74 Years Old'] = initial_pa_nonveterans_aux_2023['% Nonveteran Population 65-74 Years Old'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023['% Nonveteran Population 75 Years Old & Over'] = initial_pa_nonveterans_aux_2023['% Nonveteran Population 75 Years Old & Over'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023['Nonveteran Labor Force Participation Rate (%)'] = initial_pa_nonveterans_aux_2023['Nonveteran Labor Force Participation Rate (%)'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023['Nonveteran Unemployment Rate (%)'] = initial_pa_nonveterans_aux_2023['Nonveteran Unemployment Rate (%)'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023['% Nonveteran Population With Income Below Poverty Level (Past 12 Months)'] = initial_pa_nonveterans_aux_2023['% Nonveteran Population With Income Below Poverty Level (Past 12 Months)'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023['% Nonveteran Population With Any Disability'] = initial_pa_nonveterans_aux_2023['% Nonveteran Population With Any Disability'].str.rstrip('%').astype(float) / 100
initial_pa_nonveterans_aux_2023

,Year,County,% Nonveteran Population 18-34 Years Old,% Nonveteran Population 35-54 Years Old,% Nonveteran Population 55-64 Years Old,% Nonveteran Population 65-74 Years Old,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability
0,2023,ADAMS,0.273,0.288,0.182,0.162,0.096,0.821,0.035,0.079,0.141
1,2023,ALLEGHENY,0.297,0.310,0.157,0.146,0.090,0.811,0.039,0.110,0.144
2,2023,ARMSTRONG,0.230,0.307,0.191,0.169,0.103,0.769,0.027,0.106,0.186
3,2023,BEAVER,0.246,0.302,0.183,0.167,0.102,0.801,0.027,0.100,0.174
4,2023,BERKS,0.293,0.318,0.173,0.132,0.084,0.786,0.052,0.104,0.155
5,2023,BLAIR,0.272,0.295,0.170,0.161,0.102,0.757,0.032,0.147,0.189
6,2023,BUCKS,0.236,0.328,0.191,0.149,0.096,0.823,0.036,0.066,0.129
7,2023,BUTLER,0.259,0.322,0.179,0.148,0.092,0.781,0.043,0.087,0.145
8,2023,CAMBRIA,0.254,0.288,0.171,0.182,0.105,0.748,0.042,0.120,0.216
9,2023,CARBON,0.226,0.310,0.189,0.180,0.096,0.773,0.065,0.118,0.200
10,2023,CENTRE,0.445,0.253,0.126,0.110,0.066,0.650,0.036,0.212,0.132
11,2023,CHESTER,0.268,0.343,0.172,0.132,0.085,0.836,0.029,0.061,0.109
12,2023,CLEARFIELD,0.240,0.319,0.190,0.154,0.097,0.734,0.020,0.155,0.192
13,2023,COLUMBIA,0.349,0.271,0.159,0.140,0.081,0.788,0.057,0.119,0.114
14,2023,CRAWFORD,0.262,0.291,0.172,0.170,0.105,0.752,0.031,0.112,0.191
15,2023,CUMBERLAND,0.298,0.321,0.153,0.133,0.095,0.813,0.028,0.084,0.143
16,2023,DAUPHIN,0.295,0.326,0.160,0.139,0.080,0.815,0.046,0.114,0.152
17,2023,DELAWARE,0.293,0.326,0.166,0.133,0.081,0.788,0.060,0.102,0.154
18,2023,ERIE,0.286,0.315,0.159,0.149,0.090,0.740,0.040,0.130,0.190
19,2023,FAYETTE,0.247,0.309,0.176,0.169,0.099,0.699,0.036,0.179,0.225
20,2023,FRANKLIN,0.271,0.327,0.154,0.147,0.101,0.807,0.046,0.078,0.178
21,2023,INDIANA,0.336,0.274,0.158,0.139,0.093,0.686,0.056,0.167,0.183
22,2023,LACKAWANNA,0.282,0.307,0.165,0.148,0.098,0.738,0.029,0.164,0.198
23,2023,LANCASTER,0.287,0.304,0.163,0.140,0.106,0.826,0.031,0.076,0.149
24,2023,LAWRENCE,0.256,0.289,0.176,0.168,0.110,0.754,0.043,0.129,0.200
25,2023,LEBANON,0.278,0.315,0.162,0.142,0.104,0.828,0.022,0.078,0.146
26,2023,LEHIGH,0.289,0.337,0.160,0.131,0.083,0.795,0.048,0.110,0.150
27,2023,LUZERNE,0.277,0.314,0.172,0.144,0.093,0.752,0.047,0.150,0.191
28,2023,LYCOMING,0.285,0.299,0.173,0.149,0.094,0.783,0.048,0.118,0.188
29,2023,MERCER,0.262,0.285,0.179,0.163,0.111,0.737,0.051,0.104,0.170
30,2023,MONROE,0.259,0.311,0.198,0.147,0.085,0.770,0.067,0.089,0.186
31,2023,MONTGOMERY,0.264,0.337,0.172,0.134,0.092,0.828,0.034,0.065,0.120
32,2023,NORTHAMPTON,0.288,0.314,0.166,0.139,0.092,0.784,0.045,0.078,0.130
33,2023,NORTHUMBERLAND,0.234,0.330,0.173,0.161,0.103,0.716,0.028,0.122,0.169
34,2023,PHILADELPHIA,0.365,0.315,0.139,0.110,0.071,0.774,0.064,0.191,0.205
35,2023,SCHUYLKILL,0.257,0.323,0.176,0.151,0.093,0.736,0.057,0.126,0.204
36,2023,SOMERSET,0.235,0.304,0.179,0.173,0.110,0.743,0.054,0.108,0.192
37,2023,WASHINGTON,0.247,0.308,0.181,0.165,0.097,0.805,0.030,0.081,0.165
38,2023,WESTMORELAND,0.233,0.301,0.187,0.170,0.110,0.809,0.037,0.102,0.166
39,2023,YORK,0.270,0.330,0.173,0.140,0.087,0.835,0.036,0.075,0.166

**Fertility & Income Assistance Data Extraction, Transformation & Loading (2023)**
-
-----------

In [74]:
# Reading in 2023 U.S. Census Bureau Fertility & Income Assistance dataset
initial_pa_fertility_2023 = pd.read_excel("Resources/PA_Fertility_2023.xlsx")
initial_pa_fertility_2023.head(60)

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
0,NaN,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,...,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months,Women with births in the past 12 months
1,NaN,"Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women",...,"Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women","Rate per 1,000 women"
2,Label,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
3,Women 15 to 50 years,60,51,57,40,62,48,46,47,60,...,55,58,41,69,49,57,59,58,62,45
4,15 to 19 years,0,9,30,0,6,0,0,0,7,...,0,2,0,0,14,0,61,0,19,0
5,20 to 34 years,94,79,123,67,102,64,84,82,107,...,92,82,63,136,69,110,106,74,108,91
6,35 to 50 years,49,35,9,26,45,49,30,34,39,...,40,54,34,32,35,33,18,61,35,22
7,RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,One race,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
9,White,54,44,59,46,57,51,46,47,69,...,56,59,34,78,44,45,62,60,65,47
10,Black or African American,N,77,N,N,51,N,N,N,N,...,34,50,N,N,48,N,N,N,12,64
11,American Indian and Alaska Native,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
12,Asian,N,56,N,N,N,N,58,N,N,...,N,51,73,N,66,N,N,N,N,125
13,Native Hawaiian and Other Pacific Islander,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
14,Some other race,N,N,N,N,92,N,N,N,N,...,N,145,N,N,42,N,N,N,N,45
15,Two or more races,N,78,N,N,70,N,47,N,N,...,58,28,75,N,47,152,N,53,62,5
16,Hispanic or Latino origin (of any race),16,13,N,N,69,N,52,N,N,...,14,98,44,N,53,N,N,N,N,40
17,"White alone, not Hispanic or Latino",52,45,59,46,60,51,46,47,70,...,62,58,36,74,45,46,64,61,64,47
18,NATIVITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Native,62,51,N,40,55,49,42,45,61,...,51,50,31,72,44,58,60,59,63,38
20,Foreign born,29,47,N,45,106,0,71,99,7,...,87,106,122,0,74,37,31,40,39,158
21,EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Less than high school graduate,25,18,58,10,78,45,0,13,23,...,40,35,0,50,29,13,8,5,18,20
23,High school graduate (includes equivalency),41,58,21,40,89,63,39,44,72,...,59,70,35,86,77,76,40,50,81,36
24,Some college or associate's degree,58,49,82,17,27,32,61,47,55,...,48,34,21,100,32,89,107,70,37,46
25,Bachelor's degree,127,56,80,62,40,62,61,65,63,...,57,67,86,36,46,25,60,67,91,71
26,Graduate or professional degree,75,54,19,91,99,10,47,60,94,...,82,70,55,6,53,12,59,82,78,58
27,POVERTY STATUS IN THE PAST 12 MONTHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Women 15 to 50 years for whom poverty status i...,64,53,57,41,65,50,47,49,66,...,57,59,44,69,51,57,59,60,64,46
29,Below 100 percent of poverty level,0,84,145,23,135,111,80,73,98,...,90,108,15,63,56,183,77,71,103,40
30,100 to 199 percent of poverty level,187,51,100,62,69,29,110,63,92,...,120,87,10,120,72,112,31,84,17,62
31,200 percent or more above poverty level,50,47,24,39,49,39,38,43,54,...,38,51,56,41,43,13,65,54,65,44
32,LABOR FORCE STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Women 16 to 50 years,62,52,55,41,64,49,48,49,62,...,56,59,42,71,50,59,60,59,63,47
34,In labor force,44,47,47,45,60,53,42,46,69,...,48,56,42,42,48,37,19,48,59,45
35,PUBLIC ASSISTANCE INCOME IN THE PAST 12 MONTHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Women 15 to 50 years,N,51,57,40,62,48,46,47,60,...,55,58,41,69,49,57,N,58,62,45
37,Received public assistance income,N,189,68,222,57,0,199,0,27,...,211,131,59,499,93,358,N,96,89,0
38,Did not receive public assistance income,N,48,56,33,62,49,43,48,61,...,52,56,40,51,47,37,N,57,62,46
39,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Marital status,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
41,Fertility,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [75]:
# Retrieving only rows that contain the desired county summary demographic statistics
# Primary grouping = Population of women with births in the past 12 months:
# Rate per 1,000 Women (within above group) in the following age categories: 15-19 Years Old, 20-34 Years Old, 35-50 Years Old 
# Rate per 1,000 Women (within above group) Received Public Assistance Income
initial_pa_fertility_2023 = initial_pa_fertility_2023.iloc[[4, 5, 6, 37], :]
initial_pa_fertility_2023

,Unnamed: 0,"Adams County, Pennsylvania","Allegheny County, Pennsylvania","Armstrong County, Pennsylvania","Beaver County, Pennsylvania","Berks County, Pennsylvania","Blair County, Pennsylvania","Bucks County, Pennsylvania","Butler County, Pennsylvania","Cambria County, Pennsylvania",...,"Monroe County, Pennsylvania","Montgomery County, Pennsylvania","Northampton County, Pennsylvania","Northumberland County, Pennsylvania","Philadelphia County, Pennsylvania","Schuylkill County, Pennsylvania","Somerset County, Pennsylvania","Washington County, Pennsylvania","Westmoreland County, Pennsylvania","York County, Pennsylvania"
4,15 to 19 years,0,9,30,0,6,0,0,0,7,...,0,2,0,0,14,0,61,0,19,0
5,20 to 34 years,94,79,123,67,102,64,84,82,107,...,92,82,63,136,69,110,106,74,108,91
6,35 to 50 years,49,35,9,26,45,49,30,34,39,...,40,54,34,32,35,33,18,61,35,22
37,Received public assistance income,N,189,68,222,57,0,199,0,27,...,211,131,59,499,93,358,N,96,89,0

In [76]:
# Transposing the DataFrame's format for process integrity and future merging simplicity
initial_pa_fertility_2023 = initial_pa_fertility_2023.T
initial_pa_fertility_2023.head()

,4,5,6,37
Unnamed: 0,15 to 19 years,20 to 34 years,35 to 50 years,Received public assistance income
"Adams County, Pennsylvania",0,94,49,N
"Allegheny County, Pennsylvania",9,79,35,189
"Armstrong County, Pennsylvania",30,123,9,68
"Beaver County, Pennsylvania",0,67,26,222

In [77]:
# Resetting index and renaming to create a 'County' column
initial_pa_fertility_2023 = initial_pa_fertility_2023.reset_index()
initial_pa_fertility_2023.rename(columns={'index': 'County'}, inplace=True)
initial_pa_fertility_2023.head()

,County,4,5,6,37
0,Unnamed: 0,15 to 19 years,20 to 34 years,35 to 50 years,Received public assistance income
1,"Adams County, Pennsylvania",0,94,49,N
2,"Allegheny County, Pennsylvania",9,79,35,189
3,"Armstrong County, Pennsylvania",30,123,9,68
4,"Beaver County, Pennsylvania",0,67,26,222

In [78]:
# Confirming column data types prior to renaming
print(initial_pa_fertility_2023.columns)

Index(['County', 4, 5, 6, 37], dtype='object')

In [79]:
# Converting column data types from integers to strings for renaming
initial_pa_fertility_2023.columns = initial_pa_fertility_2023.columns.astype(str)
print(initial_pa_fertility_2023.columns)

Index(['County', '4', '5', '6', '37'], dtype='object')

In [80]:
# Finding and replacing all 'N' values with 'NaN' across the entire DataFrame for future manipulation
initial_pa_fertility_2023.replace('N', np.nan, inplace=True)

In [81]:
# Further DataFrame cleaning including execution of column renaming, dropping obselete (0) index row and subsequent resetting,
# as well as converting 'County' values to uppercase county names only (removing ' County, Pennsylvania')
# A corresponding year column is also included for future merges
# Converting all values to floats as well
initial_pa_fertility_2023 = initial_pa_fertility_2023.rename(columns={'4': 'Birth Rate Per 1000 Women (15-19 Years Old)', '5': 'Birth Rate Per 1000 Women (20-34 Years Old)', '6': 'Birth Rate Per 1000 Women (35-50 Years Old)',
                                                                         '37': 'Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)'})
initial_pa_fertility_2023 = initial_pa_fertility_2023.drop(0)
initial_pa_fertility_2023 = initial_pa_fertility_2023.reset_index(drop=True)
initial_pa_fertility_2023['County'] = initial_pa_fertility_2023['County'].str.replace(' County, Pennsylvania', '', regex=False)
initial_pa_fertility_2023['County'] = initial_pa_fertility_2023['County'].apply(lambda x: x.upper())
initial_pa_fertility_2023.insert(0, 'Year', 2023)
columns_to_floats = ['Birth Rate Per 1000 Women (15-19 Years Old)', 'Birth Rate Per 1000 Women (20-34 Years Old)',
                     'Birth Rate Per 1000 Women (35-50 Years Old)', 'Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)']
initial_pa_fertility_2023[columns_to_floats] = initial_pa_fertility_2023[columns_to_floats].astype(float)
initial_pa_fertility_2023

,Year,County,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)
0,2023,ADAMS,0.0,94.0,49.0,NaN
1,2023,ALLEGHENY,9.0,79.0,35.0,189.0
2,2023,ARMSTRONG,30.0,123.0,9.0,68.0
3,2023,BEAVER,0.0,67.0,26.0,222.0
4,2023,BERKS,6.0,102.0,45.0,57.0
5,2023,BLAIR,0.0,64.0,49.0,0.0
6,2023,BUCKS,0.0,84.0,30.0,199.0
7,2023,BUTLER,0.0,82.0,34.0,0.0
8,2023,CAMBRIA,7.0,107.0,39.0,27.0
9,2023,CARBON,NaN,NaN,NaN,NaN
10,2023,CENTRE,0.0,74.0,60.0,59.0
11,2023,CHESTER,2.0,69.0,50.0,157.0
12,2023,CLEARFIELD,11.0,80.0,28.0,0.0
13,2023,COLUMBIA,0.0,48.0,8.0,NaN
14,2023,CRAWFORD,0.0,69.0,15.0,0.0
15,2023,CUMBERLAND,0.0,84.0,24.0,0.0
16,2023,DAUPHIN,0.0,100.0,24.0,27.0
17,2023,DELAWARE,26.0,81.0,38.0,31.0
18,2023,ERIE,0.0,91.0,45.0,27.0
19,2023,FAYETTE,0.0,121.0,15.0,94.0
20,2023,FRANKLIN,0.0,123.0,13.0,186.0
21,2023,INDIANA,0.0,114.0,17.0,0.0
22,2023,LACKAWANNA,9.0,109.0,25.0,193.0
23,2023,LANCASTER,1.0,117.0,61.0,110.0
24,2023,LAWRENCE,20.0,67.0,25.0,0.0
25,2023,LEBANON,0.0,80.0,21.0,74.0
26,2023,LEHIGH,0.0,71.0,30.0,39.0
27,2023,LUZERNE,0.0,83.0,22.0,134.0
28,2023,LYCOMING,40.0,105.0,17.0,22.0
29,2023,MERCER,0.0,67.0,34.0,61.0
30,2023,MONROE,0.0,92.0,40.0,211.0
31,2023,MONTGOMERY,2.0,82.0,54.0,131.0
32,2023,NORTHAMPTON,0.0,63.0,34.0,59.0
33,2023,NORTHUMBERLAND,0.0,136.0,32.0,499.0
34,2023,PHILADELPHIA,14.0,69.0,35.0,93.0
35,2023,SCHUYLKILL,0.0,110.0,33.0,358.0
36,2023,SOMERSET,61.0,106.0,18.0,NaN
37,2023,WASHINGTON,0.0,74.0,61.0,96.0
38,2023,WESTMORELAND,19.0,108.0,35.0,89.0
39,2023,YORK,0.0,91.0,22.0,0.0

**Combining All 2023 Derived Datasets/DataFrames for County Level Attribute Aggregation**
-
-----------

In [82]:
# Due to all County attribute DataFrames having the same index, we can simply outer merge all DataFrames
# from the same year on 'County' and 'Year' sequentially. This will produce a master DataFrame for year 2023
dfs_2023 = [initial_pa_demographic_2023, initial_pa_education_2023, initial_pa_households_2023, initial_pa_families_2023,
            initial_pa_mc_families_2023, initial_pa_nonfamily_2023, initial_pa_total_aux_2023, initial_pa_veterans_aux_2023,
            initial_pa_nonveterans_aux_2023, initial_pa_fertility_2023]

In [83]:
# 2023 DataFrame merging

# Start with the first DataFrame
merged_dfs_2023 = dfs_2023[0]

# Iteratively merge the remaining DataFrames
for df in dfs_2023[1:]:
    merged_dfs_2023 = pd.merge(merged_dfs_2023, df, on=['County', 'Year'], how='outer')

# Display the final resulting 2023 DataFrame
merged_dfs_2023

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,...,% Nonveteran Population 65-74 Years Old,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,...,0.162,0.096,0.821,0.035,0.079,0.141,0.0,94.0,49.0,NaN
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,...,0.146,0.090,0.811,0.039,0.110,0.144,9.0,79.0,35.0,189.0
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,...,0.169,0.103,0.769,0.027,0.106,0.186,30.0,123.0,9.0,68.0
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,...,0.167,0.102,0.801,0.027,0.100,0.174,0.0,67.0,26.0,222.0
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,...,0.132,0.084,0.786,0.052,0.104,0.155,6.0,102.0,45.0,57.0
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,...,0.161,0.102,0.757,0.032,0.147,0.189,0.0,64.0,49.0,0.0
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,...,0.149,0.096,0.823,0.036,0.066,0.129,0.0,84.0,30.0,199.0
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,...,0.148,0.092,0.781,0.043,0.087,0.145,0.0,82.0,34.0,0.0
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,...,0.182,0.105,0.748,0.042,0.120,0.216,7.0,107.0,39.0,27.0
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,...,0.180,0.096,0.773,0.065,0.118,0.200,NaN,NaN,NaN,NaN
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,...,0.110,0.066,0.650,0.036,0.212,0.132,0.0,74.0,60.0,59.0
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,...,0.132,0.085,0.836,0.029,0.061,0.109,2.0,69.0,50.0,157.0
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,...,0.154,0.097,0.734,0.020,0.155,0.192,11.0,80.0,28.0,0.0
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,...,0.140,0.081,0.788,0.057,0.119,0.114,0.0,48.0,8.0,NaN
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,...,0.170,0.105,0.752,0.031,0.112,0.191,0.0,69.0,15.0,0.0
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,...,0.133,0.095,0.813,0.028,0.084,0.143,0.0,84.0,24.0,0.0
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,...,0.139,0.080,0.815,0.046,0.114,0.152,0.0,100.0,24.0,27.0
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,...,0.133,0.081,0.788,0.060,0.102,0.154,26.0,81.0,38.0,31.0
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,...,0.149,0.090,0.740,0.040,0.130,0.190,0.0,91.0,45.0,27.0
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,...,0.169,0.099,0.699,0.036,0.179,0.225,0.0,121.0,15.0,94.0
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,...,0.147,0.101,0.807,0.046,0.078,0.178,0.0,123.0,13.0,186.0
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,...,0.139,0.093,0.686,0.056,0.167,0.183,0.0,114.0,17.0,0.0
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,...,0.148,0.098,0.738,0.029,0.164,0.198,9.0,109.0,25.0,193.0
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,...,0.140,0.106,0.826,0.031,0.076,0.149,1.0,117.0,61.0,110.0
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,...,0.168,0.110,0.754,0.043,0.129,0.200,20.0,67.0,25.0,0.0
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,...,0.142,0.104,0.828,0.022,0.078,0.146,0.0,80.0,21.0,74.0
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,...,0.131,0.083,0.795,0.048,0.110,0.150,0.0,71.0,30.0,39.0
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,...,0.144,0.093,0.752,0.047,0.150,0.191,0.0,83.0,22.0,134.0
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,...,0.149,0.094,0.783,0.048,0.118,0.188,40.0,105.0,17.0,22.0
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,...,0.163,0.111,0.737,0.051,0.104,0.170,0.0,67.0,34.0,61.0
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,...,0.147,0.085,0.770,0.067,0.089,0.186,0.0,92.0,40.0,211.0
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,...,0.134,0.092,0.828,0.034,0.065,0.120,2.0,82.0,54.0,131.0
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,...,0.139,0.092,0.784,0.045,0.078,0.130,0.0,63.0,34.0,59.0
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,...,0.161,0.103,0.716,0.028,0.122,0.169,0.0,136.0,32.0,499.0
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,...,0.110,0.071,0.774,0.064,0.191,0.205,14.0,69.0,35.0,93.0
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,...,0.151,0.093,0.736,0.057,0.126,0.204,0.0,110.0,33.0,358.0
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,...,0.173,0.110,0.743,0.054,0.108,0.192,61.0,106.0,18.0,NaN
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,...,0.165,0.097,0.805,0.030,0.081,0.165,0.0,74.0,61.0,96.0
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,...,0.170,0.110,0.809,0.037,0.102,0.166,19.0,108.0,35.0,89.0
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,...,0.140,0.087,0.835,0.036,0.075,0.166,0.0,91.0,22.0,0.0
40,2023,UNNAMED: 27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2023,UNNAMED: 28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2023,UNNAMED: 29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# Due to the Pennsylvania Income Nonfamilies dataset possessing (3) more county entries in 2023, we will drop
# the (3) 'unnamed' rows resulting from our outer merge above
# This will ensure our 2023 Data Array has the proper shape for Neural Network model extrapolation
merged_dfs_2023.drop([40, 41, 42], inplace=True)
merged_dfs_2023

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,...,% Nonveteran Population 65-74 Years Old,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,...,0.162,0.096,0.821,0.035,0.079,0.141,0.0,94.0,49.0,NaN
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,...,0.146,0.090,0.811,0.039,0.110,0.144,9.0,79.0,35.0,189.0
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,...,0.169,0.103,0.769,0.027,0.106,0.186,30.0,123.0,9.0,68.0
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,...,0.167,0.102,0.801,0.027,0.100,0.174,0.0,67.0,26.0,222.0
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,...,0.132,0.084,0.786,0.052,0.104,0.155,6.0,102.0,45.0,57.0
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,...,0.161,0.102,0.757,0.032,0.147,0.189,0.0,64.0,49.0,0.0
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,...,0.149,0.096,0.823,0.036,0.066,0.129,0.0,84.0,30.0,199.0
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,...,0.148,0.092,0.781,0.043,0.087,0.145,0.0,82.0,34.0,0.0
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,...,0.182,0.105,0.748,0.042,0.120,0.216,7.0,107.0,39.0,27.0
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,...,0.180,0.096,0.773,0.065,0.118,0.200,NaN,NaN,NaN,NaN
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,...,0.110,0.066,0.650,0.036,0.212,0.132,0.0,74.0,60.0,59.0
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,...,0.132,0.085,0.836,0.029,0.061,0.109,2.0,69.0,50.0,157.0
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,...,0.154,0.097,0.734,0.020,0.155,0.192,11.0,80.0,28.0,0.0
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,...,0.140,0.081,0.788,0.057,0.119,0.114,0.0,48.0,8.0,NaN
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,...,0.170,0.105,0.752,0.031,0.112,0.191,0.0,69.0,15.0,0.0
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,...,0.133,0.095,0.813,0.028,0.084,0.143,0.0,84.0,24.0,0.0
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,...,0.139,0.080,0.815,0.046,0.114,0.152,0.0,100.0,24.0,27.0
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,...,0.133,0.081,0.788,0.060,0.102,0.154,26.0,81.0,38.0,31.0
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,...,0.149,0.090,0.740,0.040,0.130,0.190,0.0,91.0,45.0,27.0
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,...,0.169,0.099,0.699,0.036,0.179,0.225,0.0,121.0,15.0,94.0
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,...,0.147,0.101,0.807,0.046,0.078,0.178,0.0,123.0,13.0,186.0
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,...,0.139,0.093,0.686,0.056,0.167,0.183,0.0,114.0,17.0,0.0
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,...,0.148,0.098,0.738,0.029,0.164,0.198,9.0,109.0,25.0,193.0
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,...,0.140,0.106,0.826,0.031,0.076,0.149,1.0,117.0,61.0,110.0
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,...,0.168,0.110,0.754,0.043,0.129,0.200,20.0,67.0,25.0,0.0
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,...,0.142,0.104,0.828,0.022,0.078,0.146,0.0,80.0,21.0,74.0
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,...,0.131,0.083,0.795,0.048,0.110,0.150,0.0,71.0,30.0,39.0
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,...,0.144,0.093,0.752,0.047,0.150,0.191,0.0,83.0,22.0,134.0
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,...,0.149,0.094,0.783,0.048,0.118,0.188,40.0,105.0,17.0,22.0
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,...,0.163,0.111,0.737,0.051,0.104,0.170,0.0,67.0,34.0,61.0
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,...,0.147,0.085,0.770,0.067,0.089,0.186,0.0,92.0,40.0,211.0
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,...,0.134,0.092,0.828,0.034,0.065,0.120,2.0,82.0,54.0,131.0
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,...,0.139,0.092,0.784,0.045,0.078,0.130,0.0,63.0,34.0,59.0
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,...,0.161,0.103,0.716,0.028,0.122,0.169,0.0,136.0,32.0,499.0
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,...,0.110,0.071,0.774,0.064,0.191,0.205,14.0,69.0,35.0,93.0
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,...,0.151,0.093,0.736,0.057,0.126,0.204,0.0,110.0,33.0,358.0
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,...,0.173,0.110,0.743,0.054,0.108,0.192,61.0,106.0,18.0,NaN
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,...,0.165,0.097,0.805,0.030,0.081,0.165,0.0,74.0,61.0,96.0
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,...,0.170,0.110,0.809,0.037,0.102,0.166,19.0,108.0,35.0,89.0
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,...,0.140,0.087,0.835,0.036,0.075,0.166,0.0,91.0,22.0,0.0

In [85]:
# Confirming Data Types for our 2023 combined county attribute DataFrame
merged_dfs_2023.dtypes

Year                                                                        int64
County                                                                     object
% Male                                                                    float64
% Female                                                                  float64
% Male > 18 Years Old                                                     float64
                                                                           ...
% Nonveteran Population With Any Disability                               float64
Birth Rate Per 1000 Women (15-19 Years Old)                               float64
Birth Rate Per 1000 Women (20-34 Years Old)                               float64
Birth Rate Per 1000 Women (35-50 Years Old)                               float64
Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)    float64
Length: 103, dtype: object

In [86]:
# Confirming Data Types for our 2023 combined county attribute DataFrame
merged_dfs_2023.dtypes.tolist()

[dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64')]

**2023 Combined County Attribute Table Preprocessing and Data Imputation**
-
-----------

In [87]:
# First, exploring DataFrame for missing/'NaN'/Null values (full columns contain 40 values)
non_null_counts = merged_dfs_2023.count()
non_null_counts

Year                                                                      40
County                                                                    40
% Male                                                                    40
% Female                                                                  40
% Male > 18 Years Old                                                     40
                                                                          ..
% Nonveteran Population With Any Disability                               40
Birth Rate Per 1000 Women (15-19 Years Old)                               39
Birth Rate Per 1000 Women (20-34 Years Old)                               39
Birth Rate Per 1000 Women (35-50 Years Old)                               39
Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)    36
Length: 103, dtype: int64

In [88]:
# Describing our DataFrame regarding missing values
columns_without_40_values = non_null_counts[non_null_counts != 40]
count_columns_without_40_values = len(columns_without_40_values)


print(f"Columns without 40 non-null values: ({count_columns_without_40_values} Total)")
print("------------------------------------------")
for column, count in columns_without_40_values.items():
    print(f"{column}: {count}")

Columns without 40 non-null values: (16 Total)
------------------------------------------
# of Married Couple Families: 31
% Married Couple Families <$10,000: 31
% Married Couple Families $10,000-$14,999: 31
% Married Couple Families $15,000-$24,999: 31
% Married Couple Families $25,000-$34,999: 31
% Married Couple Families $35,000-$49,999: 31
% Married Couple Families $50,000-$74,999: 31
% Married Couple Families $75,000-$99,999: 31
% Married Couple Families $100,000-$149,999: 31
% Married Couple Families $150,000-$199,999: 31
% Married Couple Families $200,000 or More: 31
Mean Married Couple Families Income ($): 13
Birth Rate Per 1000 Women (15-19 Years Old): 39
Birth Rate Per 1000 Women (20-34 Years Old): 39
Birth Rate Per 1000 Women (35-50 Years Old): 39
Received Public Assistance Income Rate Per 1000 Women (Past 12 Months): 36

The below imputation strategy for 2023 table missing values is mirrored from the overall combined county election data imputation strategy utilized for aggregate model training dataset inclusive of 2012, 2016 & 2019.

------


It is important to note that this calculation indicates across our dataset/DataFrame, we have (16) columns/county level attributes that possess 1 or more 'NaN' or Null values. Futhermore, from the list of columns/attributes above that fall into this category - we are able to determine how many values are missing respectively and from which original datasets the missing information is derived from:

-S1901: 'Married Couple Families' data

While this table within the above mentioned dataset proves to have the most 'NaN'/Null values contained, the majority of columns missing data are only missing (9) county values (across 40) in regards to the % of Married Couple Families falling into the predefined income brackets. As the entire dataset contains referential data from other counties, we will impute the (9) missing values with Sklearn SimpleImputer and a mean strategy for each column. Although our model will already inlcude these metrics for Families, Households and Nonfamily Households, by maintaining/keeping data that represents an entire population segement surveyed by the U.S. Census Bureau (Married Couple Families), we hope to achieve a more representative county sample size. We will also normalize the associated percentage columns.

The most significant number of 'NaN'/Null values of (27) comes from the 'Mean Married Couple Familes Income ($)' column via this same dataset table. As (27) missing values represents missing data from (27) out of (40) counties AND a mean income metric is included from the other three aforementioned surveyed groups, we will remove this column completely from our dataset/Dataframe rather than imputing (27) values.

We will also Impute the (9) missing values for the '# of Married Couple Families' column via Sklearn SimpleImputer with a mean strategy. Associated column normalization is not required here as values aren't represented as percentages.

-S1301: 'Fertility & Income Assistance' data

The above output shows the final four columns contaning 'NaN'/Null values are 'Birth Rate Per 1000 Women (15-19 Years Old)', 'Birth Rate Per 1000 Women (20-34 Years Old)', 'Birth Rate Per 1000 Women (35-50 Years Old)' & 'Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)' from the Fertility and Income Assistance dataset. Each column contains (1), (1), (1) and (4) missing values for counties respectively. As this is the primary attribute data associated with healthcare AND there's a very miniscule number of missing values, we will Impute via Sklearn SimpleImputer with a mean strategy here as well. Associated column normalization is not required here as values aren't represented as percentages.

In [89]:
# S1901 Imputation % columns
economic_columns_to_impute = ['% Married Couple Families <$10,000', '% Married Couple Families $10,000-$14,999',
                             '% Married Couple Families $15,000-$24,999', '% Married Couple Families $25,000-$34,999',
                             '% Married Couple Families $35,000-$49,999', '% Married Couple Families $50,000-$74,999',
                              '% Married Couple Families $75,000-$99,999', '% Married Couple Families $100,000-$149,999',
                              '% Married Couple Families $150,000-$199,999', '% Married Couple Families $200,000 or More'
                             ]

econmic_percentage_imputer = SimpleImputer(strategy='mean')
merged_dfs_2023[economic_columns_to_impute] = econmic_percentage_imputer.fit_transform(merged_dfs_2023[economic_columns_to_impute])

# Subsequent Normalization for all income bracket % associated columns for Married Couple Families
merged_dfs_2023[economic_columns_to_impute] = merged_dfs_2023[economic_columns_to_impute].div(merged_dfs_2023[economic_columns_to_impute].sum(axis=1), axis=0)

# Display
merged_dfs_2023

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,...,% Nonveteran Population 65-74 Years Old,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,...,0.162,0.096,0.821,0.035,0.079,0.141,0.0,94.0,49.0,NaN
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,...,0.146,0.090,0.811,0.039,0.110,0.144,9.0,79.0,35.0,189.0
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,...,0.169,0.103,0.769,0.027,0.106,0.186,30.0,123.0,9.0,68.0
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,...,0.167,0.102,0.801,0.027,0.100,0.174,0.0,67.0,26.0,222.0
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,...,0.132,0.084,0.786,0.052,0.104,0.155,6.0,102.0,45.0,57.0
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,...,0.161,0.102,0.757,0.032,0.147,0.189,0.0,64.0,49.0,0.0
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,...,0.149,0.096,0.823,0.036,0.066,0.129,0.0,84.0,30.0,199.0
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,...,0.148,0.092,0.781,0.043,0.087,0.145,0.0,82.0,34.0,0.0
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,...,0.182,0.105,0.748,0.042,0.120,0.216,7.0,107.0,39.0,27.0
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,...,0.180,0.096,0.773,0.065,0.118,0.200,NaN,NaN,NaN,NaN
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,...,0.110,0.066,0.650,0.036,0.212,0.132,0.0,74.0,60.0,59.0
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,...,0.132,0.085,0.836,0.029,0.061,0.109,2.0,69.0,50.0,157.0
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,...,0.154,0.097,0.734,0.020,0.155,0.192,11.0,80.0,28.0,0.0
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,...,0.140,0.081,0.788,0.057,0.119,0.114,0.0,48.0,8.0,NaN
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,...,0.170,0.105,0.752,0.031,0.112,0.191,0.0,69.0,15.0,0.0
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,...,0.133,0.095,0.813,0.028,0.084,0.143,0.0,84.0,24.0,0.0
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,...,0.139,0.080,0.815,0.046,0.114,0.152,0.0,100.0,24.0,27.0
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,...,0.133,0.081,0.788,0.060,0.102,0.154,26.0,81.0,38.0,31.0
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,...,0.149,0.090,0.740,0.040,0.130,0.190,0.0,91.0,45.0,27.0
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,...,0.169,0.099,0.699,0.036,0.179,0.225,0.0,121.0,15.0,94.0
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,...,0.147,0.101,0.807,0.046,0.078,0.178,0.0,123.0,13.0,186.0
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,...,0.139,0.093,0.686,0.056,0.167,0.183,0.0,114.0,17.0,0.0
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,...,0.148,0.098,0.738,0.029,0.164,0.198,9.0,109.0,25.0,193.0
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,...,0.140,0.106,0.826,0.031,0.076,0.149,1.0,117.0,61.0,110.0
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,...,0.168,0.110,0.754,0.043,0.129,0.200,20.0,67.0,25.0,0.0
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,...,0.142,0.104,0.828,0.022,0.078,0.146,0.0,80.0,21.0,74.0
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,...,0.131,0.083,0.795,0.048,0.110,0.150,0.0,71.0,30.0,39.0
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,...,0.144,0.093,0.752,0.047,0.150,0.191,0.0,83.0,22.0,134.0
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,...,0.149,0.094,0.783,0.048,0.118,0.188,40.0,105.0,17.0,22.0
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,...,0.163,0.111,0.737,0.051,0.104,0.170,0.0,67.0,34.0,61.0
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,...,0.147,0.085,0.770,0.067,0.089,0.186,0.0,92.0,40.0,211.0
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,...,0.134,0.092,0.828,0.034,0.065,0.120,2.0,82.0,54.0,131.0
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,...,0.139,0.092,0.784,0.045,0.078,0.130,0.0,63.0,34.0,59.0
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,...,0.161,0.103,0.716,0.028,0.122,0.169,0.0,136.0,32.0,499.0
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,...,0.110,0.071,0.774,0.064,0.191,0.205,14.0,69.0,35.0,93.0
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,...,0.151,0.093,0.736,0.057,0.126,0.204,0.0,110.0,33.0,358.0
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,...,0.173,0.110,0.743,0.054,0.108,0.192,61.0,106.0,18.0,NaN
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,...,0.165,0.097,0.805,0.030,0.081,0.165,0.0,74.0,61.0,96.0
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,...,0.170,0.110,0.809,0.037,0.102,0.166,19.0,108.0,35.0,89.0
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,...,0.140,0.087,0.835,0.036,0.075,0.166,0.0,91.0,22.0,0.0

In [90]:
# S1901 and S1301 Imputation for numerical columns
numerical_columns_to_impute = ['# of Married Couple Families', 'Birth Rate Per 1000 Women (15-19 Years Old)',
                               'Birth Rate Per 1000 Women (20-34 Years Old)', 'Birth Rate Per 1000 Women (35-50 Years Old)',
                               'Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)']

numerical_imputer = SimpleImputer(strategy='mean')
merged_dfs_2023[numerical_columns_to_impute] = numerical_imputer.fit_transform(merged_dfs_2023[numerical_columns_to_impute])

# Display
merged_dfs_2023

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,...,% Nonveteran Population 65-74 Years Old,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,...,0.162,0.096,0.821,0.035,0.079,0.141,0.000000,94.000000,49.000000,97.555556
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,...,0.146,0.090,0.811,0.039,0.110,0.144,9.000000,79.000000,35.000000,189.000000
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,...,0.169,0.103,0.769,0.027,0.106,0.186,30.000000,123.000000,9.000000,68.000000
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,...,0.167,0.102,0.801,0.027,0.100,0.174,0.000000,67.000000,26.000000,222.000000
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,...,0.132,0.084,0.786,0.052,0.104,0.155,6.000000,102.000000,45.000000,57.000000
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,...,0.161,0.102,0.757,0.032,0.147,0.189,0.000000,64.000000,49.000000,0.000000
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,...,0.149,0.096,0.823,0.036,0.066,0.129,0.000000,84.000000,30.000000,199.000000
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,...,0.148,0.092,0.781,0.043,0.087,0.145,0.000000,82.000000,34.000000,0.000000
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,...,0.182,0.105,0.748,0.042,0.120,0.216,7.000000,107.000000,39.000000,27.000000
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,...,0.180,0.096,0.773,0.065,0.118,0.200,6.589744,89.384615,32.102564,97.555556
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,...,0.110,0.066,0.650,0.036,0.212,0.132,0.000000,74.000000,60.000000,59.000000
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,...,0.132,0.085,0.836,0.029,0.061,0.109,2.000000,69.000000,50.000000,157.000000
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,...,0.154,0.097,0.734,0.020,0.155,0.192,11.000000,80.000000,28.000000,0.000000
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,...,0.140,0.081,0.788,0.057,0.119,0.114,0.000000,48.000000,8.000000,97.555556
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,...,0.170,0.105,0.752,0.031,0.112,0.191,0.000000,69.000000,15.000000,0.000000
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,...,0.133,0.095,0.813,0.028,0.084,0.143,0.000000,84.000000,24.000000,0.000000
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,...,0.139,0.080,0.815,0.046,0.114,0.152,0.000000,100.000000,24.000000,27.000000
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,...,0.133,0.081,0.788,0.060,0.102,0.154,26.000000,81.000000,38.000000,31.000000
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,...,0.149,0.090,0.740,0.040,0.130,0.190,0.000000,91.000000,45.000000,27.000000
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,...,0.169,0.099,0.699,0.036,0.179,0.225,0.000000,121.000000,15.000000,94.000000
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,...,0.147,0.101,0.807,0.046,0.078,0.178,0.000000,123.000000,13.000000,186.000000
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,...,0.139,0.093,0.686,0.056,0.167,0.183,0.000000,114.000000,17.000000,0.000000
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,...,0.148,0.098,0.738,0.029,0.164,0.198,9.000000,109.000000,25.000000,193.000000
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,...,0.140,0.106,0.826,0.031,0.076,0.149,1.000000,117.000000,61.000000,110.000000
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,...,0.168,0.110,0.754,0.043,0.129,0.200,20.000000,67.000000,25.000000,0.000000
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,...,0.142,0.104,0.828,0.022,0.078,0.146,0.000000,80.000000,21.000000,74.000000
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,...,0.131,0.083,0.795,0.048,0.110,0.150,0.000000,71.000000,30.000000,39.000000
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,...,0.144,0.093,0.752,0.047,0.150,0.191,0.000000,83.000000,22.000000,134.000000
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,...,0.149,0.094,0.783,0.048,0.118,0.188,40.000000,105.000000,17.000000,22.000000
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,...,0.163,0.111,0.737,0.051,0.104,0.170,0.000000,67.000000,34.000000,61.000000
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,...,0.147,0.085,0.770,0.067,0.089,0.186,0.000000,92.000000,40.000000,211.000000
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,...,0.134,0.092,0.828,0.034,0.065,0.120,2.000000,82.000000,54.000000,131.000000
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,...,0.139,0.092,0.784,0.045,0.078,0.130,0.000000,63.000000,34.000000,59.000000
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,...,0.161,0.103,0.716,0.028,0.122,0.169,0.000000,136.000000,32.000000,499.000000
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,...,0.110,0.071,0.774,0.064,0.191,0.205,14.000000,69.000000,35.000000,93.000000
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,...,0.151,0.093,0.736,0.057,0.126,0.204,0.000000,110.000000,33.000000,358.000000
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,...,0.173,0.110,0.743,0.054,0.108,0.192,61.000000,106.000000,18.000000,97.555556
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,...,0.165,0.097,0.805,0.030,0.081,0.165,0.000000,74.000000,61.000000,96.000000
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,...,0.170,0.110,0.809,0.037,0.102,0.166,19.000000,108.000000,35.000000,89.000000
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,...,0.140,0.087,0.835,0.036,0.075,0.166,0.000000,91.000000,22.000000,0.000000

In [91]:
# Dropping the underepresented 'Mean Married Couple Families Income ($)' columns with only (77) non-null values
final_2023_county_attributes = merged_dfs_2023.drop(columns='Mean Married Couple Families Income ($)')
final_2023_county_attributes

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,...,% Nonveteran Population 65-74 Years Old,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,...,0.162,0.096,0.821,0.035,0.079,0.141,0.000000,94.000000,49.000000,97.555556
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,...,0.146,0.090,0.811,0.039,0.110,0.144,9.000000,79.000000,35.000000,189.000000
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,...,0.169,0.103,0.769,0.027,0.106,0.186,30.000000,123.000000,9.000000,68.000000
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,...,0.167,0.102,0.801,0.027,0.100,0.174,0.000000,67.000000,26.000000,222.000000
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,...,0.132,0.084,0.786,0.052,0.104,0.155,6.000000,102.000000,45.000000,57.000000
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,...,0.161,0.102,0.757,0.032,0.147,0.189,0.000000,64.000000,49.000000,0.000000
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,...,0.149,0.096,0.823,0.036,0.066,0.129,0.000000,84.000000,30.000000,199.000000
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,...,0.148,0.092,0.781,0.043,0.087,0.145,0.000000,82.000000,34.000000,0.000000
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,...,0.182,0.105,0.748,0.042,0.120,0.216,7.000000,107.000000,39.000000,27.000000
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,...,0.180,0.096,0.773,0.065,0.118,0.200,6.589744,89.384615,32.102564,97.555556
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,...,0.110,0.066,0.650,0.036,0.212,0.132,0.000000,74.000000,60.000000,59.000000
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,...,0.132,0.085,0.836,0.029,0.061,0.109,2.000000,69.000000,50.000000,157.000000
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,...,0.154,0.097,0.734,0.020,0.155,0.192,11.000000,80.000000,28.000000,0.000000
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,...,0.140,0.081,0.788,0.057,0.119,0.114,0.000000,48.000000,8.000000,97.555556
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,...,0.170,0.105,0.752,0.031,0.112,0.191,0.000000,69.000000,15.000000,0.000000
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,...,0.133,0.095,0.813,0.028,0.084,0.143,0.000000,84.000000,24.000000,0.000000
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,...,0.139,0.080,0.815,0.046,0.114,0.152,0.000000,100.000000,24.000000,27.000000
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,...,0.133,0.081,0.788,0.060,0.102,0.154,26.000000,81.000000,38.000000,31.000000
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,...,0.149,0.090,0.740,0.040,0.130,0.190,0.000000,91.000000,45.000000,27.000000
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,...,0.169,0.099,0.699,0.036,0.179,0.225,0.000000,121.000000,15.000000,94.000000
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,...,0.147,0.101,0.807,0.046,0.078,0.178,0.000000,123.000000,13.000000,186.000000
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,...,0.139,0.093,0.686,0.056,0.167,0.183,0.000000,114.000000,17.000000,0.000000
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,...,0.148,0.098,0.738,0.029,0.164,0.198,9.000000,109.000000,25.000000,193.000000
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,...,0.140,0.106,0.826,0.031,0.076,0.149,1.000000,117.000000,61.000000,110.000000
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,...,0.168,0.110,0.754,0.043,0.129,0.200,20.000000,67.000000,25.000000,0.000000
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,...,0.142,0.104,0.828,0.022,0.078,0.146,0.000000,80.000000,21.000000,74.000000
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,...,0.131,0.083,0.795,0.048,0.110,0.150,0.000000,71.000000,30.000000,39.000000
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,...,0.144,0.093,0.752,0.047,0.150,0.191,0.000000,83.000000,22.000000,134.000000
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,...,0.149,0.094,0.783,0.048,0.118,0.188,40.000000,105.000000,17.000000,22.000000
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,...,0.163,0.111,0.737,0.051,0.104,0.170,0.000000,67.000000,34.000000,61.000000
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,...,0.147,0.085,0.770,0.067,0.089,0.186,0.000000,92.000000,40.000000,211.000000
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,...,0.134,0.092,0.828,0.034,0.065,0.120,2.000000,82.000000,54.000000,131.000000
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,...,0.139,0.092,0.784,0.045,0.078,0.130,0.000000,63.000000,34.000000,59.000000
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,...,0.161,0.103,0.716,0.028,0.122,0.169,0.000000,136.000000,32.000000,499.000000
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,...,0.110,0.071,0.774,0.064,0.191,0.205,14.000000,69.000000,35.000000,93.000000
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,...,0.151,0.093,0.736,0.057,0.126,0.204,0.000000,110.000000,33.000000,358.000000
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,...,0.173,0.110,0.743,0.054,0.108,0.192,61.000000,106.000000,18.000000,97.555556
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,...,0.165,0.097,0.805,0.030,0.081,0.165,0.000000,74.000000,61.000000,96.000000
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,...,0.170,0.110,0.809,0.037,0.102,0.166,19.000000,108.000000,35.000000,89.000000
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,...,0.140,0.087,0.835,0.036,0.075,0.166,0.000000,91.000000,22.000000,0.000000

In [92]:
# Finally, confirm impuation process via value counts (all columns should = 120)
final_2023_county_attributes.count()

Year                                                                      40
County                                                                    40
% Male                                                                    40
% Female                                                                  40
% Male > 18 Years Old                                                     40
                                                                          ..
% Nonveteran Population With Any Disability                               40
Birth Rate Per 1000 Women (15-19 Years Old)                               40
Birth Rate Per 1000 Women (20-34 Years Old)                               40
Birth Rate Per 1000 Women (35-50 Years Old)                               40
Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)    40
Length: 102, dtype: int64

In [93]:
# Finally, confirm impuation process via value counts (all columns should = 120)
final_2023_county_attributes.count().tolist()

[40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40]

In [94]:
# Exporting dataset to CSV
final_2023_county_attributes.to_csv('Resources/2023_County_Final.csv', index=False)

**2023 County Dataset Unsupervised Learning Segmentation & Dataset Enrichment**
-
-----------

In [95]:
# Scaling the final 2023 county attribute table (which already does not include target/outcome variable (Winning Party - Democrat: 0 Republican: 1))
# Also must remove the 'County' column as it represents string categorical values
final_2023_county_attributes_no_county = final_2023_county_attributes.drop(columns=['County'])
final_2023_county_attributes_no_county

,Year,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,% High School Graduate (18-24),...,% Nonveteran Population 65-74 Years Old,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)
0,2023,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,0.398,...,0.162,0.096,0.821,0.035,0.079,0.141,0.000000,94.000000,49.000000,97.555556
1,2023,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,0.374,...,0.146,0.090,0.811,0.039,0.110,0.144,9.000000,79.000000,35.000000,189.000000
2,2023,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,0.471,...,0.169,0.103,0.769,0.027,0.106,0.186,30.000000,123.000000,9.000000,68.000000
3,2023,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,0.431,...,0.167,0.102,0.801,0.027,0.100,0.174,0.000000,67.000000,26.000000,222.000000
4,2023,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,0.473,...,0.132,0.084,0.786,0.052,0.104,0.155,6.000000,102.000000,45.000000,57.000000
5,2023,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,0.387,...,0.161,0.102,0.757,0.032,0.147,0.189,0.000000,64.000000,49.000000,0.000000
6,2023,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,0.395,...,0.149,0.096,0.823,0.036,0.066,0.129,0.000000,84.000000,30.000000,199.000000
7,2023,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,0.487,...,0.148,0.092,0.781,0.043,0.087,0.145,0.000000,82.000000,34.000000,0.000000
8,2023,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,0.359,...,0.182,0.105,0.748,0.042,0.120,0.216,7.000000,107.000000,39.000000,27.000000
9,2023,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,0.541,...,0.180,0.096,0.773,0.065,0.118,0.200,6.589744,89.384615,32.102564,97.555556
10,2023,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,0.159,...,0.110,0.066,0.650,0.036,0.212,0.132,0.000000,74.000000,60.000000,59.000000
11,2023,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,0.310,...,0.132,0.085,0.836,0.029,0.061,0.109,2.000000,69.000000,50.000000,157.000000
12,2023,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,0.555,...,0.154,0.097,0.734,0.020,0.155,0.192,11.000000,80.000000,28.000000,0.000000
13,2023,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,0.430,...,0.140,0.081,0.788,0.057,0.119,0.114,0.000000,48.000000,8.000000,97.555556
14,2023,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,0.338,...,0.170,0.105,0.752,0.031,0.112,0.191,0.000000,69.000000,15.000000,0.000000
15,2023,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,0.358,...,0.133,0.095,0.813,0.028,0.084,0.143,0.000000,84.000000,24.000000,0.000000
16,2023,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,0.387,...,0.139,0.080,0.815,0.046,0.114,0.152,0.000000,100.000000,24.000000,27.000000
17,2023,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,0.395,...,0.133,0.081,0.788,0.060,0.102,0.154,26.000000,81.000000,38.000000,31.000000
18,2023,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,0.394,...,0.149,0.090,0.740,0.040,0.130,0.190,0.000000,91.000000,45.000000,27.000000
19,2023,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,0.486,...,0.169,0.099,0.699,0.036,0.179,0.225,0.000000,121.000000,15.000000,94.000000
20,2023,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,0.447,...,0.147,0.101,0.807,0.046,0.078,0.178,0.000000,123.000000,13.000000,186.000000
21,2023,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,0.474,...,0.139,0.093,0.686,0.056,0.167,0.183,0.000000,114.000000,17.000000,0.000000
22,2023,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,0.390,...,0.148,0.098,0.738,0.029,0.164,0.198,9.000000,109.000000,25.000000,193.000000
23,2023,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,0.431,...,0.140,0.106,0.826,0.031,0.076,0.149,1.000000,117.000000,61.000000,110.000000
24,2023,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,0.508,...,0.168,0.110,0.754,0.043,0.129,0.200,20.000000,67.000000,25.000000,0.000000
25,2023,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,0.439,...,0.142,0.104,0.828,0.022,0.078,0.146,0.000000,80.000000,21.000000,74.000000
26,2023,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,0.419,...,0.131,0.083,0.795,0.048,0.110,0.150,0.000000,71.000000,30.000000,39.000000
27,2023,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,0.364,...,0.144,0.093,0.752,0.047,0.150,0.191,0.000000,83.000000,22.000000,134.000000
28,2023,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,0.319,...,0.149,0.094,0.783,0.048,0.118,0.188,40.000000,105.000000,17.000000,22.000000
29,2023,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,0.341,...,0.163,0.111,0.737,0.051,0.104,0.170,0.000000,67.000000,34.000000,61.000000
30,2023,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,0.415,...,0.147,0.085,0.770,0.067,0.089,0.186,0.000000,92.000000,40.000000,211.000000
31,2023,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,0.328,...,0.134,0.092,0.828,0.034,0.065,0.120,2.000000,82.000000,54.000000,131.000000
32,2023,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,0.257,...,0.139,0.092,0.784,0.045,0.078,0.130,0.000000,63.000000,34.000000,59.000000
33,2023,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,0.498,...,0.161,0.103,0.716,0.028,0.122,0.169,0.000000,136.000000,32.000000,499.000000
34,2023,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,0.368,...,0.110,0.071,0.774,0.064,0.191,0.205,14.000000,69.000000,35.000000,93.000000
35,2023,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,0.488,...,0.151,0.093,0.736,0.057,0.126,0.204,0.000000,110.000000,33.000000,358.000000
36,2023,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,0.659,...,0.173,0.110,0.743,0.054,0.108,0.192,61.000000,106.000000,18.000000,97.555556
37,2023,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,0.462,...,0.165,0.097,0.805,0.030,0.081,0.165,0.000000,74.000000,61.000000,96.000000
38,2023,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,0.414,...,0.170,0.110,0.809,0.037,0.102,0.166,19.000000,108.000000,35.000000,89.000000
39,2023,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,0.512,...,0.140,0.087,0.835,0.036,0.075,0.166,0.000000,91.000000,22.000000,0.000000

In [96]:
# Scaling the 2023 final county attribute table WITHOUT the target/outcome variable (Winning Party - Democrat: 0 Republican: 1)
scaler = StandardScaler()
scaled_2023_final_county_attributes_no_county = scaler.fit_transform(final_2023_county_attributes_no_county)
scaled_2023_final_county_attributes_no_county

array([[ 0.00000000e+00, -5.46421554e-01,  5.46421554e-01, ...,
         2.28851827e-01,  1.21981769e+00, -1.40160727e-16],
       [ 0.00000000e+00, -9.56879060e-01,  9.56879060e-01, ...,
        -5.14916611e-01,  2.09164490e-01,  9.01910551e-01],
       [ 0.00000000e+00,  1.71879080e-01, -1.71879080e-01, ...,
         1.66680414e+00, -1.66776288e+00, -2.91504504e-01],
       ...,
       [ 0.00000000e+00, -4.43807178e-01,  4.43807178e-01, ...,
        -7.62839424e-01,  2.08609186e+00, -1.53423423e-02],
       [ 0.00000000e+00, -3.41192801e-01,  3.41192801e-01, ...,
         9.23035703e-01,  2.09164490e-01, -8.43828827e-02],
       [ 0.00000000e+00,  6.92647040e-02, -6.92647040e-02, ...,
         8.00981395e-02, -7.29299194e-01, -9.62184039e-01]])

In [97]:
# Creating a DataFrame with the scaled data
scaled_2023_final_county_attributes_no_county_df = pd.DataFrame(scaled_2023_final_county_attributes_no_county,
                                                                   columns=final_2023_county_attributes_no_county.columns)
scaled_2023_final_county_attributes_no_county_df

,Year,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,% High School Graduate (18-24),...,% Nonveteran Population 65-74 Years Old,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months)
0,0.0,-0.546422,0.546422,-0.260952,0.260952,0.531015,-0.643994,0.563235,-0.668954,-0.215248,...,0.737031,0.149986,1.083687,-0.522802,-0.962486,-0.955746,-0.515460,0.228852,1.219818,-1.401607e-16
1,0.0,-0.956879,0.956879,-0.928990,0.928990,-0.482404,0.945589,-0.430709,0.761513,-0.494111,...,-0.217827,-0.430605,0.849250,-0.193478,-0.082337,-0.851198,0.188534,-0.514917,0.209164,9.019106e-01
2,0.0,0.171879,-0.171879,0.323581,-0.323581,1.099518,-0.743343,-0.762024,-0.963461,0.632962,...,1.154782,0.827343,-0.135388,-1.181450,-0.195904,0.612479,1.831186,1.666804,-1.667763,-2.915045e-01
3,0.0,-0.238578,0.238578,-0.511467,0.511467,0.341514,-0.062093,-0.099394,-0.879316,0.168190,...,1.035424,0.730578,0.614812,-1.181450,-0.366256,0.194286,-0.515460,-1.109931,-0.440541,1.227387e+00
4,0.0,-0.238578,0.238578,-0.260952,0.260952,-1.034429,-0.246598,1.557179,-0.416518,0.656200,...,-1.053328,-1.011197,0.263156,0.876825,-0.252688,-0.467854,-0.046131,0.625528,0.931060,-3.999968e-01
5,0.0,-0.033350,0.033350,-0.093943,0.093943,0.720516,-0.487874,-0.762024,-0.668954,-0.343060,...,0.677352,0.730578,-0.416713,-0.769795,0.968164,0.717028,-0.515460,-1.258685,1.219818,-9.621840e-01
6,0.0,-0.238578,0.238578,-0.260952,0.260952,-0.070445,-0.374333,-0.099394,1.098094,-0.250106,...,-0.038791,0.149986,1.130575,-0.440471,-1.331581,-1.373940,-0.515460,-0.266994,-0.151783,1.000540e+00
7,0.0,0.069265,-0.069265,0.073067,-0.073067,0.910017,-0.700765,0.231920,-0.416518,0.818871,...,-0.098470,-0.237075,0.145937,0.135846,-0.735350,-0.816349,-0.515460,-0.366163,0.136975,-9.621840e-01
8,0.0,0.069265,-0.069265,0.073067,-0.073067,0.728755,-0.374333,-0.762024,-0.837244,-0.668401,...,1.930604,1.020873,-0.627706,0.053515,0.201583,1.657963,0.032091,0.873451,0.497923,-6.958848e-01
9,0.0,1.300637,-1.300637,1.242133,-1.242133,0.448623,-0.502067,4.539012,-0.711026,1.446314,...,1.811246,0.149986,-0.041613,1.947129,0.144799,1.100372,0.000000,0.000000,0.000000,-1.401607e-16
10,0.0,2.429395,-2.429395,2.578209,-2.578209,0.176730,-0.303369,-0.430709,1.645037,-2.992263,...,-2.366258,-2.752972,-2.925194,-0.440471,2.813638,-1.269392,-0.515460,-0.762839,2.013902,-3.802709e-01
11,0.0,-0.238578,0.238578,-0.093943,0.093943,-0.441208,-0.104671,-0.762024,1.939545,-1.237747,...,-1.053328,-0.914432,1.435343,-1.016788,-1.473540,-2.070929,-0.359017,-1.010762,1.292007,5.862967e-01
12,0.0,2.429395,-2.429395,2.411200,-2.411200,0.967692,-0.516260,-0.430709,-0.879316,1.608984,...,0.259602,0.246751,-0.955919,-1.757767,1.195299,0.821576,0.344977,-0.465332,-0.296162,-9.621840e-01
13,0.0,-0.956879,0.956879,-0.678476,0.678476,0.778190,-0.573030,-0.430709,-0.332373,0.156570,...,-0.575899,-1.301493,0.310044,1.288481,0.173191,-1.896682,-0.515460,-2.052038,-1.739952,-1.401607e-16
14,0.0,-0.443807,0.443807,-0.177448,0.177448,0.959452,-0.615608,-0.430709,-0.879316,-0.912406,...,1.214460,1.020873,-0.533931,-0.852126,-0.025553,0.786727,-0.515460,-1.010762,-1.234626,-9.621840e-01
15,0.0,-0.033350,0.033350,0.073067,-0.073067,-0.053967,-0.218213,-0.762024,1.392601,-0.680020,...,-0.993649,0.053221,0.896137,-1.099119,-0.820526,-0.886048,-0.515460,-0.266994,-0.584920,-9.621840e-01
16,0.0,-0.854265,0.854265,-0.928990,0.928990,-1.594693,1.797151,1.225865,1.939545,-0.343060,...,-0.635577,-1.398258,0.943025,0.382839,0.031231,-0.572402,-0.515460,0.526359,-0.584920,-6.958848e-01
17,0.0,-1.264722,1.264722,-1.346514,1.346514,-1.578215,2.364859,-0.430709,1.602964,-0.250106,...,-0.993649,-1.301493,0.310044,1.535474,-0.309472,-0.502703,1.518300,-0.415747,0.425733,-6.564331e-01
18,0.0,0.582337,-0.582337,0.073067,-0.073067,0.094339,0.264339,-0.430709,-0.122010,-0.261725,...,-0.038791,-0.430605,-0.815256,-0.111147,0.485502,0.751877,-0.515460,0.080098,0.931060,-6.958848e-01
19,0.0,-0.033350,0.033350,0.156571,-0.156571,0.695799,-0.274984,-0.430709,-0.795171,0.807252,...,1.154782,0.440282,-1.776450,-0.440471,1.876705,1.971608,-0.515460,1.567635,-1.234626,-3.506821e-02
20,0.0,-0.649036,0.649036,-0.344457,0.344457,0.316796,-0.473681,-0.099394,-0.458591,0.354098,...,-0.158148,0.633812,0.755475,0.382839,-0.990878,0.333684,-0.515460,1.666804,-1.379005,8.723217e-01
21,0.0,0.274493,-0.274493,0.574095,-0.574095,0.934735,-0.445296,-0.762024,-0.879316,0.667820,...,-0.635577,-0.140310,-2.081219,1.206149,1.536002,0.507931,-0.515460,1.220543,-1.090247,-9.621840e-01
22,0.0,-0.443807,0.443807,-0.761981,0.761981,-0.119880,-0.303369,-0.762024,0.340788,-0.308202,...,-0.098470,0.343517,-0.862144,-1.016788,1.450827,1.030673,0.188534,0.972620,-0.512731,9.413623e-01
23,0.0,-0.751650,0.751650,-0.761981,0.761981,-0.086923,-0.289176,-0.099394,-0.079938,0.168190,...,-0.575899,1.117639,1.200906,-0.852126,-1.047661,-0.676951,-0.437238,1.369297,2.086092,1.227387e-01
24,0.0,-0.956879,0.956879,-0.928990,0.928990,0.605168,-0.204020,-0.430709,-0.879316,1.062876,...,1.095103,1.504700,-0.487044,0.135846,0.457110,1.100372,1.048971,-1.109931,-0.512731,-9.621840e-01
25,0.0,-0.238578,0.238578,-0.427962,0.427962,-0.070445,-0.388525,-0.762024,-0.122010,0.261144,...,-0.456542,0.924108,1.247793,-1.593105,-0.990878,-0.781499,-0.515460,-0.465332,-0.801489,-2.323269e-01
26,0.0,-0.443807,0.443807,-0.511467,0.511467,-1.685324,0.051449,1.557179,0.635296,0.028758,...,-1.113006,-1.107962,0.474150,0.547501,-0.082337,-0.642101,-0.515460,-0.911593,-0.151783,-5.775296e-01
27,0.0,0.171879,-0.171879,0.240076,-0.240076,-0.605992,-0.104671,0.231920,-0.458591,-0.610304,...,-0.337184,-0.140310,-0.533931,0.465170,1.053340,0.786727,-0.515460,-0.316578,-0.729299,3.594492e-01
28,0.0,-0.443807,0.443807,-0.344457,0.344457,0.555733,-0.374333,1.888494,-0.626881,-1.133173,...,-0.038791,-0.043544,0.192825,0.547501,0.144799,0.682178,2.613401,0.774282,-1.090247,-7.451995e-01
29,0.0,-0.033350,0.033350,-0.260952,0.260952,0.547493,-0.232406,-0.099394,-0.753099,-0.877548,...,0.796710,1.601465,-0.885588,0.794494,-0.252688,0.054888,-0.515460,-1.109931,0.136975,-3.605450e-01
30,0.0,1.300637,-1.300637,0.490590,-0.490590,-1.578215,1.215250,-0.099394,0.130425,-0.017719,...,-0.158148,-0.914432,-0.111944,2.111791,-0.678567,0.612479,-0.515460,0.129683,0.570112,1.118895e+00
31,0.0,-0.751650,0.751650,-0.761981,0.761981,-0.779014,0.576579,-0.099394,2.318198,-1.028599,...,-0.933971,-0.237075,1.247793,-0.605133,-1.359973,-1.687585,-0.359017,-0.366163,1.580765,3.298604e-01
32,0.0,-0.135964,0.135964,-0.177448,0.177448,-0.779014,-0.062093,-0.099394,0.382860,-1.853570,...,-0.635577,-0.237075,0.216269,0.300508,-0.990878,-1.339090,-0.515460,-1.308270,0.136975,-3.802709e-01
33,0.0,1.403252,-1.403252,1.242133,-1.242133,0.605168,-0.544645,-0.762024,-0.753099,0.946683,...,0.677352,0.827343,-1.377906,-1.099119,0.258366,0.020038,-0.515460,2.311403,-0.007404,3.959420e+00
34,0.0,-2.496095,2.496095,-2.515581,2.515581,-3.885185,4.777619,0.894550,2.360270,-0.563827,...,-2.366258,-2.269145,-0.018169,1.864798,2.217408,1.274619,0.579642,-1.010762,0.209164,-4.493115e-02
35,0.0,1.813709,-1.813709,2.160686,-2.160686,0.366231,-0.360140,-0.099394,-0.795171,0.830490,...,0.080566,-0.140310,-0.909031,1.288481,0.371934,1.239770,-0.515460,1.022205,0.064785,2.568746e+00
36,0.0,2.121552,-2.121552,2.160686,-2.160686,1.025366,-0.516260,-0.762024,-0.711026,2.817392,...,1.393496,1.504700,-0.744925,1.041487,-0.139120,0.821576,4.256053,0.823867,-1.018057,-1.401607e-16
37,0.0,-0.443807,0.443807,-0.177448,0.177448,0.704038,-0.431103,0.563235,-0.416518,0.528388,...,0.916067,0.246751,0.708587,-0.934457,-0.905702,-0.119359,-0.515460,-0.762839,2.086092,-1.534234e-02
38,0.0,-0.341193,0.341193,-0.260952,0.260952,0.860582,-0.445296,-0.430709,-0.626881,-0.029339,...,1.214460,1.504700,0.802362,-0.358140,-0.309472,-0.084510,0.970749,0.923036,0.209164,-8.438288e-02
39,0.0,0.069265,-0.069265,-0.093943,0.093943,-0.128119,-0.076286,-0.430709,-0.416518,1.109354,...,-0.575899,-0.720901,1.411900,-0.440471,-1.076053,-0.084510,-0.515460,0.080098,-0.729299,-9.621840e-01

In [98]:
# Principal Component Analysis for dimensionality reduction of scaled data (30 components results in ~>95% explained variance ratio)
pca = PCA(n_components=30, random_state=0)
scaled_2023_pca_data = pca.fit_transform(scaled_2023_final_county_attributes_no_county_df)
print(f'Explained Variance Ratio: {sum(pca.explained_variance_ratio_)}')

Explained Variance Ratio: 0.9896285899339682

In [99]:
# Creating a new DataFrame with PCA data
scaled_2023_pca_df = pd.DataFrame(scaled_2023_pca_data, columns=["PCA1", "PCA2", "PCA3", "PCA4", "PCA5", "PCA6", "PCA7",
                                                       "PCA8", "PCA9", "PCA10", "PCA11", "PCA12", "PCA13", "PCA14", 
                                                       "PCA15", "PCA16", "PCA17", "PCA18", "PCA19", "PCA20", "PCA21", 
                                                       "PCA22", "PCA23", "PCA24", "PCA25", "PCA26", "PCA27", "PCA28", 
                                                       "PCA29", "PCA30"])
scaled_2023_pca_df

,PCA1,PCA2,PCA3,PCA4,PCA5,PCA6,PCA7,PCA8,PCA9,PCA10,...,PCA21,PCA22,PCA23,PCA24,PCA25,PCA26,PCA27,PCA28,PCA29,PCA30
0,1.098080,-3.904122,-1.078552,2.297185,-1.520520,-1.251986,-1.792928,0.317405,-1.045325,-1.676282,...,0.603329,1.501338,-0.170263,1.407720,0.038791,-0.859187,-0.249214,-0.412694,-0.046805,-0.632698
1,7.061641,3.263824,0.019928,-2.276041,-2.004276,-0.003493,-1.018050,-2.504878,-0.755840,2.302556,...,-0.936606,-0.562003,-0.609230,-0.414293,0.630469,0.850881,-1.004101,-0.174910,0.069422,0.259953
2,-5.244941,-3.092681,-0.133826,-3.361732,-0.442613,0.969840,0.715150,-0.536695,0.265444,1.762124,...,2.103651,0.960414,-0.047877,-1.303450,0.127141,-0.189703,1.788178,-0.175934,-0.658580,0.116742
3,-0.549429,-3.013759,0.096991,-1.091579,-3.303276,0.101632,-2.170505,2.520063,-0.751517,0.755642,...,-0.759090,0.566222,1.041460,0.390007,-0.354378,-0.242139,-0.983924,-0.107164,0.370336,-0.160868
4,1.781413,0.823923,-1.988176,1.657032,2.443888,-2.036446,0.506084,-0.005241,2.132839,-1.467891,...,-0.108231,-0.398222,-0.234586,0.020503,-1.150037,0.109887,0.323037,0.428277,0.446900,0.110688
5,-6.850087,0.421004,1.126390,0.024895,-2.000069,0.036540,-2.217604,-0.517604,-1.544651,0.595670,...,-0.328913,-0.957652,-0.076994,-0.269233,-0.059025,-0.417588,-0.097835,0.164465,-0.528006,-0.714784
6,11.954336,-3.107610,0.563458,-3.762317,0.434458,1.003146,-0.361021,-0.041546,-1.326247,-1.253665,...,-0.845338,-0.847824,-0.550289,-0.062468,-0.535144,-0.253055,1.120022,0.373645,0.701622,-0.583581
7,4.457168,-2.158398,1.563689,-1.332378,0.393640,-0.267568,1.352884,0.698624,-0.003330,-0.487920,...,-0.753113,-0.689575,0.956885,1.256771,0.324338,0.499523,-0.601189,-0.920403,-0.424829,0.483148
8,-6.302856,-0.985673,0.827041,-2.484405,-2.428857,-1.499697,0.270724,-0.967852,-0.682218,-1.183086,...,1.120265,0.748528,0.085992,1.679963,0.694964,2.225643,0.447432,0.337150,-0.270160,-0.685240
9,-4.466621,-3.117614,-2.353326,-0.185528,3.365957,-5.587601,0.458473,-1.936176,1.346078,0.339349,...,0.489803,-0.811259,0.041659,-0.716319,1.261794,-0.341538,0.012911,-0.230770,-0.400608,-0.029976
10,0.950552,6.830418,11.549500,4.513337,2.088774,-0.564558,-1.767948,-1.371410,0.161392,0.524864,...,0.143351,-0.544530,0.633657,0.311432,0.540418,0.048423,0.635381,0.019976,-0.174076,0.233865
11,16.323562,-1.259160,2.336772,-2.815179,1.453886,1.350453,0.876931,-0.869717,-1.367786,-2.005511,...,-0.385817,0.425780,0.158775,0.021004,0.035263,-0.310256,-0.138569,0.202550,-0.638660,-0.093945
12,-5.321921,-2.805224,1.588755,-1.317028,3.851705,3.428209,0.163193,-0.112769,-0.290871,3.338624,...,-0.792712,0.356606,-0.508589,-0.241193,-0.592593,0.306813,-0.659019,0.499506,-0.551796,-0.164240
13,-1.179794,0.818435,2.087311,2.805341,-2.675053,-4.833281,4.488161,1.310189,-3.151872,0.469134,...,-0.997235,1.271242,-0.890944,-1.142092,-0.491263,-0.148451,-0.129565,-0.266457,-0.343162,-0.112426
14,-6.661563,-1.081358,-0.217275,1.200412,-4.059369,1.226894,-1.579989,-1.112551,0.056892,-0.426249,...,0.565720,-0.800577,-0.959846,0.032299,-0.989874,-0.283805,-0.189235,-0.244797,-0.082404,1.565063
15,5.963776,-0.328090,0.196342,3.041784,-1.201096,1.563255,0.218318,-0.123736,1.140546,-0.002000,...,0.535171,-0.199948,-0.644115,-0.463463,-1.101509,-0.271286,-0.037235,-1.004164,-0.447914,-0.427508
16,3.699027,2.406401,-1.856791,1.932271,0.164463,-0.854165,-1.765661,0.589201,2.145702,-0.128054,...,-0.637923,2.195108,0.391806,-1.487699,0.694575,1.156718,-0.450262,0.975012,0.069666,-0.389765
17,7.247361,2.598981,-0.797596,-1.209881,-0.172469,-3.477688,-0.090246,-0.311680,0.733428,0.098386,...,-0.233856,0.377417,0.297374,0.061128,0.623649,-1.105337,0.490936,-1.264046,0.838681,-0.137720
18,-3.761152,1.957693,1.008189,-0.178338,0.112865,-0.551936,-1.517075,0.298376,0.535049,1.648891,...,0.657621,0.605087,-0.701229,0.764356,1.148014,-0.289911,-0.374765,0.416827,1.718212,0.391499
19,-9.046332,2.097736,-0.422006,-3.273784,0.697965,2.976546,0.143980,1.736063,-1.132936,-1.407688,...,-0.181663,-0.273413,-0.384974,-0.988046,0.681347,0.438601,0.133039,-0.926822,0.691680,0.155678
20,-0.137411,-2.237184,-1.861039,1.974071,0.357190,-0.031652,0.372347,-0.565410,-0.926816,-2.557231,...,0.379110,-1.576846,-1.106025,0.350480,1.672287,-0.433744,-0.176783,1.300848,-0.642738,0.057482
21,-7.293413,4.262870,3.377066,-0.249992,-1.135971,1.919596,4.648835,0.982105,0.201790,-2.954424,...,-0.293566,0.350347,-0.486292,-0.320055,-0.064456,-0.296968,0.105328,0.519752,0.738962,0.082358
22,-4.730857,3.985711,0.512101,-2.584142,-0.313141,1.511428,-0.592167,1.244474,3.171674,-0.702199,...,0.810624,-0.386445,-0.436497,0.139179,-0.016484,-1.091730,-0.640972,-0.151182,0.373528,-0.980236
23,3.278349,-1.223009,-1.991825,3.296833,0.007904,0.545156,-0.545695,-1.790367,2.516122,-1.939550,...,0.823744,-0.010782,0.048066,-0.542091,-0.118217,0.084249,-0.883934,-0.247316,-0.325245,0.346638
24,-5.023032,-1.057227,0.042700,-1.074945,-3.372851,0.713713,2.788863,0.655777,3.973472,0.866824,...,-1.857541,-0.809984,1.318067,-0.190107,1.077268,-0.479613,0.088675,-0.177212,-0.871221,-0.258305
25,4.011743,-2.562155,-3.696035,6.126629,0.169877,6.161215,3.535587,0.356397,-1.472916,1.449521,...,0.158282,-0.033134,0.941749,0.470754,1.070377,-0.008893,0.395505,0.133493,0.600722,-0.008686
26,3.671673,1.903704,-1.191332,0.191235,1.618598,-1.331883,1.301173,1.558576,-0.014133,-0.489964,...,1.263840,-0.217417,1.773329,-0.804532,-0.555115,1.008445,-0.209989,-0.147492,0.610827,0.655218
27,-4.033065,3.350810,-0.649469,-0.428821,0.938801,0.839414,-0.282144,1.062822,2.374051,-1.680715,...,-0.442807,-0.382066,-0.368654,0.536413,-1.420565,1.263891,0.138126,-0.110406,-0.456271,-0.232415
28,-3.224425,0.556372,-0.955101,-0.206643,-1.057915,-0.864154,1.879830,-1.901326,-0.607802,0.076391,...,0.119718,1.442286,0.028447,1.198967,-0.682437,-0.347658,-0.047258,0.179340,-0.444470,0.562102
29,-4.813347,-1.830086,-0.353438,1.851275,-2.724025,-0.123703,-3.260124,-0.728236,-2.803171,-1.190760,...,-0.240619,-0.802774,0.361846,-1.665936,-0.168561,0.142459,-0.062837,0.373322,0.320938,-0.365377
30,-0.380246,-0.430687,-1.155282,0.023736,3.377161,-2.186728,-1.379253,7.388500,-1.065691,0.594883,...,-0.399986,-0.415774,-0.954639,0.418403,0.348108,-0.079188,0.183839,0.222676,-0.657459,0.702441
31,14.196008,0.381570,0.574046,-3.376982,0.260437,0.931039,0.389539,-0.715590,0.108406,0.063260,...,0.843186,0.334764,-0.730951,-0.581012,0.107179,-0.032474,-0.572082,0.415807,-0.143357,0.405938
32,5.464675,-1.014435,1.513449,1.391574,-0.762590,0.311971,-0.128234,2.773954,-0.491084,2.063498,...,2.617042,-0.916247,0.474377,0.037082,-0.362354,0.196307,-0.299043,-0.252084,-0.257184,-0.737031
33,-6.050662,-1.826226,-0.403107,-0.420495,3.520761,2.031749,-3.662393,-0.833404,-1.645048,-2.321595,...,-0.831329,1.127065,1.669196,-0.209084,0.161558,-0.389715,0.416262,-0.641662,-0.371247,0.432094
34,1.150847,15.569772,-6.651545,-0.753979,-0.338081,0.141886,-0.478277,-1.052732,-2.157238,1.390778,...,-0.077045,-0.366686,0.572233,0.680435,-0.356763,-0.497798,0.488996,0.312908,-0.601466,-0.066382
35,-5.662376,-0.575347,0.177278,0.513649,4.811574,1.536731,0.299095,-1.659758,0.372936,1.134754,...,-0.092771,1.378903,-1.092104,0.321571,-0.263576,-0.666447,-0.530818,-0.187960,-0.088208,-0.273491
36,-7.517849,-3.956482,-0.435274,-1.226483,3.367161,-2.620437,2.517295,-2.410602,-1.855441,0.770137,...,0.005111,-1.411608,1.032740,0.249249,-1.186018,0.026913,-0.664692,0.273453,0.847892,-0.393456
37,2.593301,-3.934054,0.767940,-0.049418,-1.950447,-1.061503,-1.304303,0.396288,2.371046,1.445209,...,-0.660788,0.176638,0.957266,0.334861,-1.027850,-0.752275,0.930947,1.620101,0.306469,0.366411
38,0.245497,-3.135524,0.251972,-2.559357,-2.337559,-0.011700,0.157203,-0.838620,0.532477,0.902936,...,0.182255,0.044681,-0.318467,0.300664,0.332049,0.245045,0.124612,-0.218608,0.165706,0.807458
39,3.102370,-2.593120,-1.989928,3.378187,0.363112,-0.140235,-1.170047,-0.980913,0.952586,1.281352,...,-1.564871,-0.447660,-1.512360,0.417834,-0.073373,1.184963,1.180097,-0.907024,0.554302,-0.286649

In [100]:
# Finding best value for K in Kmeans via elbow method
k = list(range(1, 11))
inertia = []
for i in k:
    model = KMeans(n_clusters=i, random_state=0)
    model.fit(scaled_2023_pca_df)
    inertia.append(model.inertia_)

elbow_data_pca = {
    "k": k,
    "inertia": inertia
}

df_elbow_data_pca = pd.DataFrame(elbow_data_pca)
df_elbow_data_pca

/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

    k      inertia
0   1  3958.514360
1   2  2952.409794
2   3  2538.588107
3   4  2257.682978
4   5  2146.940683
5   6  1965.381063
6   7  1772.675724
7   8  1637.634889
8   9  1532.560733
9  10  1430.632399

In [101]:
# Visualize Elbow data (shows optimal value of k = 4)
elbow_plot_pca = df_elbow_data_pca.hvplot.line(x="k", y="inertia", title="Elbow Curve Using PCA(30) w/ Scaled Data", xticks=k)
elbow_plot_pca

:Curve   [k]   (inertia)

In [102]:
# Segment data with the determined number of clusters (k) = 4
model = KMeans(n_clusters=4, random_state=0)
model.fit(scaled_2023_pca_df)
segment_predictions = model.predict(scaled_2023_pca_df)
print(segment_predictions)

/Applications/anaconda3/envs/Eclipse/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

[2 0 1 2 2 1 0 2 1 1 1 0 1 2 1 2 2 0 1 1 2 1 1 2 1 2 2 1 1 1 2 0 2 1 3 1 1
 2 2 2]

In [103]:
# Enrich master 2023 county dataset that has target/label outcomes included with segment predictions
ultimate_2023_county_df = final_2023_county_attributes.copy()
ultimate_2023_county_df['Segment'] = segment_predictions
ultimate_2023_county_df

,Year,County,% Male,% Female,% Male > 18 Years Old,% Female > 18 Years Old,% White,% Black or African American,% American Indian and Alaska Native,% Asian,...,% Nonveteran Population 75 Years Old & Over,Nonveteran Labor Force Participation Rate (%),Nonveteran Unemployment Rate (%),% Nonveteran Population With Income Below Poverty Level (Past 12 Months),% Nonveteran Population With Any Disability,Birth Rate Per 1000 Women (15-19 Years Old),Birth Rate Per 1000 Women (20-34 Years Old),Birth Rate Per 1000 Women (35-50 Years Old),Received Public Assistance Income Rate Per 1000 Women (Past 12 Months),Segment
0,2023,ADAMS,0.492,0.508,0.490,0.510,0.882,0.013,0.004,0.008,...,0.096,0.821,0.035,0.079,0.141,0.000000,94.000000,49.000000,97.555556,2
1,2023,ALLEGHENY,0.488,0.512,0.482,0.518,0.759,0.125,0.001,0.042,...,0.090,0.811,0.039,0.110,0.144,9.000000,79.000000,35.000000,189.000000,0
2,2023,ARMSTRONG,0.499,0.501,0.497,0.503,0.951,0.006,0.000,0.001,...,0.103,0.769,0.027,0.106,0.186,30.000000,123.000000,9.000000,68.000000,1
3,2023,BEAVER,0.495,0.505,0.487,0.513,0.859,0.054,0.002,0.003,...,0.102,0.801,0.027,0.100,0.174,0.000000,67.000000,26.000000,222.000000,2
4,2023,BERKS,0.495,0.505,0.490,0.510,0.692,0.041,0.007,0.014,...,0.084,0.786,0.052,0.104,0.155,6.000000,102.000000,45.000000,57.000000,2
5,2023,BLAIR,0.497,0.503,0.492,0.508,0.905,0.024,0.000,0.008,...,0.102,0.757,0.032,0.147,0.189,0.000000,64.000000,49.000000,0.000000,1
6,2023,BUCKS,0.495,0.505,0.490,0.510,0.809,0.032,0.002,0.050,...,0.096,0.823,0.036,0.066,0.129,0.000000,84.000000,30.000000,199.000000,0
7,2023,BUTLER,0.498,0.502,0.494,0.506,0.928,0.009,0.003,0.014,...,0.092,0.781,0.043,0.087,0.145,0.000000,82.000000,34.000000,0.000000,2
8,2023,CAMBRIA,0.498,0.502,0.494,0.506,0.906,0.032,0.000,0.004,...,0.105,0.748,0.042,0.120,0.216,7.000000,107.000000,39.000000,27.000000,1
9,2023,CARBON,0.510,0.490,0.508,0.492,0.872,0.023,0.016,0.007,...,0.096,0.773,0.065,0.118,0.200,6.589744,89.384615,32.102564,97.555556,1
10,2023,CENTRE,0.521,0.479,0.524,0.476,0.839,0.037,0.001,0.063,...,0.066,0.650,0.036,0.212,0.132,0.000000,74.000000,60.000000,59.000000,1
11,2023,CHESTER,0.495,0.505,0.492,0.508,0.764,0.051,0.000,0.070,...,0.085,0.836,0.029,0.061,0.109,2.000000,69.000000,50.000000,157.000000,0
12,2023,CLEARFIELD,0.521,0.479,0.522,0.478,0.935,0.022,0.001,0.003,...,0.097,0.734,0.020,0.155,0.192,11.000000,80.000000,28.000000,0.000000,1
13,2023,COLUMBIA,0.488,0.512,0.485,0.515,0.912,0.018,0.001,0.016,...,0.081,0.788,0.057,0.119,0.114,0.000000,48.000000,8.000000,97.555556,2
14,2023,CRAWFORD,0.493,0.507,0.491,0.509,0.934,0.015,0.001,0.003,...,0.105,0.752,0.031,0.112,0.191,0.000000,69.000000,15.000000,0.000000,1
15,2023,CUMBERLAND,0.497,0.503,0.494,0.506,0.811,0.043,0.000,0.057,...,0.095,0.813,0.028,0.084,0.143,0.000000,84.000000,24.000000,0.000000,2
16,2023,DAUPHIN,0.489,0.511,0.482,0.518,0.624,0.185,0.006,0.070,...,0.080,0.815,0.046,0.114,0.152,0.000000,100.000000,24.000000,27.000000,2
17,2023,DELAWARE,0.485,0.515,0.477,0.523,0.626,0.225,0.001,0.062,...,0.081,0.788,0.060,0.102,0.154,26.000000,81.000000,38.000000,31.000000,0
18,2023,ERIE,0.503,0.497,0.494,0.506,0.829,0.077,0.001,0.021,...,0.090,0.740,0.040,0.130,0.190,0.000000,91.000000,45.000000,27.000000,1
19,2023,FAYETTE,0.497,0.503,0.495,0.505,0.902,0.039,0.001,0.005,...,0.099,0.699,0.036,0.179,0.225,0.000000,121.000000,15.000000,94.000000,1
20,2023,FRANKLIN,0.491,0.509,0.489,0.511,0.856,0.025,0.002,0.013,...,0.101,0.807,0.046,0.078,0.178,0.000000,123.000000,13.000000,186.000000,2
21,2023,INDIANA,0.500,0.500,0.500,0.500,0.931,0.027,0.000,0.003,...,0.093,0.686,0.056,0.167,0.183,0.000000,114.000000,17.000000,0.000000,1
22,2023,LACKAWANNA,0.493,0.507,0.484,0.516,0.803,0.037,0.000,0.032,...,0.098,0.738,0.029,0.164,0.198,9.000000,109.000000,25.000000,193.000000,1
23,2023,LANCASTER,0.490,0.510,0.484,0.516,0.807,0.038,0.002,0.022,...,0.106,0.826,0.031,0.076,0.149,1.000000,117.000000,61.000000,110.000000,2
24,2023,LAWRENCE,0.488,0.512,0.482,0.518,0.891,0.044,0.001,0.003,...,0.110,0.754,0.043,0.129,0.200,20.000000,67.000000,25.000000,0.000000,1
25,2023,LEBANON,0.495,0.505,0.488,0.512,0.809,0.031,0.000,0.021,...,0.104,0.828,0.022,0.078,0.146,0.000000,80.000000,21.000000,74.000000,2
26,2023,LEHIGH,0.493,0.507,0.487,0.513,0.613,0.062,0.007,0.039,...,0.083,0.795,0.048,0.110,0.150,0.000000,71.000000,30.000000,39.000000,2
27,2023,LUZERNE,0.499,0.501,0.496,0.504,0.744,0.051,0.003,0.013,...,0.093,0.752,0.047,0.150,0.191,0.000000,83.000000,22.000000,134.000000,1
28,2023,LYCOMING,0.493,0.507,0.489,0.511,0.885,0.032,0.008,0.009,...,0.094,0.783,0.048,0.118,0.188,40.000000,105.000000,17.000000,22.000000,1
29,2023,MERCER,0.497,0.503,0.490,0.510,0.884,0.042,0.002,0.006,...,0.111,0.737,0.051,0.104,0.170,0.000000,67.000000,34.000000,61.000000,1
30,2023,MONROE,0.510,0.490,0.499,0.501,0.626,0.144,0.002,0.027,...,0.085,0.770,0.067,0.089,0.186,0.000000,92.000000,40.000000,211.000000,2
31,2023,MONTGOMERY,0.490,0.510,0.484,0.516,0.723,0.099,0.002,0.079,...,0.092,0.828,0.034,0.065,0.120,2.000000,82.000000,54.000000,131.000000,0
32,2023,NORTHAMPTON,0.496,0.504,0.491,0.509,0.723,0.054,0.002,0.033,...,0.092,0.784,0.045,0.078,0.130,0.000000,63.000000,34.000000,59.000000,2
33,2023,NORTHUMBERLAND,0.511,0.489,0.508,0.492,0.891,0.020,0.000,0.006,...,0.103,0.716,0.028,0.122,0.169,0.000000,136.000000,32.000000,499.000000,1
34,2023,PHILADELPHIA,0.473,0.527,0.463,0.537,0.346,0.395,0.005,0.080,...,0.071,0.774,0.064,0.191,0.205,14.000000,69.000000,35.000000,93.000000,3
35,2023,SCHUYLKILL,0.515,0.485,0.519,0.481,0.862,0.033,0.002,0.005,...,0.093,0.736,0.057,0.126,0.204,0.000000,110.000000,33.000000,358.000000,1
36,2023,SOMERSET,0.518,0.482,0.519,0.481,0.942,0.022,0.000,0.007,...,0.110,0.743,0.054,0.108,0.192,61.000000,106.000000,18.000000,97.555556,1
37,2023,WASHINGTON,0.493,0.507,0.491,0.509,0.903,0.028,0.004,0.014,...,0.097,0.805,0.030,0.081,0.165,0.000000,74.000000,61.000000,96.000000,2
38,2023,WESTMORELAND,0.494,0.506,0.490,0.510,0.922,0.027,0.001,0.009,...,0.110,0.809,0.037,0.102,0.166,19.000000,108.000000,35.000000,89.000000,2
39,2023,YORK,0.498,0.502,0.492,0.508,0.802,0.053,0.001,0.014,...,0.087,0.835,0.036,0.075,0.166,0.000000,91.000000,22.000000,0.000000,2

In [104]:
# Export 2023 final county dataset with segmentation column included for model extrapolation (executed in another notebook)
ultimate_2023_county_df.to_csv('Resources/2023_County_Final_With_Segments.csv', index=False)